@CHARSET "ISO-8859-1";

.ui-menubar,.ui-menu-list{
	background-color: #262F36;
}

.ui-menuitem-text {
	color:#E6E6E6;
}
.ui-panelmenu-header{
	background-color: #262F36;
}

.ui-panelmenu-header a:link {
	color: #E6E6E6;
}

.ui-panelmenu-header  span .ui-icon {
	color: #E6E6E6;
}

.ui-menu-list .ui-menuitem a:link{
	color:#E6E6E6;
}

.ui-menu-list .ui-menuitem a:visited {
	color:#E6E6E6;	
}


.ui-menu-list .ui-menuitem a:hover {
	background-color: #E6E6E6;	
}

.ui-menu-list .ui-state-hover .ui-menuitem-text {
	color:#262F36;		
}

.ui-menu-list .ui-menuitem  a:hover .ui-menuitem-text{
	color:#262F36;	
}