body {
  padding-top: 0px;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  width: 80%;
  margin: 20px auto 10px;
  border-style: solid;
  border-bottom-color: #3db31d;
  border-radius: 22px;
  background-color: white;
  box-shadow: none;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #4ec41b;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
  text-shadow: #d8f0bd 1px 1px 6px;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-top: 10px;
  margin-bottom: 16px;
  padding-top: 0px;
  background-color: white;
  box-shadow: white 0px 0px 6px 0px;
  color: #1a5c06;
  font-size: 34px;
  font-weight: 400;
  text-align: center;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.stop {
  position: static;
  left: 889px;
  top: 28px;
  right: 0px;
  bottom: 2px;
  display: block;
  height: 400px;
  min-height: 400px;
  padding-left: 0px;
  background-color: white;
}
.hand {
  position: static;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}
@media (max-width: 991px) {
  h1 {
    box-shadow: none;
  }
}
@media (max-width: 767px) {
  h1 {
    box-shadow: none;
  }
}
@media (max-width: 479px) {
  h1 {
    box-shadow: none;
  }
}

