.product .product-list-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
}

.product .product-list-item .product-list-detail {
  flex: 1 1 0;
  -ms-flex: 1 1 0;
}

.product .product-list-item .product-list-action {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.product .product-name {
  font-size: 1rem;
  font-weight: 700;
  padding-left: 5px;
}

.product .product-description {
  margin: 0 0 1rem 0;
  font-size: 1rem;
  font-weight: 700;
  padding-left: 5px;
}