@CHARSET "ISO-8859-1";

body {
	background-color: white;	
	background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
            body { 
                background-image: url("#{resource['images/fondo-small.png']}");
                background-repeat: no-repeat;
                background-color: 98ce9e;
                background-repeat: cover;
            }
        }
        
@media only screen and (max-width: 1400px) and  (min-width: 601px){
            body { 
                background-image: url("#{resource['images/fondo-medio.png']}");               
                background-position: center center;
            }
}

@media only screen and (min-width: 1401px) {
            body { 
                background-image: url("#{resource['images/fondo.png']}");
                background-repeat: no-repeat;
                background-color: #f7bc63;
                
            }
}