.autoregulacion-ingreso-datos .ui-widget-content{
	color: #025AAA;
	background-image: url("#{resource['images/rainbow.jpg']}");
	background-size:cover;
	font-size: 1.2em;	
}
.autoregulacion-ingreso-datos {
	background-image: url("#{resource['images/rainbow.jpg']}");
}
.letra-blanca {
	color:white;
}