<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pa="http://primefaces.org/mirage"
	xmlns:o="http://omnifaces.org/ui">

	<div class="layout-breadcrumb">
		<div class="breadcrumb">
			<div class="route-bar-breadcrumb">
				<ui:insert name="viewname" />
			</div>
		</div>
		<h:form id="formbc">
		<div class="notification" id="notificacionbc">
			<span>#{ultimaAlertaBean.ultimaAlerta.descripcion}</span>
			<span>#{ultimaAlertaBean.ultimaAlerta.fecha}</span>
		</div>
		
		<p:poll interval="60" listener="#{ultimaAlertaBean.consultarAlertas(e)}" update="@form"/>
		</h:form>
	</div>

</ui:composition>