<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <div class="layout-footer">
        <div class="logo-text">
            <p:graphicImage name="images/icono_escritorio_prortm.png" library="mirage-layout" />
            <div class="text">
                <h1>Pro-ambiente sas 2023</h1>
                <span>Prortm </span>
                <span>#{informacionCdaSessionBean.versionSoftware}</span>
            </div>
        </div>
        <div class="icons">
            <div class="icon icon-hastag">
                <a href="https://www.proambientesas.com" class="pi pi-home"/>
            </div>            
        </div>
    </div>
</ui:composition>
