<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>

	<title>Prortm</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<f:event listener="#{logoutBean.isPasswordExpired}"
		type="preRenderView" />

	<h:outputStylesheet name="css/default.css" />
	<h:outputStylesheet name="css/menubarresponsive.css" />
	<h:outputStylesheet name="css/custom_menubar.css" />
	<link rel="icon" type="image/png" href="#{resource['images/pr-icon.png']}"></link> 
	<ui:insert name="head"></ui:insert>
</h:head>

<h:body>
	<div class="ui-g">
		<div class="ui-g-12 ui-md-12 ui-g-nopad">
			<div class="ui-fluid">
				<p:growl id="growl_general" showDetail="true" />
				<h:form>
					<p:menubar styleClass="horizontalmenu" id="custom_menubar">
						<p:submenu label="REVISION">
							<p:menuitem value="Habilitacion Rapida revision"
								url="/prortmwebapp/pages/ingresorapido.xhtml?faces-redirect=true" ajax="false" />
							<p:menuitem value="Buscar Por Placa"
								url="/prortmwebapp/pages/revisionplaca.xhtml?faces-redirect=true"
								ajax="false" />
							<p:menuitem value="Estado Revisiones" url="/prortmwebapp/estadorevisiones.xhtml?faces-redirect=true"
								ajax="false" />
							<p:menuitem value="Resumen por fecha" url="/prortmwebapp/pages/resumen.xhtml?faces-redirect=true"
								ajax="false" />
							<p:menuitem value="Importar Datos" url="/prortmwebapp/pages/importardesdeexcel.xhtml?faces-redirect=true"
								ajax="false" />
							<p:menuitem value="Anular Revision"
								url="/prortmwebapp/pages/borrarrevision.xhtml?faces-redirect=true" ajax="false" />
								<p:menuitem value="Inicio"
								url="/inicio.xhtml" ajax="false" />
								
							<p:menuitem value="Datos Revision" url="/prortmwebapp/pages/revisiones.xhtml?faces-redirect=true"
								ajax="false" />
								
						</p:submenu>

						<p:submenu label="Configuracion">
							<p:menuitem value="Usuarios" url="/prortmwebapp/pages/usuarios.xhtml?faces-redirect=true" />
							<p:menuitem value="Informacion Cda"
								url="/prortmwebapp/pages/configuracion.xhtml?faces-redirect=true" ajax="false"/>
							<p:menuitem value="Crear aseguradora"
								url="/prortmwebapp/pages/aseguradora.xhtml" />
							<p:menuitem value="Analizadores" url="/prortmwebapp/pages/analizador.xhtml?faces-redirect=true" />
							<p:menuitem value="Equipos" url="/prortmwebapp/pages/equipos.xhtml?faces-redirect=true" />
							<p:menuitem value="Filtros" url="/prortmwebapp/pages/filtros.xhtml?faces-redirect=true" />
							<p:menuitem value="Pipetas" url="/prortmwebapp/pages/pipetas.xhtml?faces-redirect=true" />
							<p:menuitem value="Pistas" url="/prortmwebapp/pages/pistas.xhtml?faces-redirect=true" />
							<p:menuitem value="Tipos de Equipo"
								url="/prortmwebapp/pages/tiposequipo.xhtml?faces-redirect=true" />
							<p:menuitem value="Configuracion Taximetro"
								url="/prortmwebapp/pages/parametrospruebataximetro.xhtml?faces-redirect=true" />
							<p:menuitem value="Cambiar password"
								url="/prortmwebapp/pages/cambiopassword.xhtml" />
							<p:menuitem value="Importar Colores"
								url="/prortmwebapp/pages/importarcolores.xhtml?faces-redirect=true" />
							<p:menuitem value="Importar Marcas"
								url="/prortmwebapp/pages/importarmarcas.xhtml?faces-redirect=true" />
							<p:menuitem value="Importar Lineas"
								url="/prortmwebapp/pages/importarlineas.xhtml?faces-redirect=true" />
								
							<p:menuitem value="Historial Cambio Password"
								url="/prortmwebapp/pages/historialcambiopassword.xhtml?faces-redirect=true" />	
								
						</p:submenu>
						
						<p:submenu label = "Bitacora">
							<p:menuitem value="Ingreso Errores"
								url="/prortmwebapp/pages/bitacora.xhtml?faces-redirect=true" />
							<p:menuitem value="Ver Eventos"
								url="/prortmwebapp/pages/entradasbitacora.xhtml?faces-redirect=true" />
						</p:submenu>	
						
						
						<p:submenu label="Historial inspecciones">
							<p:menuitem value="Inspecciones vehiculo"
								url="/prortmwebapp/pages/inspeccion.xhtml"></p:menuitem>
							<p:menuitem value="Informe Sensorial"
								url="/prortmwebapp/pages/informeinspeccionsensorial.xhtml?faces-redirect=true"></p:menuitem>
							<p:menuitem value="Borrar Inspeccion"
								url="/prortmwebapp/pages/borrarinspeccion.xhtml?faces-redirect=true"></p:menuitem>
						</p:submenu>
						<p:submenu label="Envios Sicov">
							<p:menuitem value="Eco" url="/prortmwebapp/pages/testechoci2.xhtml?faces-redirect=true"
								ajax="false"></p:menuitem>							
							<p:menuitem value="Alertas"
								url="/prortmwebapp/pages/alertas.xhtml"></p:menuitem>
								
							<p:menuitem value="Segundo envio "
								url="/prortmwebapp/pages/segundoenvioindra.xhtml"></p:menuitem>	
							<p:menuitem value="Registrar 1 envio manualmente"
								url="/prortmwebapp/pages/registrarprimerenvio.xhtml"></p:menuitem>
							<p:menuitem value="Lista Revisiones En Proceso"
								url="/prortmwebapp/pages/listaenviosenproceso.xhtml"></p:menuitem>
						</p:submenu>

						<p:submenu label="Ambiental">
							<p:submenu label="Car Cundinamarca">
								<p:menuitem value="Pruebas Diesel Car Cundinamarca"
									url="/prortmwebapp/pages/pruebasdieselcarcundinamarca.xhtml"></p:menuitem>

								<p:menuitem value="Pruebas Otto Car Cundinamarca"
									url="/prortmwebapp/pages/pruebasottocarcundinamarca.xhtml"></p:menuitem>
								
								<p:menuitem value="Pruebas Otto Motos Car Cundinamarca"
								url="/prortmwebapp/pages/pruebasottomotocicletacarcundinamarca.xhtml"></p:menuitem>
								
							</p:submenu>
							<p:submenu label = "Caldas">
								<p:menuitem value="Informe Motocicletas"
											url="/prortmwebapp/pages/pruebasottomotocicletacaldas.xhtml">
									
								</p:menuitem>
							</p:submenu>
							<p:submenu label = "Medellin">
								<p:menuitem value="Informe Revisiones"
											url="/prortmwebapp/pages/informerevisionesmedellin.xhtml">
							    </p:menuitem>
								<p:menuitem value="Informe Medidas "
											url="/prortmwebapp/pages/pruebasottomotocicletamedellin.xhtml">
											
									
								</p:menuitem>
								
								<p:menuitem value="Informe Diesel Res 0762 "
											url="/prortmwebapp/pages/pruebasdieselres0762medellin.xhtml">								
								</p:menuitem>
								
								<p:menuitem value="Informe Motocicletas Res 0762 "
											url="/prortmwebapp/pages/pruebasottomotocicletares0762.xhtml">								
								</p:menuitem>
								
								<p:menuitem value="Informe Vehiculos Res 0762 "
											url="/prortmwebapp/pages/pruebasottovehiculos0762.xhtml">								
								</p:menuitem>
								
								
								
							</p:submenu>
							
							
							
							<p:menuitem value="Verificaciones Otto"
								url="/prortmwebapp/pages/verificacionesgasolina.xhtml?faces-redirect=true"></p:menuitem>
							
							<p:menuitem value="Verificaciones Linealidad"
								url="/prortmwebapp/pages/verificacioneslinealidad.xhtml?faces-redirect=true"></p:menuitem>
							<p:menuitem value="Prueba de Fugas"
								url="/prortmwebapp/pages/informepruebafugas.xhtml?faces-redirect=true"></p:menuitem>
							<p:menuitem value="Pruebas Otto Vehiculos"
								url="/prortmwebapp/pages/pruebasotto.xhtml"></p:menuitem>
							<p:menuitem value="Pruebas Otto Motocicletas"
								url="/prortmwebapp/pages/pruebasottomotocicleta.xhtml"></p:menuitem>							
							<p:menuitem value="Pruebas Diesel"
								url="/prortmwebapp/pages/pruebasdiesel.xhtml"></p:menuitem>		
							<p:menuitem value="Pruebas Ruido" url="/prortmwebapp/pages/pruebasruido.xhtml"></p:menuitem>
							
							<p:menuitem value="Informe" url="/prortmwebapp/pages/informesuper.xhtml"></p:menuitem>
							<p:menuitem value="Pruebas Abortads"
								url="/prortmwebapp/pages/pruebasabortadas.xhtml?faces-redirect=true"></p:menuitem>
							
						</p:submenu>

						<f:facet name="options">
							<p:commandButton value="Salir" icon="ui-icon-close"
								action="#{logoutBean.logout}" />
						</f:facet>
					</p:menubar>

					<p:panelMenu styleClass="verticalmenu">
						<p:submenu label="REVISION">
							<p:menuitem value="Habilitacion Rapida revision"
								url="/prortmwebapp/pages/ingresorapido.xhtml" ajax="false" />
							<p:menuitem value="Datos Revision" url="/prortmwebapp/pages/revisiones.xhtml"
								ajax="false" />
							<p:menuitem value="Buscar Por Placa"
								url="/prortmwebapp/pages/revisionplaca.xhtml?faces-redirect=true"
								ajax="false" />
							<p:menuitem value="Estado Revisiones" url="/prortmwebapp/inicio.xhtml"
								ajax="false" />
							<p:menuitem value="Resumen por fecha" url="/prortmwebapp/pages/resumen.xhtml"
								ajax="false" />
							<p:menuitem value="Anular Revision"
								url="/prortmwebapp/pages/borrarrevision.xhtml" ajax="false" />
						</p:submenu>

						<p:submenu label="Configuracion">
							<p:menuitem value="Usuarios" url="/prortmwebapp/pages/usuarios.xhtml" />
							<p:menuitem value="Informacion Cda"
								url="/prortmwebapp/pages/configuracion.xhtml" />
							<p:menuitem value="Crear aseguradora"
								url="/prortmwebapp/pages/aseguradora.xhtml" />
							<p:menuitem value="Analizadores" url="/prortmwebapp/pages/analizador.xhtml" />
							<p:menuitem value="Cambiar password"
								url="/prortmwebapp/pages/cambiopassword.xhtml" />
						</p:submenu>
						<p:submenu label="Historial inspecciones">
							<p:menuitem value="Inspecciones vehiculo"
								url="/prortmwebapp/pages/inspeccion.xhtml"></p:menuitem>
						</p:submenu>
						<p:submenu label="Ambiental">
							<p:menuitem value="Verificaciones Otto"
								url="/prortmwebapp/pages/verificacionesgasolina.xhtml"></p:menuitem>
							<p:menuitem value="Verificaciones Linealidad"
								url="/prortmwebapp/pages/verificacioneslinealidad.xhtml"></p:menuitem>
							<p:menuitem value="Prueba de Fugas"
								url="/prortmwebapp/pages/informepruebafugas.xhtml"></p:menuitem>
							<p:menuitem value="Pruebas Otto Vehiculos"
								url="/prortmwebapp/pages/pruebasotto.xhtml"></p:menuitem>
							<p:menuitem value="Pruebas Otto Motos"
								url="/prortmwebapp/pages/pruebasottomotocicleta.xhtml"></p:menuitem>
							<p:menuitem value="Pruebas Diesel"
								url="/prortmwebapp/pages/pruebasdiesel.xhtml"></p:menuitem>
							<p:menuitem value="Pruebas Ruido" url="/prortmwebapp/pages/pruebasruido.xhtml"></p:menuitem>
							<p:menuitem value="Informe" url="/prortmwebapp/pages/informesuper.xhtml"></p:menuitem>
						</p:submenu>

						<p:submenu label="Salir" icon="ui-icon-newwin">
							<p:menuitem value="Salir" icon="ui-icon-close"
								action="#{logoutBean.logout}" />
						</p:submenu>

					</p:panelMenu>

					<p:dialog header="Alerta" widgetVar="dlg1" minHeight="40" position="right,top" showEffect="shake"
								style="background-color:red;color:red">
						<h:outputText value="Una nueva alerta necesita atención urgente" />
					</p:dialog>
				</h:form>



				<script type="text/javascript">
        			function handleMessage(facesmessage) {
            			var severity = facesmessage.severity;
            			if(severity === "FATAL 3" || severity === "ERROR"){ 
            				PF('dlg1').show();            				
            			}else {
            				PF('growl_general').show([facesmessage]);
            			}
            			
        			}
				</script>
			</div>
			<div class="ui-g-12 ui-g-nopad">
				<ui:insert name="content"></ui:insert>
				<p:idleMonitor onactive="PF('sessionTimeOutDialog').show();"
					timeout="#{session.maxInactiveInterval*1000-1}">
					<p:ajax event="idle" listener="#{invalidateSession.timeout()}"
						update="@none"></p:ajax>
				</p:idleMonitor>
				<p:dialog header="Sesion expirada" widgetVar="sessionTimeOutDialog"
					modal="true" fixedCenter="true" closable="false" width="400"
					visible="false">
					<h:outputText
						value="La sesion ha expirado pulse el siguiente boton para volver a acceder a la aplicacion " />
					<input id="confirmBackToLogin" type="button" value="Inicio"
						onclick="window.location='#{facesContext.externalContext.requestContextPath}/inicio.xhtml?faces-redirect=true';" />
				</p:dialog>


			</div>
		</div>
		<div class="ui-g-12">Proambiente s.a.s. NIT 900594340-2 2023 nc 4-0-121 fc 20230214</div>
	</div>

</h:body>

</html>
