<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:pa="http://primefaces.org/mirage">

    <div class="layout-rightpanel">
        <div class="right-panel-header">
            <div class="title">
                <span>Hoy</span>
                <h1>#{fechaBean.getFechaHoraActual()}</h1>
            </div>
            <a href="#" class="rightpanel-exit-button">
                <i class="pi pi-times"/>
            </a>
        </div>
        <div class="right-panel-content">
            <h:form>
                <div class="right-panel-content-row">                      
				</div>
                <div class="right-panel-content-row">
                    <div class="calendar">
                        <h1>Calendar</h1>
                        <p:calendar mode="inline" />
                    </div>
                </div>

                
            </h:form>
        </div>
    </div>

</ui:composition>
