<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pm="http://primefaces.org/mirage">

    <div class="layout-sidebar">
        <div class="sidebar-logo">
            <a href="#" class="sidebar-pin" title="Toggle Menu">
                <i class="pi pi-lock"/>
            </a>
            <a href="/prortmwebapp/inicio.xhtml">
                <p:graphicImage name="images/logo_web.png" library="mirage-layout" />
                <span class="app-name">PRORTM</span>
            </a>
        </div>

        <div class="layout-menu-container">
            <h:form id="menuform">
                <pm:menu>
                    <p:submenu label="REVISION">
							<p:menuitem value="Habilitacion Rapida revision"
								url="/prortmwebapp/pages/ingresorapido.xhtml?faces-redirect=true" ajax="false" />
							<p:menuitem value="Buscar Por Placa"
								url="/prortmwebapp/pages/revisionplaca.xhtml?faces-redirect=true"
								ajax="false" />
							<p:menuitem value="Estado Revisiones" url="/prortmwebapp/estadorevisiones.xhtml?faces-redirect=true"
								ajax="false" />
							<p:menuitem value="Resumen por fecha" url="/prortmwebapp/pages/resumen.xhtml?faces-redirect=true"
								ajax="false" />
							<p:menuitem value="Importar Datos" url="/prortmwebapp/pages/importardesdeexcel.xhtml?faces-redirect=true"
								ajax="false" />
							<p:menuitem value="Anular Revision"
								url="/prortmwebapp/pages/borrarrevision.xhtml?faces-redirect=true" ajax="false" />
								<p:menuitem value="Inicio"
								url="/prortmwebapp/inicio.xhtml" ajax="false" />
								
							<p:menuitem value="Datos Revision" url="/prortmwebapp/pages/revisiones.xhtml?faces-redirect=true"
								ajax="false" />
								
						</p:submenu>

						<p:submenu label="Configuracion">
							<p:menuitem value="Usuarios" url="/prortmwebapp/pages/usuarios.xhtml?faces-redirect=true" />
							<p:menuitem value="Informacion Cda"
								url="/prortmwebapp/pages/configuracion.xhtml?faces-redirect=true" ajax="false"/>
							<p:menuitem value="Crear aseguradora"
								url="/prortmwebapp/pages/aseguradora.xhtml" />
							<p:menuitem value="Analizadores" url="/prortmwebapp/pages/analizador.xhtml?faces-redirect=true" />
							<p:menuitem value="Equipos" url="/prortmwebapp/pages/equipos.xhtml?faces-redirect=true" />
							<p:menuitem value="Filtros" url="/prortmwebapp/pages/filtros.xhtml?faces-redirect=true" />
							<p:menuitem value="Pipetas" url="/prortmwebapp/pages/pipetas.xhtml?faces-redirect=true" />
							<p:menuitem value="Pistas" url="/prortmwebapp/pages/pistas.xhtml?faces-redirect=true" />
							<p:menuitem value="Gestion Logo Onac" url="/prortmwebapp/pages/logosonac.xhtml?faces-redirect=true" />							
							<p:menuitem value="Configuracion Taximetro"
								url="/prortmwebapp/pages/parametrospruebataximetro.xhtml?faces-redirect=true" />
							<p:menuitem value="Cambiar password"
								url="/prortmwebapp/pages/cambiopassword.xhtml" />
							<p:menuitem value="Importar Colores"
								url="/prortmwebapp/pages/importarcolores.xhtml?faces-redirect=true" />
							<p:menuitem value="Importar Marcas"
								url="/prortmwebapp/pages/importarmarcas.xhtml?faces-redirect=true" />
							<p:menuitem value="Importar Lineas"
								url="/prortmwebapp/pages/importarlineas.xhtml?faces-redirect=true" />
								
							<p:menuitem value="Historial Cambio Password"
								url="/prortmwebapp/pages/historialcambiopassword.xhtml?faces-redirect=true" />	
								
						</p:submenu>
						
						<p:submenu label = "Bitacora">
							<p:menuitem value="Ingreso Errores"
								url="/prortmwebapp/pages/bitacora.xhtml?faces-redirect=true" />
							<p:menuitem value="Ver Eventos"
								url="/prortmwebapp/pages/entradasbitacora.xhtml?faces-redirect=true" />
						</p:submenu>	
						
						
						<p:submenu label="Historial inspecciones">
							<p:menuitem value="Inspecciones vehiculo"
								url="/prortmwebapp/pages/inspeccion.xhtml"></p:menuitem>
							<p:menuitem value="Informe Sensorial"
								url="/prortmwebapp/pages/informeinspeccionsensorial.xhtml?faces-redirect=true"></p:menuitem>
							<p:menuitem value="Borrar Inspeccion"
								url="/prortmwebapp/pages/borrarinspeccion.xhtml?faces-redirect=true"></p:menuitem>
						</p:submenu>
						<p:submenu label="Envios Sicov">
							<p:menuitem value="Eco" url="/prortmwebapp/pages/testechoci2.xhtml?faces-redirect=true"
								ajax="false"></p:menuitem>							
							<p:menuitem value="Alertas"
								url="/prortmwebapp/pages/alertas.xhtml"></p:menuitem>
								
							<p:menuitem value="Segundo envio "
								url="/prortmwebapp/pages/segundoenvioindra.xhtml"></p:menuitem>	
							<p:menuitem value="Registrar 1 envio manualmente"
								url="/prortmwebapp/pages/registrarprimerenvio.xhtml"></p:menuitem>
							<p:menuitem value="Lista Revisiones En Proceso"
								url="/prortmwebapp/pages/listaenviosenproceso.xhtml"></p:menuitem>
						</p:submenu>

						<p:submenu label="Ambiental">
							<p:submenu label="Car Cundinamarca">
								<p:menuitem value="Pruebas Diesel Car Cundinamarca"
									url="/prortmwebapp/pages/pruebasdieselcarcundinamarca.xhtml"></p:menuitem>

								<p:menuitem value="Pruebas Otto Car Cundinamarca"
									url="/prortmwebapp/pages/pruebasottocarcundinamarca.xhtml"></p:menuitem>
								
								<p:menuitem value="Pruebas Otto Motos Car Cundinamarca"
								url="/prortmwebapp/pages/pruebasottomotocicletacarcundinamarca.xhtml"></p:menuitem>
								
							</p:submenu>
							<p:submenu label = "Caldas">
								<p:menuitem value="Informe ambiental"
											url="/prortmwebapp/pages/pruebasottomotocicletadieselcaldas.xhtml">
									
								</p:menuitem>
							</p:submenu>
							<p:submenu label = "Medellin">
								<p:menuitem value="Informe Revisiones"
											url="/prortmwebapp/pages/informerevisionesmedellin.xhtml">
							    </p:menuitem>
								<p:menuitem value="Informe Medidas "
											url="/prortmwebapp/pages/pruebasottomotocicletamedellin.xhtml">
											
									
								</p:menuitem>
								
								<p:menuitem value="Informe Diesel Res 0762 "
											url="/prortmwebapp/pages/pruebasdieselres0762medellin.xhtml">								
								</p:menuitem>
								
								<p:menuitem value="Informe Motocicletas Res 0762 "
											url="/prortmwebapp/pages/pruebasottomotocicletares0762.xhtml">								
								</p:menuitem>
								
								<p:menuitem value="Informe Vehiculos Res 0762 "
											url="/prortmwebapp/pages/pruebasottovehiculos0762.xhtml">								
								</p:menuitem>
								
								
								
							</p:submenu>
							
							
							
							<p:menuitem value="Verificaciones Otto"
								url="/prortmwebapp/pages/verificacionesgasolina.xhtml?faces-redirect=true"></p:menuitem>
							
							<p:menuitem value="Verificaciones Linealidad"
								url="/prortmwebapp/pages/verificacioneslinealidad.xhtml?faces-redirect=true"></p:menuitem>
							<p:menuitem value="Prueba de Fugas"
								url="/prortmwebapp/pages/informepruebafugas.xhtml?faces-redirect=true"></p:menuitem>
							<p:menuitem value="Pruebas Otto Vehiculos"
								url="/prortmwebapp/pages/pruebasotto.xhtml"></p:menuitem>
							<p:menuitem value="Pruebas Otto Motocicletas"
								url="/prortmwebapp/pages/pruebasottomotocicleta.xhtml"></p:menuitem>							
							<p:menuitem value="Pruebas Diesel"
								url="/prortmwebapp/pages/pruebasdiesel.xhtml"></p:menuitem>		
							<p:menuitem value="Pruebas Ruido" url="/prortmwebapp/pages/pruebasruido.xhtml"></p:menuitem>
							
							<p:menuitem value="Informe" url="/prortmwebapp/pages/informesuper.xhtml"></p:menuitem>
							<p:menuitem value="Pruebas Abortads"
								url="/prortmwebapp/pages/pruebasabortadas.xhtml?faces-redirect=true"></p:menuitem>
							
						</p:submenu>
                </pm:menu>
            </h:form>
        </div>
    </div>

</ui:composition>
