<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui" xmlns:pa="http://primefaces.org/mirage"
                xmlns:o="http://omnifaces.org/ui">
	
	<o:socket channel="notify_secondary" 
			onmessage="someCommandScript" />
		<h:form id="form_notificacion" >
		<p:growl id= "growl_notificacion"></p:growl>
			<o:commandScript name="someCommandScript" action="#{notificacionBean.pushed(message)}"
				render=":form_notificacion:growl_notificacion" />
		</h:form>
	
    <div class="layout-topbar">
        <div class="layout-topbar-wrapper">
            <div class="layout-topbar-left">
                <div class="layout-topbar-logo-wrapper">
                    <a href="inicio.xhtml" class="layout-topbar-logo">
                        <p:graphicImage name="images/usuario.png" library="mirage-layout" />
                        <span class="app-name">Webapp</span>
                    </a>
                </div>

               




                <!-- Mega Menu -->

            </div>
            <div class="layout-topbar-right">
                <ul class="layout-topbar-actions">
                    
                    <li class="topbar-item">
                        <a href="/prortmwebapp/estadorevisiones.xhtml">
                            <i class="pi pi-filter"/>
                        </a>                        
                    </li>
                    <li class="topbar-item">
                        <a href="/prortmwebapp/pages/revisionplaca.xhtml">
                            <i class="pi pi-search"/>
                        </a>
                     </li>   
                    <li class="topbar-item">
                        <a href="/prortmwebapp/pages/ingresorapido.xhtml">
                            <i class="pi pi-car"/>
                        </a>
                        
                    </li>
                    <li class="topbar-item profile-item">
                        <a href="#">
                            <span class="profile-image-wrapper">
                                <p:graphicImage name="images/topbar/usuario.png" library="mirage-layout" />
                            </span>
                            <span class="profile-info-wrapper">
                                <h:outputText value="#{principalBean.usuarioAutenticado}"/>
                                <span></span>
                            </span>
                        </a>
                        <ul class="profile-item-submenu">
                            <li class="profile-submenu-header">
                                
                                <div class="profile">
                                    <p:graphicImage name="images/topbar/usuario.png" library="mirage-layout"
                                        width="40" />
                                    <h:outputText value="#{principalBean.nombresApellidosUsuario}"/>
                                    <span></span>
                                </div>
                            </li>
  


                            <li class="layout-submenu-footer">
                                <h:form>
                                <p:commandButton class="signout-button" action="#{logoutBean.logout}" ajax="false" value="Salir" ></p:commandButton>
                                </h:form>
                                
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="layout-rightpanel-button">
                            <i class="pi pi-arrow-left"/>
                        </a>
                    </li>
                </ul>

                <ul class="profile-mobile-wrapper">
                    <li class="topbar-item profile-item">
                        <a href="#">
                            <span class="profile-image-wrapper">
                                <p:graphicImage name="images/topbar/avatar-eklund.png" library="mirage-layout" />
                            </span>
                            <span class="profile-info-wrapper">
                                <h3>Olivia Eklund</h3>
                                <span>Design</span>
                            </span>
                        </a>
                        <ul>
                            <li class="profile-submenu-header">
                                <div class="performance">
                                    <span>Weekly Performance</span>
                                    <p:graphicImage name="images/topbar/asset-bars.svg" library="mirage-layout" />
                                </div>
                                <div class="profile">
                                    <p:graphicImage name="images/topbar/avatar-eklund.png" library="mirage-layout"
                                        width="45" />
                                    <h1>Olivia Eklund</h1>
                                    <span>Design</span>
                                </div>
                            </li>
                            <li>
                                <i class="pi pi-list icon icon-1"/>
                                <div class="menu-text">
                                    <p>Tasks</p>
                                    <span>3 open issues</span>
                                </div>
                                <i class="pi pi-angle-right"/>
                            </li>
                            <li>
                                <i class="pi pi-shopping-cart icon icon-2"/>
                                <div class="menu-text">
                                    <p>Payments</p>
                                    <span>24 new</span>
                                </div>
                                <i class="pi pi-angle-right"/>
                            </li>
                            <li>
                                <i class="pi pi-users icon icon-3"/>
                                <div class="menu-text">
                                    <p>Clients</p>
                                    <span>+80%</span>
                                </div>
                                <i class="pi pi-angle-right"/>
                            </li>
                            <li class="layout-submenu-footer">
                                <button class="signout-button">Sign Out</button>
                                <button class="buy-mirage-button">Buy Mirage</button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</ui:composition>
