<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<p:growl id="growl">
			</p:growl>
			<div class="ui-fluid">
				<p:panelGrid columns="12" styleClass="ui-responsive"
					columnClasses="ui-grid-col-1,ui-grid-col-2,ui-grid-col-1,ui-grid-col-3,
											ui-grid-col-3"
					layout="grid">
					<p:row>
						<p:outputLabel>Fecha Inicio</p:outputLabel>

						<p:calendar value="#{alertaBean.fechaInicial}" id="fechainicio">
						</p:calendar>

						<p:outputLabel>Fecha Fin</p:outputLabel>
						<p:calendar value="#{alertaBean.fechaFinal}" id="fechafin"></p:calendar>


						<p:commandButton value="CONSULTAR"
							process="@this fechainicio fechafin" update="@form"
							actionListener="#{alertaBean.consultarAlertas}" ajax="true"></p:commandButton>


						<h:commandLink value="Exportar">
							<p:dataExporter type="xls" target="infoAlertas"
								fileName="alertas" />
						</h:commandLink>


					</p:row>
				</p:panelGrid>
			</div>

			<p:dataTable id="infoAlertas" value="#{alertaBean.alertasGeneradas}"
				scrollable="true" scrollWidth="90%" var="alerta"
				rowIndexVar="numeroFila">
				<p:column>
					<p:outputLabel value="#{numeroFila+1}">
					</p:outputLabel>
				</p:column>

				<p:column headerText="Fecha ">
					<p:outputLabel value="#{alerta.fecha}">
					</p:outputLabel>
				</p:column>

				<p:column headerText="Nivel">
					<p:outputLabel value="#{alerta.nivel}">
					</p:outputLabel>
				</p:column>

				<p:column headerText="Descripcion">
					<p:outputLabel value="#{alerta.descripcion}">
					</p:outputLabel>
				</p:column>


				<p:column headerText="Reconocer">
					<p:selectBooleanCheckbox value="#{alerta.reconocida}"></p:selectBooleanCheckbox>
				</p:column>

				<p:column headerText="">
					<p:commandButton value="Atendida"
						actionListener="#{alertaBean.reconocerAlerta(alerta.alertaId)}"
						update="@form"></p:commandButton>
				</p:column>

			</p:dataTable>

		</h:form>
	</ui:define>

</ui:composition>
