<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="head">
	
	</ui:define>
	<ui:define name="content">
			
		<h:form id="form">
			<p:panelGrid columns="1">
				<p:commandButton id="boton_editar" value="Editar Info Analizador" process="@this :form:tabla_analizadores" disabled="#{empty analizadorCRUDBean.analizadorSeleccionado.serial}" update=":form:detalle_analizador :form:growl" actionListener="#{analizadorCRUDBean.atachAnalizador}" oncomplete=" PF('dialogo').show()"></p:commandButton>			
			</p:panelGrid>
		
			<p:growl id="growl" ></p:growl>
			
			<p:dataTable id="tabla_analizadores"  selectionMode="single" value="#{analizadorCRUDBean.analizadores}" var="analizador"  selection="#{analizadorCRUDBean.analizadorSeleccionado}" rowKey="#{analizador.serial}" >
			 <p:ajax event="rowSelect" process=":form:tabla_analizadores" update=":form:boton_editar"/>
			<p:column headerText="serial electronico interno">
				<h:outputText value="#{analizador.serial}" />				
			</p:column>
			<p:column headerText="tipo">
				<h:outputText value="#{analizador.tipo}" />
			</p:column>
			<p:column headerText="serial del  analizador">
				<h:outputText value="#{analizador.serialAnalizador}" />
			</p:column>
			<p:column headerText="modelo">
				<h:outputText value="#{analizador.modelo}" />				
			</p:column>
			<p:column headerText="marca banco de gases">
				<h:outputText value="#{analizador.marca}" />
			</p:column>
			<p:column headerText = "fabricante">
				<h:outputText value="#{analizador.fabricante}" />
			</p:column>
			<p:column headerText="marca analizador de gases">
				<h:outputText value="#{analizador.marcaAnalizadorGases}" />
			</p:column>
			<p:column headerText="modelo banco de gases">
				<h:outputText value="#{analizador.modeloBancoGases}" />
			</p:column>
			
			<p:column headerText="serial banco de gases">
				<h:outputText value="#{analizador.serialBancoGases}" />
			</p:column>
									
		</p:dataTable>
		
		<p:dialog widgetVar="dialogo"  header="Informacion de Analizador" modal="true" >
		<p:outputPanel id="detalle_analizador" >
		 
			<p:panelGrid columns = "4">
				<h:outputLabel value="Serial Electronico Interno" />
				<h:outputText value="#{analizadorCRUDBean.analizadorSeleccionado.serial}" />
				
				<h:outputLabel value="Marca del banco de gases" />
				<h:outputText value="#{analizadorCRUDBean.analizadorSeleccionado.marca}"/>
				
				<h:outputLabel value="Serial del banco de gases" />
				<p:inputText value = "#{analizadorCRUDBean.analizadorSeleccionado.serialBancoGases}" required = "false" />
				
				<h:outputLabel value="Modelo del banco de gases" />
				<p:inputText value = "#{analizadorCRUDBean.analizadorSeleccionado.modeloBancoGases}" required = "false" />
				
				<h:outputLabel value="Modelo del analizador" />
				<p:inputText value="#{analizadorCRUDBean.analizadorSeleccionado.modelo}" required="true" requiredMessage="Modelo requerido" validatorMessaje="Modelo requerido"/>
				
				<h:outputLabel value="Serial del analizador" />
				<p:inputText value="#{analizadorCRUDBean.analizadorSeleccionado.serialAnalizador}" required="true" requiredMessage="Serial requerido" validatorMessage="Serial requerido"/>
				
				<h:outputLabel value="Marca del analizador" />
				<p:inputText value="#{analizadorCRUDBean.analizadorSeleccionado.marcaAnalizadorGases}" required="true" requiredMessage="Serial requerido" validatorMessage="Serial requerido"/>	
				
				<h:outputLabel value="PEF - solo analizador de gases" />
				<h:outputText value="#{analizadorCRUDBean.analizadorSeleccionado.pef}" />
				
				<h:outputLabel value="LTOE - solo opacimetros" />
				<p:inputText value="#{analizadorCRUDBean.analizadorSeleccionado.ltoe}" />	
				
				<h:outputLabel value="Fabricante" />
				<p:inputText value = "#{analizadorCRUDBean.analizadorSeleccionado.fabricante}" required = "false" />				
				
				<h:outputLabel value="Bloqueo Autoridad Competente"/>
				<h:selectBooleanCheckbox value="#{analizadorCRUDBean.analizadorSeleccionado.bloqueoAutoridadAmbiental}" />
			</p:panelGrid>
			
			
			<p:commandButton  value="Guardar"  process="@this :form:detalle_analizador" update=":form:tabla_analizadores :form:growl" actionListener="#{analizadorCRUDBean.guardarCambios}" oncomplete="PF('dialogo').hide()"></p:commandButton>
			
		</p:outputPanel>	
		</p:dialog>
		
		
		</h:form>
	</ui:define>
	
	
</ui:composition>
