<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="head">
	
	</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<p:growl autoUpdate="true" id="messages"></p:growl>
			
			<p:dataTable id="tabla_aseguradoras" value="#{listaAseguradoras}" var = "aseguradora" >
				<p:column headerText="Nombre Aseguradora">
					<p:outputLabel value="#{aseguradora.nombre}"></p:outputLabel>
				</p:column>
				<p:column headerText="Codigo">
					<p:outputLabel value="#{aseguradora.codigo}"></p:outputLabel>
				</p:column>
			</p:dataTable>
			
			<p:panel header="Nueva Aseguradora">
				<p:panelGrid columns = "2">
					<p:outputLabel value="Nombre"></p:outputLabel>
					<p:inputText value="#{aseguradoraBean.nuevaAseguradora.nombre}"></p:inputText>
					<p:outputLabel value="Codigo"></p:outputLabel>
					<p:inputText value= "#{aseguradoraBean.nuevaAseguradora.codigo}"></p:inputText>
					<p:commandButton value= "Crear" actionListener="#{aseguradoraBean.crearAseguradora(ae)}" update=":form:tabla_aseguradoras"></p:commandButton>
					<p:commandButton value = "Cancelar" action = "/inicio.xhtml?faces-redirect = true" immediate="true"/>
				</p:panelGrid>
			</p:panel>
		</h:form>
	</ui:define>
		
</ui:composition>
