<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<f:view contentType="text/html">
	<f:metadata>
        <f:viewParam name="revisionId" value="#{seleccionJefeTecnicoBean.revisionId}"/>
    </f:metadata>
<h:head>
    <title>Asignar Usuario Responsable</title>
    <h:outputScript library="primefaces" name="jquery/jquery.js" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</h:head>
<h:body >	
	
		<h:form id="form1">
			
			<p:panel>
				<p:panelGrid columns="4" layout="grid">
					<p:row>
						<p:column >PLACA</p:column>
						<p:column>
							<h:outputText value="#{seleccionJefeTecnicoBean.placa}"></h:outputText>
						</p:column>
						<p:column >NUMERO REVISION</p:column>						
						<p:column><h:outputText value="#{seleccionJefeTecnicoBean.revision.revisionId}"></h:outputText>
						</p:column>
					</p:row>			
				</p:panelGrid>				
			</p:panel>
			<p:panelGrid columns="2" layout="grid">
				<p:outputLabel value = "usuario responsable"></p:outputLabel>
				<p:selectOneMenu id="lista_usuarios"
						value="#{seleccionJefeTecnicoBean.usuarioSeleccionado}"
						converter="#{usuarioConverter}">
						<f:selectItems value="#{seleccionJefeTecnicoBean.usuarios}" var="item"
							itemLabel="#{item.nombres}" itemValue="#{item}">
						</f:selectItems>
				</p:selectOneMenu>
				
				<p:commandButton value="Guardar" actionListener="#{seleccionJefeTecnicoBean.guardar()}" update="@form"></p:commandButton>			
				
				<p:message for="lista_usuarios" id="lista_usuarios_error"></p:message>
			</p:panelGrid>
			
                    
        </h:form>
</h:body>

</f:view>
</html>	