<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	
	<f:metadata>
		<f:viewParam name="bitacoraId" value="#{bitacoraBean.bitacoraId}" />
		<f:event type="preRenderView" rendered="#{facesContext.postBack}"
			listener="#{bitacoraBean.init}" />
	</f:metadata>
	
	<ui:define name="head">
	
	</ui:define>
	<ui:define name="content">
	<h:form id="form">
	
		<p:growl autoUpdate="true"></p:growl>		
		<p:panelGrid columns="2" style="width:75%; margin: 0 auto;">
		
			<p:outputLabel value="Reporte de error en bitacora"></p:outputLabel>
			<p:outputLabel></p:outputLabel>
			
			<p:outputLabel value="Descripcion"></p:outputLabel>
			<p:inputTextarea value="#{bitacoraBean.bitacora.descripcion}" style="width:100%"></p:inputTextarea>
			
			<p:outputLabel value="Acciones Realizadas" ></p:outputLabel>
			<p:inputTextarea value= "#{bitacoraBean.bitacora.accionesRealizadas}" style="width:100%"></p:inputTextarea>
					
			<p:commandButton value="Guardar" process="@form"  update="@this" 
							 actionListener="#{bitacoraBean.guardarCambios(ae)}"
							 disabled="#{bitacoraBean.deshabilitarBoton}"></p:commandButton>
			<p:commandButton value = "Cancelar" id="boton_cancelar" ajax="false" immediate="true" action="/inicio.xhtml?faces-redirect=true"></p:commandButton>
			
		</p:panelGrid>	
	</h:form>
	</ui:define>
		
</ui:composition>
