<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<p:growl autoUpdate="true" id="messages"></p:growl>

			<p:outputLabel
				value="ANULAR REVISION , LA REVISION NO DEBE TENER NINGUNA PRUEBA FINALIZADA "></p:outputLabel>

			<p:card style="margin: 10px 10px 10px 10px">
				<div class="grid">

					<div class="col">
						<p:outputLabel value="Placa"></p:outputLabel>
					</div>

					<div class="col">
						<p:inputText id="input_placa" value="#{borrarRevisionBean.placa}"></p:inputText>
					</div>

					<div class="col">
						<p:commandButton value="Buscar"
							actionListener="#{borrarRevisionBean.buscarRevisiones}"
							process="@this input_placa" update="tbl_rev msg_test"></p:commandButton>
					</div>

				</div>
			</p:card>


			<p:card style="margin: 10px 10px 10px 10px">
				<h:outputText id="msg_test" value="#{borrarRevisionBean.test}" />

				<p:dataTable id="tbl_rev" value="#{borrarRevisionBean.revisiones}"
					var="revision" selectionMode="single"
					selection="#{borrarRevisionBean.revisionSeleccionada}"
					rowKey="#{revision.revisionId}">

					<f:facet name="header">
						<div class="products-table-header">
							<span style="font-weight: bold">REVISIONES</span>
						</div>
					</f:facet>

					<p:column headerText="Num">
						<p:outputLabel value="#{revision.revisionId}">
						</p:outputLabel>
					</p:column>
					<p:column headerText="Fecha">
						<p:outputLabel value="#{revision.fechaCreacionRevision}">
						</p:outputLabel>
					</p:column>
					<p:column headerText="Numero Intento">
						<p:outputLabel value="#{revision.numeroInspecciones}">
						</p:outputLabel>
					</p:column>
					<p:column headerText="Consec RUNT">
						<p:outputLabel value="#{revision.consecutivoRunt}"></p:outputLabel>
					</p:column>
					<p:column headerText="FUPA">
						<p:outputLabel value="#{revision.numeroSolicitud}" />
					</p:column>
				</p:dataTable>
			</p:card>


			<p:card style="margin: 10px 10px 10px 10px">
				<p:dataTable id="tabla_inspecciones"
					value="#{borrarRevisionBean.revisionSeleccionada.reinspecciones}"
					var="inspeccion" rowKey="#{inspeccion.inspeccionId}">

					<f:facet name="header">
						<div class="products-table-header">
							<span style="font-weight: bold">INTENTOS</span>
						</div>
					</f:facet>

					<p:column headerText="Num">
						<p:outputLabel value="#{inspeccion.inspeccionId}">
						</p:outputLabel>
					</p:column>
					<p:column headerText="Fecha">
						<p:outputLabel value="#{inspeccion.fechaInspeccionAnterior}">
						</p:outputLabel>
					</p:column>
					<p:column headerText="Numero Intento">
						<p:outputLabel value="#{inspeccion.numeroInspeccion}">
						</p:outputLabel>
					</p:column>
				</p:dataTable>

			</p:card>


			<p:card style="margin: 10px 10px 10px 10px">
				<div class="grid">
					
					<div class="col">
					<p:commandButton value="anular"
						actionListener="#{borrarRevisionBean.borrarRevision}"
						update="button_confirmar tabla_inspecciones"></p:commandButton>
					</div>
					
					<div class="col">	
					<p:commandButton id="button_confirmar" value="Confirmar"
						actionListener="#{borrarRevisionBean.borrarRevisionDefinitivamente}"
						disabled="#{borrarRevisionBean.autorizarBorrado}" update=":form:messages"></p:commandButton>
					</div>
					
					<div class="col">	
					<p:commandButton value="Cancelar"
						action="/inicio.xhtml?faces-redirect=true" ajax="false"
						onclick="$('#form').attr({'target':'_self'})" immediate="true"></p:commandButton>
					</div>	
				</div>
			</p:card>	

		</h:form>
	</ui:define>

</ui:composition>
