<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">
		<div class="ui-fluid">
		<p:ajaxStatus onstart="PF('statusDialog').show()"
			onsuccess="PF('statusDialog').hide()" />

		<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
			closable="false" resizable="false" showHeader="false">
			<p:graphicImage name="/images/ajax-loading-bar.gif" />
		</p:dialog>
			<h:form id="form">
				<p:growl autoUpdate="true" id="messages"></p:growl>
				
				<p:outputLabel
					value="BORRAR PRIMER INTENTO REPROBADO DE VEHICULO ">
				</p:outputLabel>
				
				<p:panelGrid columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" layout="grid">
					
					<p:outputLabel value="Placa"></p:outputLabel>
					<p:inputText id="input_placa" value="#{borrarInspeccionBean.placa}"></p:inputText>
					
					<p:outputLabel value="Revision Id"></p:outputLabel>
					<p:inputText id="input_revision_id" value="#{borrarInspeccionBean.revisionId}"></p:inputText>
					
					<p:commandButton value="Borrar"
						actionListener="#{borrarInspeccionBean.borrarInspeccion}"
						disabled="#{borrarInspeccionBean.deshabilitarBoton}"
						process="@form" update="@form"></p:commandButton>
					
					<p:commandButton value="Cancelar" action="#{borrarInspeccionBean.finalizar}"
						ajax="false" immediate="true"></p:commandButton>
				</p:panelGrid>

				
			</h:form>
		</div>
	</ui:define>

</ui:composition>
