<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

<ui:define name="content">
<div class="ui-fluid">
	<h3>Su password ha caducado...</h3>
	<h:form>Usuario:
	<p:outputLabel value="#{cambioPasswordBean.usuarioAutenticado.aliasUsuario}"></p:outputLabel>
	<h1>Ingrese su nueva contrasenia</h1>
	<p:growl id="growl"> </p:growl>
		<p:panelGrid columns ="2" styleClass="ui-responsive" columnClasses="ui-grid-col-4,ui-grid-col-8">	
			<p:outputLabel value="Password" for="password"></p:outputLabel>
			<p:password value="#{cambioPasswordBean.password}" id="password" required="true" requiredMessage="Ingrese password"></p:password>
			<p:outputLabel value="Confirme password" for="nuevopassword"></p:outputLabel>
			<p:password value="#{cambioPasswordBean.nuevoPassword}" id="nuevopassword" required="true" requiredMessage="Ingrese confirmacion de password"></p:password>	
			<p:commandButton value="Guardar" action="#{cambioPasswordBean.cambiarPassword}" ajax = "false" ></p:commandButton>
			<p:commandButton value="Cancelar" immediate="true" action="#{logoutBean.logout()}"></p:commandButton>
		</p:panelGrid>	
	</h:form>
</div>


</ui:define>


</ui:composition>
