
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<f:view contentType="text/html">
	<f:metadata>
		<f:viewParam name="revisionId"
			value="#{cerrarRevisionBean.revisionId}" />
	</f:metadata>
	<h:head>
		<title>Pruebas</title>
		<h:outputStylesheet name="css/default.css"></h:outputStylesheet>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</h:head>
	<h:body>
		<div class="ui-fluid">
			<h:form>

				<p:ajaxStatus onstart="PF('statusDialog').show()"
					onsuccess="PF('statusDialog').hide()" />

				<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
					closable="false" resizable="false" showHeader="false">
					<p:graphicImage name="/images/logo_proambiente.gif" />
				</p:dialog>
				<p:growl id="growl" autoUpdate="true"></p:growl>



				<p:outputLabel value="#{cerrarRevisionBean.mensaje}"></p:outputLabel>
				<!-- Panel con info del vehiculo -->
				<p:panelGrid columns="4" styleClass="ui-responsive" layout="grid">


					<p:outputLabel value="PLACA"></p:outputLabel>
					<p:outputLabel
						value="#{cerrarRevisionBean.revision.vehiculo.placa}" />

					<p:outputLabel value="NUMERO REVISION"></p:outputLabel>
					<p:outputLabel value="#{cerrarRevisionBean.revision.revisionId}" />

					<p:outputLabel value="FECHA DE REVISION"></p:outputLabel>
					<p:outputLabel
						value="#{cerrarRevisionBean.revision.fechaCreacionRevision}">
						<f:convertDateTime pattern="yyyy-MM-dd " />
					</p:outputLabel>

				</p:panelGrid>

				<p:panelGrid columns="2" styleClass="ui-responsive" layout="grid">
					<p:commandButton value="Cerrar Revision "
						action="#{cerrarRevisionBean.cerrarRevision()}" id="boton_guardar">
					</p:commandButton>
					<p:commandButton value="Volver"
						action="/inicio.xhtml?faces-redirect=true" immediate="true"
						style="color:red" ajax="false">
					</p:commandButton>
				</p:panelGrid>


			</h:form>

		</div>

	</h:body>

</f:view>
</html>

