<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    template="/WEB-INF/templates/template.xhtml"
    xmlns:p="http://primefaces.org/ui">

	 <ui:define name="content">
	 <h1>Consolide la revision aprobada</h1>
		<h:form id='form_certificados'>
			<p:growl ></p:growl>
			
			<div></div>
			<div class="ui-fluid">
				<p:panelGrid columns="12" styleClass="ui-responsive"
					columnClasses="ui-grid-col-1,ui-grid-col-1,ui-grid-col-1,ui-grid-col-1,
											ui-grid-col-1,ui-grid-col-1,ui-grid-col-1,
											ui-grid-col-1,ui-grid-col-1,ui-grid-col-1,
											ui-grid-col-1,ui-grid-col-1">
				
					<p:row>
						<p:column>
							<h:outputLabel value="Placa" /><br />
							<h:outputText value="#{certificadosBean.revision.vehiculo.placa}" style="float: right"/>
						</p:column>					
						<p:column>	
							<h:outputLabel value="Marca" /><br />
							<h:outputText value="#{certificadosBean.revision.vehiculo.marca.nombre}" style="float: right"/>
						</p:column>
						<p:column>	
							<h:outputLabel value="Linea" /><br />
							<h:outputText value="#{certificadosBean.revision.vehiculo.lineaVehiculo.nombre}" style="float: right"/>
						</p:column>							
					
					
					
						<p:column>			
							<h:outputLabel value="Servicio" /><br />
							<h:outputText value="#{certificadosBean.revision.vehiculo.servicio.nombre}" style="float: right"/>
						</p:column>
						<p:column>	
							<h:outputLabel value="Color" /><br />
							<h:outputText value="#{certificadosBean.revision.vehiculo.color.nombre}" style="float: right"/>
						</p:column>
						<p:column>
							<h:outputLabel value="Modelo" /><br />
							<h:outputText value="#{certificadosBean.revision.vehiculo.modelo}" style="float: right"/>
						</p:column>	
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel value="Cilindraje" /><br />
							<h:outputText value="#{certificadosBean.revision.vehiculo.cilindraje}" style="float: right"/>
						</p:column>
						<p:column>
							<h:outputLabel value="Combustible" /><br />
							<h:outputText value="#{certificadosBean.revision.vehiculo.tipoCombustible.nombre}" style="float: right"/>
						</p:column>
						<p:column>
							<h:outputLabel value="VIN o numero de chasis" /><br /> 
							<h:outputText value="#{certificadosBean.revision.vehiculo.numeroSerie}" style="float: right"/>
						</p:column>
					
						<p:column>
							<h:outputLabel value="Clase" /><br />
							<h:outputText value="#{certificadosBean.revision.vehiculo.claseVehiculo.nombre}" style="float: right"/>
						</p:column>
						<p:column>
							<h:outputLabel value="Numero de motor" /><br />
							<h:outputText value="#{certificadosBean.revision.vehiculo.numeroMotor}" style="float: right"/>
						</p:column>
						<p:column>
							<h:outputLabel value="Identificacion" /><br />
							<h:outputText value="#{certificadosBean.revision.propietario.propietarioId}" style="float: right"/>
						</p:column>																	
					</p:row>
					<p:row>
						<p:column>
							<h:outputLabel value="Nombres" /><br />
							<h:outputText value="#{certificadosBean.revision.propietario.nombres}" style="float: right"/>
						</p:column>
						<p:column>
							<h:outputLabel value="Apellidos" /><br />
							<h:outputText value="#{certificadosBean.revision.propietario.apellidos}" style="float: right"/>
						</p:column>
						<p:column>
							<h:outputLabel value="Consecutivo Runt"/><br />
							<h:outputText value="#{certificadosBean.revision.consecutivoRunt}" style="float: right"/>
						</p:column>				
					</p:row>
					
				</p:panelGrid>
			</div>
			
			<div>
				<div class="ui-fluid">
				<p:panelGrid columns="12" styleClass="ui-responsive"
					columnClasses="ui-grid-col-1,ui-grid-col-1,ui-grid-col-1,ui-grid-col-1,
											ui-grid-col-1,ui-grid-col-1,ui-grid-col-1,
											ui-grid-col-1,ui-grid-col-1,ui-grid-col-1,
											ui-grid-col-1,ui-grid-col-1" >				
					<p:row>
						<p:column>
							<h:outputLabel value="Placa" /><br />
							<h:outputText value="#{certificadosBean.revision.vehiculo.placa}" />
						</p:column>
						<p:column>
							<h:outputLabel value="Chasis" /><br />
							<h:outputText value="#{certificadosBean.revision.vehiculo.numeroSerie}"/>
						</p:column>									
					
						<p:column colspan="2">
							<h:outputLabel value="Centro de diagnostico automotor" /><br />
							<h:outputText value="#{certificadosBean.informacionCDA.nombre}" />
						</p:column>														
					
						<p:column>
						<div >
							<h:outputLabel value="AÑO" /><br/>
							<h:outputText value="#{certificadosBean.anioExpedicion}" />
						</div>
						<div >
							<h:outputLabel value="MES" /><br/>
							<h:outputText value="#{certificadosBean.mesExpedicion}" />						
						</div>
						<div>
							<h:outputLabel value="DIA" /><br/>
							<h:outputText value="#{certificadosBean.diaExpedicion}" />
						</div>
						</p:column>
						<p:column>
						</p:column>						
					</p:row>
					
					<p:row>
						<p:column>
						<div >
							<h:outputLabel value="AÑO" /><br/>
							<h:outputText value="#{certificadosBean.anioVencimiento}" />
						</div>
						<div >
							<h:outputLabel value="MES" /><br/>
							<h:outputText value="#{certificadosBean.mesVencimiento}" />						
						</div>
						<div >
							<h:outputLabel value="DIA" /><br/>
							<h:outputText value="#{certificadosBean.diaVencimiento}" />
						</div>
						</p:column>
						
						<p:column>
						</p:column>					
					
						<p:column>
							<h:outputLabel value="No de ----- fecha de acreditacion"/><br/>
							<h:outputText value="#{certificadosBean.informacionCDA.certificadoConformidad}"></h:outputText>
						</p:column>
						<p:column>
							<h:outputLabel value="Consecutivo Runt"/><br/>
							<h:outputText value="#{certificadosBean.revision.consecutivoRunt}"></h:outputText>
						</p:column>					
					</p:row>
																		
				</p:panelGrid>
				</div>				
			</div>
			
			<div style="clear: both;"></div>
			
			<p:panel visible="#{certificadosBean.anularImprimirNuevoCertificado}" header="MOTIVO ANULACION" style="width:400px;">
				
				<h1>EL CERTIFICADO YA HA SIDO IMPRESO, SELECCIONE EL MOTIVO PARA ANULAR E IMPRIMIR UN DUPLICADO</h1>
				<p:selectOneListbox id="basic" value="#{certificadosBean.motivoAnulacion}" required="#{certificadosBean.anularImprimirNuevoCertificado}"
																		requiredMessage="Digite motivo de anulacion">
	            	<f:selectItem itemLabel="Deterioro del documento" itemValue="Deterioro del documento" />
	            	<f:selectItem itemLabel="Robo" itemValue="Robo del documento" />
	            	<f:selectItem itemLabel="Extravio" itemValue="Extravio del documento"/>
	            	<f:selectItem itemLabel="Error de digitacion" itemValue="Error de digitacion" />
	            	<f:selectItem itemLabel="Fallo de impresion" itemValue="Fallo de impresion" />
	            	<f:selectItem itemLabel="Error de digitacion" itemValue="Error de digitacion" />
	            	<f:selectItem itemLabel="Formato defectuoso" itemValue="Formato defectuoso" />
	            	<f:selectItem itemLabel="Defectos del papel" itemValue="Defectos del papel" />
	        	</p:selectOneListbox>        
        	</p:panel>
        	
        	<p:panelGrid columns="2">
				<h:outputLabel value="Consecutivo runt nuevo" ></h:outputLabel>
				<h:inputText value="#{certificadosBean.consecutivoPreimpreso}"  required="true" requiredMessage="Ingrese numero consecutivo runt">
					<f:convertNumber />
				</h:inputText>				
				<p:commandButton disabled="#{certificadosBean.anularImprimirNuevoCertificado or certificadosBean.deshabilitarImprimir}" value="Consolidar y Cerrar Revision" actionListener="#{certificadosBean.imprimirCertificado}" update="form_certificados" process="form_certificados"></p:commandButton>
				<p:commandButton disabled = "#{certificadosBean.certificadoImpresoPorPrimeraVez}" style="color:red"  value="Imprimir Duplicado" actionListener="#{certificadosBean.anularCertificadoImprimirDuplicado}" update="form_certificados" process="form_certificados"></p:commandButton>
				<p:commandButton immediate="true" value="Cancelar" action="/inicio?faces-redirect=true" ajax="false" onclick="$('#form_certificados').attr({'target':'_self'})"></p:commandButton>			
			</p:panelGrid>
			
				
		</h:form>	 		
	 </ui:define>
	 
</ui:composition>
