<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<p:growl autoUpdate="true" id="messages"></p:growl>
			<p:outputPanel>
				<p:panelGrid columns="4" style="width:96%;">



					<p:outputLabel value="NUMERO RUNT CDA "></p:outputLabel>
					<p:inputText
						value="#{configuracionCdaBean.infoConfiguracionCda.idRuntCda}"
						required="true" requiredMessage="Ingrese nombre del cda"></p:inputText>

					<p:outputLabel value="Numero de Expediente de Cda"></p:outputLabel>
					<p:inputText
						value="#{configuracionCdaBean.infoConfiguracionCda.numeroExpedienteCda}"
						required="true" requiredMessage="Ingrese numero de expediente cda"></p:inputText>


					<p:outputLabel
						value="Numero de Resolucion de Secretaria De Ambiente"></p:outputLabel>
					<p:inputText
						value="#{configuracionCdaBean.infoConfiguracionCda.numeroResolucionSDA}"
						required="true"
						requiredMessage="Ingrese numero de resolucion de secretaria de ambiente"></p:inputText>

					<p:outputLabel
						value="Fecha de Resolucion de secretaria de ambiente Formato Requerido: AAAA-MM-DDD."></p:outputLabel>
					<p:inputText
						value="#{configuracionCdaBean.infoConfiguracionCda.fechaResolucionSDA}"
						required="true"
						requiredMessage="Ingrese fecha de resolucion del cda"></p:inputText>

					<p:outputLabel
						value="Numero Runt asignado por el ministerio de transporte (Resolucion) "></p:outputLabel>
					<p:inputText
						value="#{configuracionCdaBean.infoConfiguracionCda.numeroCda}"
						required="true" requiredMessage="Ingrese numero runt del cda"></p:inputText>
						
					<p:outputLabel value="Tipo Identificacion :" />
					<p:selectOneMenu
						value="#{configuracionCdaBean.infoConfiguracionCda.tipoIdentificacionCda}">
						<f:selectItem itemValue="C" itemLabel="Cedula Ciudadania" />
						<f:selectItem itemValue="N" itemLabel="NIT" />
						<f:selectItem itemValue="X" itemLabel="NN" />
						<f:selectItem itemValue="P" itemLabel="Pasaporte" />
						<f:selectItem itemValue="E" itemLabel="Cedula de Extranjeria" />
						<f:selectItem itemValue="T" itemLabel="Tarjeta de Identidad" />
						<f:selectItem itemValue="U" itemLabel="Registro Civil" />
						<f:selectItem itemValue="D" itemLabel="Carne Diplomatico" />
						<f:selectItem itemValue="O" itemLabel="TI2" />
					</p:selectOneMenu>

					<p:outputLabel value="Identificacion cda :" />
					<p:inputText
						value="#{configuracionCdaBean.infoConfiguracionCda.nit}"
						required="true" requiredMessage="Ingrese Nit del cda" />
					


					<p:outputLabel value="Nombre CDA (Establecimiento de comercion)"></p:outputLabel>
					<p:inputText
						value="#{configuracionCdaBean.infoConfiguracionCda.nombre}"
						required="true" requiredMessage="Ingrese nombre del cda"></p:inputText>

					<p:outputLabel value="Nombre de la Razon Social Cda :"></p:outputLabel>
					<p:inputText
						value="#{configuracionCdaBean.infoConfiguracionCda.nombreRazonSocialCda}"
						required="true"
						requiredMessage="Ingrese nombre de la razon social del cda"></p:inputText>
					
					<p:outputLabel value="Clase del Cda :"></p:outputLabel>
					<p:selectOneMenu
						value="#{configuracionCdaBean.infoConfiguracionCda.claseCda}">
						<f:selectItem itemValue="A" itemLabel="Clase A" />
						<f:selectItem itemValue="B" itemLabel="Clase B" />
						<f:selectItem itemValue="C" itemLabel="Clase C" />
						<f:selectItem itemValue="D" itemLabel="Clase D" />
						
					</p:selectOneMenu>
					
					<p:outputLabel value= "Analizadores Livianos"></p:outputLabel>
					<p:selectOneMenu
						value="#{configuracionCdaBean.infoConfiguracionCda.totalAnalizadoresLivianos}">
						<f:selectItem itemValue="0" itemLabel="0" />
						<f:selectItem itemValue="1" itemLabel="1" />
						<f:selectItem itemValue="2" itemLabel="2" />
						<f:selectItem itemValue="3" itemLabel="3" />
						<f:selectItem itemValue="4" itemLabel="4" />
						<f:selectItem itemValue="5" itemLabel="5" />
						<f:selectItem itemValue="6" itemLabel="6" />
						<f:selectItem itemValue="7" itemLabel="7" />
						<f:selectItem itemValue="8" itemLabel="8" />
						<f:selectItem itemValue="9" itemLabel="9" />
						<f:selectItem itemValue="10" itemLabel="10" />
						
					</p:selectOneMenu>
					
					<p:outputLabel value= "Cantidad Opacimetros"></p:outputLabel>
					<p:selectOneMenu
						value="#{configuracionCdaBean.infoConfiguracionCda.totalOpacimetros}">
						<f:selectItem itemValue="0" itemLabel="0" />
						<f:selectItem itemValue="1" itemLabel="1" />
						<f:selectItem itemValue="2" itemLabel="2" />
						<f:selectItem itemValue="3" itemLabel="3" />
						<f:selectItem itemValue="4" itemLabel="4" />
						<f:selectItem itemValue="5" itemLabel="5" />
						<f:selectItem itemValue="6" itemLabel="6" />
						<f:selectItem itemValue="7" itemLabel="7" />
						<f:selectItem itemValue="8" itemLabel="8" />
						<f:selectItem itemValue="9" itemLabel="9" />
						<f:selectItem itemValue="10" itemLabel="10" />
						
					</p:selectOneMenu>

					<p:outputLabel value= "Analizadores 4T motocicletas"></p:outputLabel>
					<p:selectOneMenu
						value="#{configuracionCdaBean.infoConfiguracionCda.totalAnalizadores4tMotos}">
						<f:selectItem itemValue="0" itemLabel="0" />
						<f:selectItem itemValue="1" itemLabel="1" />
						<f:selectItem itemValue="2" itemLabel="2" />
						<f:selectItem itemValue="3" itemLabel="3" />
						<f:selectItem itemValue="4" itemLabel="4" />
						<f:selectItem itemValue="5" itemLabel="5" />
						<f:selectItem itemValue="6" itemLabel="6" />
						<f:selectItem itemValue="7" itemLabel="7" />
						<f:selectItem itemValue="8" itemLabel="8" />
						<f:selectItem itemValue="9" itemLabel="9" />
						<f:selectItem itemValue="10" itemLabel="10" />
						
					</p:selectOneMenu>
					
					<p:outputLabel value= "Analizadores motocicletas 2T"></p:outputLabel>
					<p:selectOneMenu
						value="#{configuracionCdaBean.infoConfiguracionCda.totalAnalizadores2tMotos}">
						<f:selectItem itemValue="0" itemLabel="0" />
						<f:selectItem itemValue="1" itemLabel="1" />
						<f:selectItem itemValue="2" itemLabel="2" />
						<f:selectItem itemValue="3" itemLabel="3" />
						<f:selectItem itemValue="4" itemLabel="4" />
						<f:selectItem itemValue="5" itemLabel="5" />
						<f:selectItem itemValue="6" itemLabel="6" />
						<f:selectItem itemValue="7" itemLabel="7" />
						<f:selectItem itemValue="8" itemLabel="8" />
						<f:selectItem itemValue="9" itemLabel="9" />
						<f:selectItem itemValue="10" itemLabel="10" />
						
					</p:selectOneMenu>
					
					<p:outputLabel value="Es pista de motos"></p:outputLabel>
					<p:selectBooleanCheckbox
						value="#{configuracionCdaBean.infoConfiguracionCda.esPistaMotos}"></p:selectBooleanCheckbox>

					<p:outputLabel value="Direccion:" />
					<p:inputText
						value="#{configuracionCdaBean.infoConfiguracionCda.direccion}" />

					<p:outputLabel value="Ciudad" />
					<p:inputText
						value="#{configuracionCdaBean.infoConfiguracionCda.ciudad}" />

					<p:outputLabel value="Telefono 1:" />
					<p:inputText
						value="#{configuracionCdaBean.infoConfiguracionCda.telefono1}" />

					<p:outputLabel value="Telefono 2:" />
					<p:inputText
						value="#{configuracionCdaBean.infoConfiguracionCda.telefono2}" />

					<p:outputLabel value="Correo Electronico:" />
					<p:inputText
						value="#{configuracionCdaBean.infoConfiguracionCda.correoElectronico}"
						required="true" requiredMessage="Ingrese correo electronico" />

					<p:outputLabel value="Numero de resolucion" />
					<p:inputText
						value="#{configuracionCdaBean.infoConfiguracionCda.numeroResolucion}" />

					<p:outputLabel value="Certificado de conformidad" />
					<p:inputText
						value="#{configuracionCdaBean.infoConfiguracionCda.certificadoConformidad}" />

					<p:outputLabel value="Fecha de Resolucion"></p:outputLabel>
					<p:calendar value="#{configuracionCdaBean.fechaResolucionAuxiliar}" required="true" requiredMessage="Ingrese fecha de resolucion "></p:calendar>

					<p:outputLabel value="Aplicativos Utilizados"></p:outputLabel>
					<p:inputText
						value="#{configuracionCdaBean.infoConfiguracionCda.aplicativosUtilizados}" />

					<p:outputLabel value="Usuario Responsable"></p:outputLabel>
					<p:selectOneMenu value="#{configuracionCdaBean.usuarioResponsable}"
						converter="#{usuarioConverter}">
						<f:selectItems
							value="#{configuracionCdaBean.usuariosAdministradores}"
							var="usuario"
							itemLabel="#{usuario.aliasUsuario} #{usuario.nombres} #{usuario.apellidos}"
							itemValue="#{usuario}" />
					</p:selectOneMenu>

					<p:outputLabel value="Formato Especial Preventiva"></p:outputLabel>
					<p:selectBooleanCheckbox
						value="#{configuracionCdaBean.infoConfiguracionCda.formatoEspecialPreventiva}">
					</p:selectBooleanCheckbox>

					<p:outputLabel value="Modo de decimales FUR"></p:outputLabel>
					<p:selectOneMenu
						value="#{configuracionCdaBean.infoConfiguracionCda.modoReporte}">
						<f:selectItems value="#{configuracionCdaBean.modosReporte}" />
					</p:selectOneMenu>

					<p:outputLabel value="Restar Numero de Pasajeros"></p:outputLabel>
					<p:selectOneMenu
						value="#{configuracionCdaBean.infoConfiguracionCda.modoMostrarNumPasajeros}">
						<f:selectItems
							value="#{configuracionCdaBean.modosMostrarNumPasajeros}" />
					</p:selectOneMenu>
					
					<p:outputLabel value="Operador Sicov"></p:outputLabel>
					<p:selectOneMenu
						value="#{configuracionCdaBean.infoConfiguracionCda.operadorSicov}">
						<f:selectItems
							value="#{configuracionCdaBean.operadoresSicov}" />
					</p:selectOneMenu>
					
					<p:outputLabel value="Bloquear ingreso por pin"></p:outputLabel>
					<p:selectBooleanCheckbox
						value="#{configuracionCdaBean.infoConfiguracionCda.bloquearIngresoPorPin}">
					</p:selectBooleanCheckbox>
						
					<p:outputLabel value="Guardar FUR estatico"></p:outputLabel>
					<p:selectBooleanCheckbox
						value="#{configuracionCdaBean.infoConfiguracionCda.guardarpdf}">
					</p:selectBooleanCheckbox>

					<p:outputLabel value="Codigo Divipo"></p:outputLabel>
					<p:inputText
						value="#{configuracionCdaBean.infoConfiguracionCda.codigoDivipo}"></p:inputText>
						
					<p:outputLabel value="Fecha de Logo Superintendencia"></p:outputLabel>
					<p:calendar value="#{configuracionCdaBean.fechaCambioLogoSuperintendeciaAuxiliar}" required="true" requiredMessage="Ingrese fecha de cambio de logo superintendencia"></p:calendar>

					<p:outputLabel value="url servicio web"></p:outputLabel>
					<p:inputText
						value="#{configuracionCdaBean.infoConfiguracionCda.urlWebService}"></p:inputText>

					<p:outputLabel value="Usuario Ci2 - solo proambiente"></p:outputLabel>
					<p:inputText value="#{configuracionCdaBean.usuarioCi2}"></p:inputText>

					<p:outputLabel value="Password Ci2 -mod solo proambiente"></p:outputLabel>
					<p:inputText value="#{configuracionCdaBean.passwordCi2}"></p:inputText>

					
					

					<p:commandButton value="Guardar"
						actionListener="#{configuracionCdaBean.guardarCambios(ae)}"
						update="@form">
					</p:commandButton>



				</p:panelGrid>
			</p:outputPanel>
		</h:form>

		<h:form enctype="multipart/form-data">
			<p:panel header="Logo de cda">
				<p:growl autoUpdate="true" id="messages"></p:growl>

				<p:fileUpload value="#{configuracionCdaBean.uploadedFile}"
					mode="simple" disabled="false" />
				<p:commandButton value="Guardar Logo" ajax="false"
					actionListener="#{configuracionCdaBean.upload}" />

			</p:panel>
		</h:form>

		<h:form enctype="multipart/form-data">
			<p:panel header="Logo onac">
				<p:growl autoUpdate="true" id="messages"></p:growl>

				<p:fileUpload value="#{configuracionCdaBean.uploadedFileOnac}"
					mode="simple" disabled="false" />
				<p:commandButton value="Guardar Logo Onac" ajax="false"
					actionListener="#{configuracionCdaBean.uploadFileOnac}" />

			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
