<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<f:view contentType="text/html">
	<f:metadata>
        <f:viewParam name="revisionId" value="#{consecutivoFupaBean.revisionId}"/>
    </f:metadata>
<h:head>
    <title>Pruebas</title>
    <h:outputScript library="primefaces" name="jquery/jquery.js" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</h:head>
<h:body >	
	
		<h:form id="form1">
			
			<p:panel>
				<p:panelGrid columns="4" layout="grid">
					<p:row>
						<p:column >PLACA</p:column>
						<p:column>
							<h:outputText value="#{consecutivoFupaBean.placa}"></h:outputText>
						</p:column>
						<p:column >NUMERO REVISION</p:column>						
						<p:column><h:outputText value="#{consecutivoFupaBean.revision.revisionId}"></h:outputText>
						</p:column>
					</p:row>			
				</p:panelGrid>				
			</p:panel>
			<p:panelGrid columns="2">
				<p:outputLabel value = "Consecutivo Runt"></p:outputLabel>
				<p:inputText value="#{consecutivoFupaBean.revision.consecutivoRunt}" id="consecutivo_runt"></p:inputText>
				
			
				<p:outputLabel value= "Numero de solicitud(FUPA)"></p:outputLabel>
				<p:inputText value="#{consecutivoFupaBean.revision.numeroSolicitud}"></p:inputText>
				
				
				
				<p:commandButton value="Guardar" actionListener="#{consecutivoFupaBean.guardar()}" update="@form" ajax="true"></p:commandButton>
				<p:commandButton value= "Cancelar" actionListener="#{consecutivoFupaBean.cancelar()}"></p:commandButton>
				<p:message for="consecutivo_runt" id="consecutivo_error_mensajes"></p:message>
				
			</p:panelGrid>
			
                    
        </h:form>
</h:body>

</f:view>
</html>	
