
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
<ui:define name="content" >	
		<div class="ui-fluid">
			<h:form>
				<p:growl id="growl" autoUpdate="true"></p:growl>

				<!-- Panel con info de la prueba -->
				<p:panelGrid columns="2">
				
				<p:outputLabel value="#{detallePruebaBean.prueba.pruebaId}"></p:outputLabel>
				<p:outputLabel value="#{detallePruebaBean.prueba.tipoPrueba.nombre}"></p:outputLabel>
				
				
				</p:panelGrid>
				
				 <p:inputTextarea value="#{detallePruebaBean.prueba.motivoAborto}" 
				 rows="5" cols="30" counter="display" maxlength="1024" counterTemplate="{0} caracteres restantes." autoResize="false" />
				 
				 
				 
				 
				<h:outputText id="display" />
				<p:commandButton actionListener="#{detallePruebaBean.guardarCambios(ae)}" value="Guardar" update="@form"></p:commandButton>

			

			</h:form>

		</div>

</ui:define>
</ui:composition>

