<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="head">
	
	</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<p:outputLabel value="DETALLES INSPECCION"></p:outputLabel>
			<p:panelGrid columns="6" >
				<p:outputLabel  value="Placa"></p:outputLabel>
				<p:outputLabel value="#{detalleInspeccionBean.inspeccion.revision.vehiculo.placa}"></p:outputLabel> 
				
				<p:outputLabel  value="Modelo"></p:outputLabel>
				<p:outputLabel value="#{detalleInspeccionBean.inspeccion.revision.vehiculo.modelo}"></p:outputLabel> 
				
				<p:outputLabel  value="Tipo"></p:outputLabel>
				<p:outputLabel value="#{detalleInspeccionBean.inspeccion.revision.vehiculo.tipoVehiculo.nombre}"></p:outputLabel>
				
				<p:outputLabel  value="Combustible"></p:outputLabel>
				<p:outputLabel value="#{detalleInspeccionBean.inspeccion.revision.vehiculo.tipoCombustible.nombre}"></p:outputLabel>
				
				<p:outputLabel value="Id"></p:outputLabel>
				<p:outputLabel value="#{detalleInspeccionBean.inspeccion.inspeccionId}"></p:outputLabel>
			</p:panelGrid>
		
			
			
			
			<p:dataTable  id="tabla_pruebas" value="#{detalleInspeccionBean.pruebas}" var="prueba" selectionMode="single" selection="#{detalleInspeccionBean.pruebaSeleccionada}" rowKey="#{prueba.pruebaId}">
				<p:column headerText = "Num">
					<p:outputLabel value="#{prueba.pruebaId}"> </p:outputLabel>
				</p:column>
				<p:column headerText="Nombre">
					<p:outputLabel value = "#{prueba.tipoPrueba.nombre}">						
					</p:outputLabel>
				</p:column>
				<p:column headerText="Fecha Inicio">
					<p:outputLabel value="#{prueba.fechaInicio}"></p:outputLabel>
				</p:column>
				<p:column headerText="Fecha Fin">
					<p:outputLabel value="#{prueba.fechaFinalizacion}"></p:outputLabel>
				</p:column>
				<p:column headerText="Terminada">
					<p:outputLabel value="#{prueba.finalizada ? 'Finalizada' : 'No Finalizada'}"/>					
				</p:column>
				<p:column headerText = "Aprobada">
					<p:outputLabel value="#{prueba.aprobada ? 'Aprobada':'Reprobada' }"></p:outputLabel>
				</p:column>			
				<p:column headerText="Abortada">
					<p:outputLabel value="#{prueba.abortada ? 'Abortada ' : ' '}"></p:outputLabel> 
				</p:column>
				<p:column headerText="Causa Aborto">
					<p:outputLabel value="#{prueba.causaAborto.motivo}"></p:outputLabel>
				</p:column>
				<p:column headerText="Usuario">
					<p:outputLabel value="#{prueba.usuario.nombres} #{prueba.usuario.apellidos}"></p:outputLabel>
				</p:column>
				<f:facet name="footer">
					<p:commandButton value="Ver medidas" process="@this :form:tabla_pruebas" actionListener="#{detalleInspeccionBean.cargarMedidas}" update=":form:tabla_medidas"></p:commandButton>
					<p:commandButton value="Ver defectos" process="@this :form:tabla_pruebas" actionListener="#{detalleInspeccionBean.cargarDefectos}" update=":form:tabla_defectos"></p:commandButton>
					<p:commandButton value="Ver Foto"  actionListener="#{detalleInspeccionBean.cargarFoto}" oncomplete="PF('dialogo').show()"/>		
				</f:facet>							
			</p:dataTable>
			
			<p:separator></p:separator>
				<p:dataTable  id="tabla_medidas" value="#{detalleInspeccionBean.medidas}" var="medida" >
					
					<f:facet name="header">
						MEDIDAS
					</f:facet>
					
					<p:column headerText="Tipo Medida">
						<p:outputLabel value="#{medida.tipoMedida.descripcion}">
						</p:outputLabel>
					</p:column>
					
					<p:column headerText="Valor medida">
						<p:outputLabel value="#{medida.valor} #{medida.generaDefecto}"></p:outputLabel>						
					</p:column>			
				</p:dataTable>
			
				<p:separator></p:separator>
			
				<p:dataTable  id="tabla_defectos" value="#{detalleInspeccionBean.defectos}" var="defecto" >
					
					<f:facet name="header">
						DEFECTOS
					</f:facet>
					
					<p:column headerText="Categoria">
						<p:outputLabel value="#{defecto.categoriaDefecto.nombre}">
						</p:outputLabel>
					</p:column>
					
					<p:column headerText="Descripcion">
						<p:outputLabel value="#{defecto.nombre}">
						</p:outputLabel>
					</p:column>
					
					<p:column headerText="Tipo Defecto">
						<p:outputLabel value="#{defecto.tipoDefecto}"></p:outputLabel>
						
					</p:column>
					
					
					
				</p:dataTable>
				
				<p:dialog widgetVar="dialogo"  modal="true" >
					<p:outputPanel id="panel_foto">
						<h:graphicImage value="#{detalleInspeccionBean.urlFotoUno}" height="300" width="300"/>
						<h:graphicImage value="#{detalleInspeccionBean.urlFotoDos}" height="300" width="300"/>
					</p:outputPanel>
				</p:dialog>	

		</h:form>
	</ui:define>
		
</ui:composition>
