
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">


		<h:form enctype="multipart/form-data">
			<p:panel header="Logo onac">
				<p:growl autoUpdate="true" id="messages"></p:growl>

				<p:fileUpload value="#{crearEditarLogoOnacBean.uploadedFile}"
					mode="simple" disabled="false" />

				<p:commandButton value="Subir Logo" ajax="true" update="@form"
					actionListener="#{crearEditarLogoOnacBean.upload}" />

			</p:panel>
		</h:form>

		<h:form id="form" prependId="false">
			<p:growl id="growl" autoUpdate="true">
			</p:growl>
			<p:outputPanel>
				<p:panelGrid columns="4" id="logoonac" style="width:100%"
					layout="grid">


					<p:outputLabel value="Fecha Vigencia Desde">
					</p:outputLabel>

					<p:calendar value="#{crearEditarLogoOnacBean.fechaVigenciaDesde}"
						required="true"
						requiredMessage="Seleccione fecha de vigencia desde"
						showOn="button"></p:calendar>

					<p:outputLabel value="Fecha Vigencia Hasta">
					</p:outputLabel>

					<p:calendar value="#{crearEditarLogoOnacBean.fechaVigenciaHasta}"
						required="true"
						requiredMessage="Seleccione fecha de vigencia hasta"
						showOn="button"></p:calendar>


					<p:outputLabel value="Anulado"></p:outputLabel>
					<p:selectBooleanCheckbox
						value="#{crearEditarLogoOnacBean.logoOnac.anulado}">
					</p:selectBooleanCheckbox>

					<p:commandButton value="Guardar"
						actionListener="#{crearEditarLogoOnacBean.guardarCambios(ae)}"
						ajax="true" update="@form" process="@form"
						disabled="#{crearEditarLogoOnacBean.logoOnacSubido}"></p:commandButton>
				</p:panelGrid>

			</p:outputPanel>
		</h:form>

	</ui:define>

</ui:composition>