<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="head">
	
	</ui:define>
	<ui:define name="content">
		<h:form id="form" prependId="false">
		<p:growl id="growl" autoUpdate="false"> </p:growl>
		<div class="ui-fluid">
			<p:panelGrid columns="12" styleClass="ui-responsive"
					columnClasses="ui-grid-col-1,ui-grid-col-2,ui-grid-col-1,ui-grid-col-2,
											ui-grid-col-3,ui-grid-col-3"
					layout="grid">
				<p:row>
					<p:column >Fecha Inicio</p:column>
	       			<p:column>
	       				<p:calendar value = "#{entradasBitacoraBean.fechaInicial}" 
	       							id="fechainicio" required="true" requiredMessage="Ingrese fecha de inicio" >
	       				</p:calendar>
	       			</p:column>
	       			<p:column >Fecha Fin</p:column>
	       			<p:column>
	       				<p:calendar value = "#{entradasBitacoraBean.fechaFinal}" 
	       							id="fechafin" required="true" requiredMessage="Ingrese fecha final" >
	       					
	       				</p:calendar>
	       			</p:column>
	       			<p:column>
	       			<p:commandButton value="CONSULTAR" process = "@this fechainicio fechafin growl" update=":form:infoEntradas" 
	       								 actionListener="#{entradasBitacoraBean.consultarEntradas(ae)}" ajax="true"></p:commandButton>
	       			</p:column>
	       			<p:column>
	       				<h:commandLink value="Exportar">                
                			<p:dataExporter type="xls" target="infoEntradas" fileName="bitacora" />
            			</h:commandLink>
            		</p:column>
	       			
				</p:row>				
			</p:panelGrid>
			</div>
			
			<p:dataTable id="infoEntradas" value="#{entradasBitacoraBean.entradasBitacora}"  
						  var="bitacora" rowIndexVar="numeroFila">					
					<p:column>
						<p:outputLabel value= "#{numeroFila+1}">
						</p:outputLabel>
					</p:column>
					
					<p:column headerText="Tipo de Evento">
						<p:outputLabel value = "#{bitacora.tipoEvento}">
						</p:outputLabel>
					</p:column>
					
					<p:column headerText="Direccion Ip">
						<p:outputLabel value = "#{bitacora.direccionIp}">
						</p:outputLabel>
					</p:column>
					
					<p:column headerText="Usuario que registra">
						<p:outputLabel value = "#{entradasBitacoraBean.cargarNombresUsuario(bitacora.usuarioId)}">
						</p:outputLabel>
					</p:column>
					
					
					<p:column headerText="Fecha Registro">
						<p:outputLabel value = "#{bitacora.fechaRegistro}">
						</p:outputLabel>
					</p:column>
					
					<p:column headerText="Fecha Evento">
						<p:outputLabel value = "#{bitacora.fechaEvento}">						
						</p:outputLabel>
					</p:column>
					
					<p:column headerText="Descripcion">
						<p:outputLabel value="#{bitacora.descripcion}">						
						</p:outputLabel>
					</p:column>
					
					<p:column headerText="Acciones Realizadas">
						<p:outputLabel value="#{bitacora.accionesRealizadas}">						
						</p:outputLabel>
					</p:column>
					
					<p:column>
					    <!-- si la salida del outcome no es valida, se muestra un span -->
						<h:link outcome="bitacora.xhtml"  value="Editar">
									<f:param name="bitacoraId" value="#{bitacora.bitacoraId}" />
						</h:link>
				    </p:column>
					
								
			</p:dataTable >
			
		</h:form>
	</ui:define>
		
</ui:composition>
