<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="head">
	
	</ui:define>
	<ui:define name="content">
	<h:form id="form">
		<p:growl id="growl"></p:growl>
		<p:panelGrid columns="4">
			<p:commandButton value="Nuevo" process="@this tabla_equipos"  update=":form:detalle_equipo :form:growl" actionListener="#{equipoBean.nuevoEquipo}" oncomplete=" PF('dialogo').show()"></p:commandButton>
			<p:commandButton id="boton_editar" value="Editar" process="@this tabla_equipos" disabled="#{empty equipoBean.equipoSeleccionado.serieEquipo}" update=":form:detalle_equipo :form:growl" actionListener="#{equipoBean.atachEquipo}" oncomplete=" PF('dialogo').show()"></p:commandButton>
			
		</p:panelGrid>	
		<p:dataTable id="tabla_equipos"  selectionMode="single" value="#{equipoBean.listaEquipos}" var="equipo"  selection="#{equipoBean.equipoSeleccionado}" rowKey="#{equipo.serieEquipo}" >
			 <p:ajax event="rowSelect" process="tabla_equipos" update=":form:boton_editar" />
			<p:column headerText="serie">
				<h:outputText value="#{equipo.serieEquipo}" />				
			</p:column>
			<p:column headerText="fabricante">
				<h:outputText value="#{equipo.fabricante}" />
			</p:column>
			<p:column headerText="modelo equipo">
				<h:outputText value="#{equipo.modeloEquipo}" />				
			</p:column>
			<p:column headerText="tipo equipo">
				<h:outputText value="#{equipo.tipoEquipo.nombreTipoEquipo}" />
			</p:column>									
		</p:dataTable>
		
		
		<p:dialog widgetVar="dialogo"  header="Informacion de equipo" modal="true" >
		<p:outputPanel id="detalle_equipo" style="width:800px">
		 
			<p:panelGrid columns = "2">
				<h:outputLabel value="Serie del equipo" />
				<p:inputText value="#{equipoBean.equipoSeleccionado.serieEquipo}" required="true" disabled="#{ not empty equipoBean.equipoSeleccionado.serieEquipo}" requiredMessage="Nombre equipo requerido" validatorMessage="Nombre equipo requerido"/>
				
				<h:outputLabel value="Fabricante" />
				<p:inputText value="#{equipoBean.equipoSeleccionado.fabricante}" required="true" requiredMessage="Modelo Equipo Requerido" validatorMessaje="Nombres Requerido"/>		
				
				<h:outputLabel value="Modelo Equipo" />
				<p:inputText value="#{equipoBean.equipoSeleccionado.modeloEquipo}" required="true" requiredMessage="Modelo Equipo Requerido" validatorMessaje="Nombres Requerido"/>		
				
				
				<h:outputLabel value="Tipo Equipo" />
				<p:selectOneMenu id="comboTipoEquipo" style="width:175px"
							value="#{equipoBean.equipoSeleccionado.tipoEquipo}"
							converter="#{tipoEquipoConverter}"
							 required="true"
							requiredMessage="Ingrese tipoEquipo">
							<f:selectItems value="#{equipoBean.listaTiposEquipo}" var="item"
								itemLabel="#{item.nombreTipoEquipo}" itemValue="#{item}"
								noSelectionValue="-------------">
							</f:selectItems>
						</p:selectOneMenu>
				
			</p:panelGrid>		
						
			<p:commandButton  value="Guardar"  process="@this :form:detalle_equipo" update=":form:tabla_equipos :form:growl" actionListener="#{equipoBean.guardarCambios}" oncomplete="PF('dialogo').hide()"></p:commandButton>
			
		</p:outputPanel>	
		</p:dialog>
		
	</h:form>
	</ui:define>
		
</ui:composition>
