<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="head">
	
	</ui:define>
	<ui:define name="content">
			
		<h:form id="form">
			<p:panelGrid columns="4">
				<p:commandButton id="boton_editar" value="Editar Filtro" process="@this :form:tabla_filtros" 
									update=":form:detalle_filtro"  oncomplete=" PF('dialogo').show()"
									disabled="#{empty filtrosCRUDBean.filtroDensidadNeutra.filtroDensidadNeutraId}">
				</p:commandButton>
				<p:commandButton value="Nuevo" process="@this tabla_filtros"  update=":form:detalle_filtro"
								 actionListener="#{filtrosCRUDBean.nuevoFiltro}" oncomplete=" PF('dialogo').show()">
				</p:commandButton>			
			</p:panelGrid>
		
			<p:growl id="growl"></p:growl>
			
			<p:dataTable id="tabla_filtros"  selectionMode="single" value="#{filtrosCRUDBean.listaFiltros}" 
							var="filtro"  
							selection="#{filtrosCRUDBean.filtroDensidadNeutra}" 
							rowKey="#{filtro.serie}" >
							
			 <p:ajax event="rowSelect" process=":form:tabla_filtros" update=":form:boton_editar"/>
			<p:column headerText="Marca">
				<h:outputText value="#{filtro.marca}" />				
			</p:column>
			<p:column headerText="Modelo">
				<h:outputText value="#{filtro.modelo}" />
			</p:column>
			<p:column headerText="Serie">
				<h:outputText value="#{filtro.serie}" />
			</p:column>
			<p:column headerText="Valor">
				<h:outputText value="#{filtro.valor}" />				
			</p:column>
			<p:column headerText="Numero de Certificado">
				<h:outputText value="#{filtro.numeroCertificado}" />
			</p:column>
			<p:column headerText="Fecha de Calibracion">
				<h:outputText value="#{filtro.fechaCalibracion}"  >
					<f:convertDateTime pattern="yyyy-MM-dd"/>
				</h:outputText>
			</p:column>
			<p:column headerText ="Laboratorio emite certificado">
				<h:outputText value="#{filtro.calibradoPor}" />
			</p:column>
									
		</p:dataTable>
		
		<p:dialog widgetVar="dialogo"  header="Informacion de Filtro" modal="true" >
		<p:outputPanel id="detalle_filtro" >
		 <div class="ui-fluid">
			<p:panelGrid columns = "4">
				<h:outputLabel value="Marca" />
				<p:inputText value="#{filtrosCRUDBean.filtroDensidadNeutra.marca}" required="true" requiredMessage="Ingrese marca"/>
				
				<h:outputLabel value="Modelo" />
				<p:inputText value="#{filtrosCRUDBean.filtroDensidadNeutra.modelo}" required="true" requiredMessage="Ingrese modelo"/>
				
				<h:outputLabel value="Serie" />
				<p:inputText value="#{filtrosCRUDBean.filtroDensidadNeutra.serie}" required="true" requiredMessage="Ingrese serie"/>
				
				<h:outputLabel value="Valor" />
				<p:inputText value="#{filtrosCRUDBean.filtroDensidadNeutra.valor}" required="true" requiredMessage="Valor requerido" validatorMessaje="Valor requerido"/>
				
				<h:outputLabel value="Numero de certificado" />
				<p:inputText value="#{filtrosCRUDBean.filtroDensidadNeutra.numeroCertificado}" required="true" requiredMessage="Numero de certificado requerido" validatorMessage="Numero de certificado requerido"/>	
				
				<h:outputLabel value="Fecha de Calibracion" />
				<p:calendar value="#{filtrosCRUDBean.fechaAuxiliar}"
							pattern="dd/MM/yyyy" locale="es" required="true" requiredMessage="Ingrese fecha de calibracion" ></p:calendar>
				
				<h:outputLabel value="Laboratorio" />
				<p:inputText value="#{filtrosCRUDBean.filtroDensidadNeutra.calibradoPor}" required="true" requiredMessage="Ingrese empresa"/>
				
			</p:panelGrid>
			</div>
			
			<p:commandButton  value="Guardar"  process="@this :form:detalle_filtro" update=":form:tabla_filtros :form:growl" actionListener="#{filtrosCRUDBean.guardarCambios}" oncomplete="PF('dialogo').hide()"></p:commandButton>
			
		</p:outputPanel>	
		</p:dialog>
		
		
		</h:form>
	</ui:define>
	
	
</ui:composition>
