
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">


<ui:define name="head">
	
</ui:define>

<ui:define name="content">
	


		<div class="ui-fluid">
			<h:form>

				<p:ajaxStatus onstart="PF('statusDialog').show()"
					onsuccess="PF('statusDialog').hide()" />

				<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
					closable="false" resizable="false" showHeader="false">
					<p:graphicImage name="/images/logo_proambiente.gif" />
				</p:dialog>
				<p:growl id="growl" autoUpdate="true"></p:growl>

				<!-- Panel con info del vehiculo -->

				<p:panelGrid columns="4" styleClass="ui-responsive" layout="grid">
					<p:outputLabel value="PLACA"></p:outputLabel>
					<p:outputLabel
						value="#{registroFurBean.revision.vehiculo.placa}" />

					<p:outputLabel value="NUMERO REVISION"></p:outputLabel>
					<p:outputLabel value="#{registroFurBean.revision.revisionId}" />

				</p:panelGrid>

				<p:dataTable id="tabla_registros_fur" reflow="true"
					value="#{registroFurBean.registrosDeFur}" var="registro"					
					>
					<p:column headerText="#">
						<h:outputText value="#{registro.registroFurId}"></h:outputText>
					</p:column>
					<p:column headerText="placa">
						<h:outputText value="#{registro.placa}">
						</h:outputText>
					</p:column>
					<p:column headerText="Descripcion">
						<p:outputLabel value="#{registro.descripcion}"></p:outputLabel>
					</p:column>
					<p:column headerText="Intento">
						<p:outputLabel
							value="#{registro.intento}" />
					</p:column>
					<p:column headerText="Fecha">
						<p:outputLabel value="#{registro.fecha}"></p:outputLabel>
					</p:column>
					<p:column headerText="ver pdf">
						<p:commandLink
									action="#{registroFurBean.imprimirReporte(registro.registroFurId)}"
									immediate="true" ajax="false" target="_blank" value="FUR"
									update="@all" process="@this">
								</p:commandLink>
					</p:column>
				</p:dataTable>
				



			</h:form>

		</div>

</ui:define>

</ui:composition>
