<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	
	
	
	<ui:define name="head">
	
	</ui:define>
	<ui:define name="content">
	<h:form id="form">
	
		<p:growl autoUpdate="true"></p:growl>		
		<p:panelGrid columns="2" style="width:75%; margin: 0 auto;">
		
			<p:outputLabel value="Historial cambio de password usuario"></p:outputLabel>
			<p:outputLabel></p:outputLabel>
			
			<p:outputLabel value="Documento de usuario"></p:outputLabel>
			<p:inputText value="#{historialCambioPasswordBean.documentoUsuario}" ></p:inputText>
			
			<p:commandButton value="Buscar" process="@form"  update="tabla_historial" 
							 actionListener="#{historialCambioPasswordBean.consultar(ae)}"
							 ></p:commandButton>
			<p:commandButton value = "Cancelar" id="boton_cancelar" ajax="false" immediate="true" action="/inicio.xhtml?faces-redirect=true"></p:commandButton>
			
			
			
		</p:panelGrid>
		
		<p:dataTable id="tabla_historial"   value="#{historialCambioPasswordBean.historial}" var="historial"   >
			 
			<p:column headerText="Nombres">
				<h:outputText value="#{historial.usuario.nombres}" />				
			</p:column>
			<p:column headerText="Apellidos">
				<h:outputText value="#{historial.usuario.apellidos}" />				
			</p:column>
			<p:column headerText="fecha cambio password">
				<h:outputText value="#{historial.fechaCambioPassword}" />
			</p:column>
			<p:column headerText="Fecha caducidad password">
				<h:outputText value="#{historial.fechaCaducidadAnterior}" />				
			</p:column>
			<p:column headerText="Direccion Ip">
				<h:outputText value="#{historial.direccionIp}" />				
			</p:column>												
		</p:dataTable>	
	</h:form>
	</ui:define>
		
</ui:composition>
