<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">
		<h:form enctype="multipart/form-data">
		<h2>Importar Lineas de Vehiculo</h2>
		<p:growl autoUpdate="true"> </p:growl>
    	<p:fileUpload listener="#{importarLineasVehiculoBean.upload}" auto="true" update="tabla_lineas" value="Subir"
    			onstart="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()" />
    	
    	<p:dataTable  value="#{importarLineasVehiculoBean.lineasCreadas}" var="linea" id="tabla_lineas"
    					 >
    	
    		<p:column headerText="Linea Id">
    			<h:outputLabel value="#{linea.lineaVehiculoId}"></h:outputLabel>
    		</p:column>
    		
    		<p:column headerText="Codigo Linea">
    			<h:outputLabel value="#{linea.lineaVehiculoId}"></h:outputLabel>
    		</p:column>
    		
    		<p:column headerText="Marca">
    			<h:outputLabel value="#{linea.marca.nombre}"></h:outputLabel>
    		</p:column>
    		
    		<p:column headerText="Nombre">
    			<h:outputFormat value="#{linea.nombre}" />
    		</p:column>
    		
    		
    	</p:dataTable>
    	
    	<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
				closable="false" resizable="false" showHeader="false">
				<p:graphicImage name="/images/ajax-loading-bar.gif" />
			</p:dialog>
	</h:form>
	</ui:define>

</ui:composition>
