<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">
		<h:form enctype="multipart/form-data">
		<p:growl autoUpdate="true"> </p:growl>
    	<p:fileUpload listener="#{importarDesdeExcelBean.upload}" auto="true" update="@all" />
    	
    	<p:dataTable value="#{importarDesdeExcelBean.vehiculosImportados}" var="vehiculo" id="tabla_vehiculos">
    	
    		<p:column headerText="PLACA">
    			<h:outputLabel value="#{vehiculo.placa}"></h:outputLabel>
    		</p:column>
    		
    		<p:column headerText="VIN">
    			<h:outputFormat value="#{vehiculo.vin}" />
    		</p:column>
    		
    		<p:column headerText="# documento">
    			<h:outputLabel value="#{vehiculo.propietario.propietarioId}" />
    		</p:column>
    	</p:dataTable>
	</h:form>
	</ui:define>

</ui:composition>
