<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">
		<h:form enctype="multipart/form-data">
			<p:growl autoUpdate="true">
			</p:growl>
			<h2>Importar Colores</h2>


			<p:fileUpload listener="#{importarColoresBean.upload}"
				auto="true" update="tabla_colores" onstart="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()" />

			<p:dataTable value="#{importarColoresBean.coloresCreados}"
				var="color" id="tabla_colores">

				<p:column headerText="Codigo">
					<h:outputLabel value="#{color.colorId}"></h:outputLabel>
				</p:column>

				<p:column headerText="Nombre">
					<h:outputFormat value="#{color.nombre}" />
				</p:column>


			</p:dataTable>
			<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
				closable="false" resizable="false" showHeader="false">
				<p:graphicImage name="/images/ajax-loading-bar.gif" />
			</p:dialog>

		</h:form>
	</ui:define>

</ui:composition>
