<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<p:growl autoUpdate="true">
			</p:growl>
			<div class="ui-fluid">
				<p:panelGrid columns="12" styleClass="ui-responsive"
					columnClasses="ui-grid-col-1,ui-grid-col-2,ui-grid-col-1,ui-grid-col-2,
											ui-grid-col-2,ui-grid-col-2,ui-grid-col-2"
					layout="grid">
					<p:row>
						<p:column>Fecha Inicio</p:column>
						<p:column>
							<p:calendar value="#{informeSuperintendenciaBean.fechaInicial}"
								id="fechainicio">
							</p:calendar>
						</p:column>
						<p:column>Fecha Fin</p:column>
						<p:column>
							<p:calendar value="#{informeSuperintendenciaBean.fechaFinal}"
								id="fechafin">

							</p:calendar>
						</p:column>
						<p:column>
							<p:commandButton value="CONSULTAR"
								process="@this fechainicio fechafin"
								update=":form:tablainformesuper"
								actionListener="#{informeSuperintendenciaBean.cargarInformacion}"
								ajax="true"></p:commandButton>
						</p:column>
						<p:column>
							<h:commandLink value="Exportar">
								<p:dataExporter type="xls" target="tablainformesuper"
									fileName="informeSuperintendencia" />
							</h:commandLink>
						</p:column>
						<p:column>
						<h:commandLink value="Exportar csv">
							<p:dataExporter type="csv" target="tablainformesuper"
								fileName="informetotal" />
						</h:commandLink>
					</p:column>

					</p:row>
				</p:panelGrid>
			</div>
			
			<p:dataTable id="tablainformesuper"
				value="#{informeSuperintendenciaBean.lazyDataModel}"
				scrollable="true" style="width:10000px" scrollWidth="90%"
				scrollRows="1000" liveScroll="true" scrollHeight="500" lazy="true"
				var="fila" rowIndexVar="numeroFila">

				<p:column>
					<p:outputLabel value="#{numeroFila+1}">
					</p:outputLabel>
				</p:column>

				<p:column headerText="Fecha Prueba">
					<p:outputLabel value="#{fila.fechaPrueba}">
					</p:outputLabel>
				</p:column>


				<p:column headerText="Placa">
					<p:outputLabel value="#{fila.placa}">
					</p:outputLabel>
				</p:column>


				<p:column headerText="Marca">
					<p:outputLabel value="#{fila.marca}"></p:outputLabel>
				</p:column>

				<p:column headerText="Cilindraje">
					<p:outputLabel value="#{fila.cilindraje}"></p:outputLabel>
				</p:column>

				<p:column headerText="Servicio">
					<p:outputLabel value="#{fila.servicio}"></p:outputLabel>
				</p:column>

				<p:column headerText="Clase Vehiculo">
					<p:outputLabel value="#{fila.clase}"></p:outputLabel>
				</p:column>

				<p:column headerText="Tipo Motor">
					<p:outputLabel value="#{fila.tipoMotor}"></p:outputLabel>
				</p:column>

				<p:column headerText="Tipo Combustible">
					<p:outputLabel value="#{fila.combustible}"></p:outputLabel>
				</p:column>

				<p:column headerText="Modelo">
					<p:outputLabel value="#{fila.modelo}"></p:outputLabel>
				</p:column>

				<p:column headerText="Ruido Escape">
					<p:outputLabel value="#{fila.ruidoEscape}"></p:outputLabel>
				</p:column>

				<p:column headerText="Intensidad Baja Derecha">
					<p:outputLabel value="#{fila.intensidadBajaDerecha}"></p:outputLabel>
				</p:column>

				<p:column headerText="Intensidad Baja Izquierda">
					<p:outputLabel value="#{fila.intensidadBajaIzquierda}"></p:outputLabel>
				</p:column>

				<p:column headerText="Inclinacion Baja Derecha">
					<p:outputLabel value="#{fila.inclinacionBajaDerecha}"></p:outputLabel>
				</p:column>

				<p:column headerText="Inclinacion Baja Izquierda">
					<p:outputLabel value="#{fila.inclinacionBajaIzquierda}"></p:outputLabel>
				</p:column>

				<p:column headerText="Intensidad Total">
					<p:outputLabel value="#{fila.intensidadTotal}"></p:outputLabel>
				</p:column>

				<p:column headerText="Eficacia Delantera Derecha">
					<p:outputLabel value="#{fila.delanteraDerecha}"></p:outputLabel>
				</p:column>

				<p:column headerText="Eficacia Delantera Izquierda">
					<p:outputLabel value="#{fila.delanteraIzquierda}"></p:outputLabel>
				</p:column>

				<p:column headerText="Eficacia Posterior Derecha">
					<p:outputLabel value="#{fila.traseraDerecha}"></p:outputLabel>
				</p:column>

				<p:column headerText="Eficacia Posterior Izquierda">
					<p:outputLabel value="#{fila.traseraIzquierda}"></p:outputLabel>
				</p:column>

				<p:column headerText="Eficacia Total">
					<p:outputLabel value="#{fila.eficaciaTotal}"></p:outputLabel>
				</p:column>

				<p:column headerText="Eficacia Auxiliar">
					<p:outputLabel value="#{fila.eficaciaAuxiliar}"></p:outputLabel>
				</p:column>

				<p:column headerText="Fuerza Eje 1 Derecho">
					<p:outputLabel value="#{fila.fuerzaEje1Derecho}"></p:outputLabel>
				</p:column>

				<p:column headerText="Fuerza Eje 2 Derecho">
					<p:outputLabel value="#{fila.fuerzaEje2Derecho}"></p:outputLabel>
				</p:column>

				<p:column headerText="Fuerza Eje 3 Derecho">
					<p:outputLabel value="#{fila.fuerzaEje3Derecho}"></p:outputLabel>
				</p:column>

				<p:column headerText="Fuerza Eje 4 Derecho">
					<p:outputLabel value="#{fila.fuerzaEje4Derecho}"></p:outputLabel>
				</p:column>

				<p:column headerText="Fuerza Eje 5 Derecho">
					<p:outputLabel value="#{fila.fuerzaEje5Derecho}"></p:outputLabel>
				</p:column>


				<p:column headerText="Fuerza Eje 1 Izquierdo">
					<p:outputLabel value="#{fila.fuerzaEje1Izquierdo}"></p:outputLabel>
				</p:column>

				<p:column headerText="Fuerza Eje 2 Izquierdo">
					<p:outputLabel value="#{fila.fuerzaEje2Izquierdo}"></p:outputLabel>
				</p:column>

				<p:column headerText="Fuerza Eje 3 Izquierdo">
					<p:outputLabel value="#{fila.fuerzaEje3Izquierdo}"></p:outputLabel>
				</p:column>

				<p:column headerText="Fuerza Eje 4 Izquierdo">
					<p:outputLabel value="#{fila.fuerzaEje4Izquierdo}"></p:outputLabel>
				</p:column>

				<p:column headerText="Fuerza Eje 5 Izquierdo">
					<p:outputLabel value="#{fila.fuerzaEje5Izquierdo}"></p:outputLabel>
				</p:column>

				<p:column headerText="Peso Eje 1 Derecho">
					<p:outputLabel value="#{fila.pesoEje1Derecho}"></p:outputLabel>
				</p:column>

				<p:column headerText="Peso Eje 2 Derecho">
					<p:outputLabel value="#{fila.pesoEje2Derecho}"></p:outputLabel>
				</p:column>

				<p:column headerText="Peso Eje 3 Derecho">
					<p:outputLabel value="#{fila.pesoEje3Derecho}"></p:outputLabel>
				</p:column>

				<p:column headerText="Peso Eje 4 Derecho">
					<p:outputLabel value="#{fila.pesoEje4Derecho}"></p:outputLabel>
				</p:column>

				<p:column headerText="Peso Eje 5 Derecho">
					<p:outputLabel value="#{fila.pesoEje5Derecho}"></p:outputLabel>
				</p:column>

				<p:column headerText="Peso Eje 1 Izquierdo">
					<p:outputLabel value="#{fila.pesoEje1Izquierdo}"></p:outputLabel>
				</p:column>

				<p:column headerText="Peso Eje 2 Izquierdo">
					<p:outputLabel value="#{fila.pesoEje2Izquierdo}"></p:outputLabel>
				</p:column>

				<p:column headerText="Peso Eje 3 Izquierdo">
					<p:outputLabel value="#{fila.pesoEje3Izquierdo}"></p:outputLabel>
				</p:column>

				<p:column headerText="Peso Eje 4 Izquierdo">
					<p:outputLabel value="#{fila.pesoEje4Izquierdo}"></p:outputLabel>
				</p:column>

				<p:column headerText="Peso Eje 5 Izquierdo">
					<p:outputLabel value="#{fila.pesoEje5Izquierdo}"></p:outputLabel>
				</p:column>

				<p:column headerText="Desequilibrio Eje 1">
					<p:outputLabel value="#{fila.desequilibrioEje1}"></p:outputLabel>
				</p:column>

				<p:column headerText="Desequilibrio Eje 2">
					<p:outputLabel value="#{fila.desequilibrioEje2}"></p:outputLabel>
				</p:column>

				<p:column headerText="Desequilibrio Eje 3">
					<p:outputLabel value="#{fila.desequilibrioEje3}"></p:outputLabel>
				</p:column>

				<p:column headerText="Desequilibrio Eje 4">
					<p:outputLabel value="#{fila.desequilibrioEje4}"></p:outputLabel>
				</p:column>

				<p:column headerText="Desequilibrio Eje 5">
					<p:outputLabel value="#{fila.desequilibrioEje5}"></p:outputLabel>
				</p:column>

				<p:column headerText="Desviacion Eje 1">
					<p:outputLabel value="#{fila.desviacionEje1}"></p:outputLabel>
				</p:column>

				<p:column headerText="Desviacion Eje 2">
					<p:outputLabel value="#{fila.desviacionEje2}"></p:outputLabel>
				</p:column>

				<p:column headerText="Desviacion Eje 3">
					<p:outputLabel value="#{fila.desviacionEje3}"></p:outputLabel>
				</p:column>

				<p:column headerText="Desviacion Eje 4">
					<p:outputLabel value="#{fila.desviacionEje4}"></p:outputLabel>
				</p:column>

				<p:column headerText="Desviacion Eje 5">
					<p:outputLabel value="#{fila.desviacionEje5}"></p:outputLabel>
				</p:column>

				<p:column headerText="Referencia comercial de la llanta">
					<p:outputLabel value="#{fila.referenciaComercialLlanta}"></p:outputLabel>
				</p:column>

				<p:column headerText="Error distancia">
					<p:outputLabel value="#{fila.errorDistancia}"></p:outputLabel>
				</p:column>

				<p:column headerText="Error tiempo">
					<p:outputLabel value="#{fila.errorTiempo}"></p:outputLabel>
				</p:column>

				<p:column headerText="Temp Ralenti">
					<p:outputLabel value="#{fila.tempRalenti}"></p:outputLabel>
				</p:column>

				<p:column headerText="Temp Crucero">
					<p:outputLabel value="#{fila.tempCrucero}"></p:outputLabel>
				</p:column>

				<p:column headerText="Rpm Ralenti">
					<p:outputLabel value="#{fila.rpmRalenti}"></p:outputLabel>
				</p:column>

				<p:column headerText="Rpm Crucero">
					<p:outputLabel value="#{fila.rpmCrucero}"></p:outputLabel>
				</p:column>

				<p:column headerText="Co Ralenti">
					<p:outputLabel value="#{fila.coRalenti}"></p:outputLabel>
				</p:column>

				<p:column headerText="Co2 Ralenti">
					<p:outputLabel value="#{fila.co2Ralenti}"></p:outputLabel>

				</p:column>

				<p:column headerText="O2 Ralenti">
					<p:outputLabel value="#{fila.o2Ralenti}"></p:outputLabel>

				</p:column>

				<p:column headerText="HC Ralenti">
					<p:outputLabel value="#{fila.hcRalenti}"></p:outputLabel>
				</p:column>

				<p:column headerText="CO Crucero">
					<p:outputLabel value="#{fila.coCrucero}"></p:outputLabel>

				</p:column>

				<p:column headerText="CO2 Crucero">
					<p:outputLabel value="#{fila.co2Crucero}"></p:outputLabel>

				</p:column>

				<p:column headerText="O2 Crucero">
					<p:outputLabel value="#{fila.o2Crucero}"></p:outputLabel>

				</p:column>

				<p:column headerText="HC Crucero">
					<p:outputLabel value="#{fila.hcCrucero}"></p:outputLabel>
				</p:column>

				<p:column headerText="Temperatura Diesel">
					<p:outputLabel value="#{fila.temperaturaDiesel}"></p:outputLabel>
				</p:column>

				<p:column headerText="Rpm Ralenti Diesel">
					<p:outputLabel value="#{fila.rpmRalentiDiesel}"></p:outputLabel>
				</p:column>

				<p:column headerText="Rpm Gobernada Diesel">
					<p:outputLabel value="#{fila.rpmGobernadaDiesel}"></p:outputLabel>
				</p:column>

				<p:column headerText="Densidad humo Ciclo 1">
					<p:outputLabel value="#{fila.densidadHumoCiclo1}"></p:outputLabel>

				</p:column>

				<p:column headerText="Densidad humo Ciclo 2">
					<p:outputLabel value="#{fila.densidadHumoCiclo2}"></p:outputLabel>

				</p:column>

				<p:column headerText="Densidad Humo Ciclo 3">
					<p:outputLabel value="#{fila.densidadHumoCiclo3}"></p:outputLabel>

				</p:column>

				<p:column headerText="Densdiad Humo Ciclo 4">
					<p:outputLabel value="#{fila.densidadHumoCiclo4}"></p:outputLabel>

				</p:column>
				<p:column headerText="Resultado Densdidad Humo">
					<p:outputLabel value="#{fila.densdiadHumoResultado}"></p:outputLabel>

				</p:column>

				<p:column headerText="Resultado">
					<p:outputLabel value="#{fila.resultadoDeTodaLaPrueba}"></p:outputLabel>

				</p:column>

				<p:column headerText="Eje 1 Derecha">
					<p:outputLabel value="#{fila.profEje1Der}"></p:outputLabel>
				</p:column>

				<p:column headerText="Eje 1 Izquierda">
					<p:outputLabel value="#{fila.profEje1Izq}"></p:outputLabel>
				</p:column>


				<p:column headerText="Eje 2 Derecha 1">
					<p:outputLabel value="#{fila.profEje2Der1}"></p:outputLabel>
				</p:column>

				<p:column headerText="Eje 2 Derecha 2">
					<p:outputLabel value="#{fila.profEje2Der2}"></p:outputLabel>
				</p:column>

				<p:column headerText="Eje 2 Izquierda 1">
					<p:outputLabel value="#{fila.profEje2Izq1}"></p:outputLabel>
				</p:column>

				<p:column headerText="Eje 2 Izquierda 2">
					<p:outputLabel value="#{fila.profEje2Izq2}"></p:outputLabel>
				</p:column>


				<p:column headerText="Eje 3 Derecha 1">
					<p:outputLabel value="#{fila.profEje3Der1}"></p:outputLabel>
				</p:column>

				<p:column headerText="Eje 3 Derecha 2">
					<p:outputLabel value="#{fila.profEje3Der2}"></p:outputLabel>
				</p:column>

				<p:column headerText="Eje 3 Izquierda 1">
					<p:outputLabel value="#{fila.profEje3Izq1}"></p:outputLabel>
				</p:column>

				<p:column headerText="Eje 3 Izquierda 2">
					<p:outputLabel value="#{fila.profEje3Izq2}"></p:outputLabel>
				</p:column>


				<p:column headerText="Eje 4 Derecha 1">
					<p:outputLabel value="#{fila.profEje4Der1}"></p:outputLabel>
				</p:column>

				<p:column headerText="Eje 4 Derecha 2">
					<p:outputLabel value="#{fila.profEje4Der2}"></p:outputLabel>
				</p:column>

				<p:column headerText="Eje 4 Izquierda 1">
					<p:outputLabel value="#{fila.profEje4Izq1}"></p:outputLabel>
				</p:column>

				<p:column headerText="Eje 4 Izquierda 2">
					<p:outputLabel value="#{fila.profEje4Izq2}"></p:outputLabel>
				</p:column>


				<p:column headerText="Eje 5 Derecha 1">
					<p:outputLabel value="#{fila.profEje5Der1}"></p:outputLabel>
				</p:column>

				<p:column headerText="Eje 5 Derecha 2">
					<p:outputLabel value="#{fila.profEje5Der2}"></p:outputLabel>
				</p:column>

				<p:column headerText="Eje 5 Izquierda 1">
					<p:outputLabel value="#{fila.profEje5Izq1}"></p:outputLabel>
				</p:column>

				<p:column headerText="Eje 5 Izquierda 2">
					<p:outputLabel value="#{fila.profEje5Izq2}"></p:outputLabel>
				</p:column>

				<p:column headerText="Repuesto derecha">
					<p:outputLabel value="#{fila.profRepDer}"></p:outputLabel>
				</p:column>

				<p:column headerText="Repuesto izquierda">
					<p:outputLabel value="#{fila.profRepIzq}"></p:outputLabel>
				</p:column>


			</p:dataTable>
			
			<p:ajaxStatus style="display:block;margin-bottom:2em;height:24px;">
				<f:facet name="default">
					<h:outputText value="Status: StandBy" />
				</f:facet>

				<f:facet name="start">
					<p:graphicImage name="/images/ajax-loading-bar.gif" />
				</f:facet>

				<f:facet name="complete">
					<h:outputText value="Status: Completed" />
				</f:facet>
			</p:ajaxStatus>

		</h:form>
	</ui:define>

</ui:composition>
