<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<p:growl autoUpdate="true">
			</p:growl>
			<p:panelGrid>
				<p:row>
					<p:column>Fecha Inicio</p:column>
					<p:column>
						<p:calendar value="#{infoRevisionesMedellinBean.fechaInicial}"
							id="fechainicio">
						</p:calendar>
					</p:column>
					<p:column>Fecha Fin</p:column>
					<p:column>
						<p:calendar value="#{infoRevisionesMedellinBean.fechaFinal}"
							id="fechafin">

						</p:calendar>
					</p:column>
					<p:column>
						<p:commandButton value="CONSULTAR"
							process="@this fechainicio fechafin" update=":form:infoPruebas"
							actionListener="#{infoRevisionesMedellinBean.consultarPruebasMotos}"
							ajax="true" onclick="PF('pbAjax').start()"></p:commandButton>
					</p:column>
					<p:column>
						<h:commandLink value="Exportar">
							<p:dataExporter type="xls" target="infoPruebas"
								fileName="pruebasmotos" />
						</h:commandLink>
					</p:column>
					<p:column>
						<h:commandLink value="Exportar csv">
							<p:dataExporter type="csv" target="infoPruebas"
								fileName="pruebasmotos" />
						</h:commandLink>
					</p:column>

				</p:row>
			</p:panelGrid>
			<p:dataTable id="infoPruebas"
				value="#{infoRevisionesMedellinBean.lazyDataModel}" scrollable="true"
				style="width:300%" scrollWidth="100%" scrollRows="1000"
				liveScroll="true" scrollHeight="250" lazy="true" var="fila"
				rowIndexVar="numeroFila">
				<p:column>

					<p:outputLabel value="#{numeroFila+1}">
					</p:outputLabel>
				</p:column>
				
				<p:column headerText="REVNUM_CERTIFICADO">
					<p:outputLabel value="#{fila.numeroCertificado}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REV_FECHAEXP">
					<p:outputLabel value="#{fila.fechaExpedicion}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REV_FECHA_VEN">
					<p:outputLabel value="#{fila.fechaVencimiento}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REPTIPIDE ">
					<p:outputLabel value="NIT"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVIDENTE">
					<p:outputLabel value="#{fila.identificacionCda}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVDIVIPO">
					<p:outputLabel value="#{fila.divipo}"></p:outputLabel>
				</p:column>

				<p:column headerText="REVSUCURSAL">
					<p:outputLabel value="#{ fila.sucursal} "></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVCLASE">
					<p:outputLabel value="#{fila.claseCda}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVPLACA">
					<p:outputLabel value="#{fila.placa}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVCLASE_VEH">
					<p:outputLabel value="#{fila.claseVehiculo}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVTIPO_SER">
					<p:outputLabel value="#{fila.servicio}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVMARCA">
					<p:outputLabel value="#{fila.marca}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVLINEA">
					<p:outputLabel value="#{fila.linea}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVMODELO">
					<p:outputLabel value="#{fila.modelo}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVCOLOR">
					<p:outputLabel value="#{fila.color}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVTIPO_COMB">
					<p:outputLabel value="#{fila.tipoCombustible}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVMOTOR">
					<p:outputLabel value="#{fila.motor}"></p:outputLabel>
				</p:column>

				<p:column headerText="REVVIN">
					<p:outputLabel value="#{fila.vin}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVCILINDRAJE">
					<p:outputLabel value="#{fila.cilindraje}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVSOAT">
					<p:outputLabel value="#{fila.numeroSoat}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVFECHA_EXP_SOAT">
					<p:outputLabel value="#{fila.fechaExpedicionSoat}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVFECHA_VEN_SOAT">
					<p:outputLabel value="#{fila.fechaVencimientoSoat}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVASEGURADORA">
					<p:outputLabel value="#{fila.aseguradora}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVNUMLIC_TRANSITO">
					<p:outputLabel value="#{fila.numeroLicenciaTransito}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVTIPID_P">
					<p:outputLabel value="#{fila.tipoIdentificacionPropietario}"></p:outputLabel>
				</p:column>

				<p:column headerText="REVIDENT_P">
					<p:outputLabel value="#{fila.identificacionPropietario}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVNOMBRE_P">
					<p:outputLabel value="#{fila.nombrePropietario}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVDIRECCION_P">
					<p:outputLabel value="#{fila.direccionPropietario}"></p:outputLabel>
				</p:column>

				<p:column headerText="REVTELEFONO_P">
					<p:outputLabel value="#{fila.telefonoPropietario}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVNUMLIC_CONDUCCION">
					<p:outputLabel value="#{fila.numeroLicenciaConduccion}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVCATEG">
					<p:outputLabel value="#{fila.categoriaLicenciaConduccion}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVTIPID_C">
					<p:outputLabel value="#{fila.tipoIdentificacionConductor}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVIDENT_C">
					<p:outputLabel value="#{fila.identificacionConductor}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVNOMBRE_C">
					<p:outputLabel value="#{fila.nombreConductor}"></p:outputLabel>
				</p:column>

				<p:column headerText="REVDIRECCION_C">
					<p:outputLabel value="#{fila.direccionConductor}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVTELEFONO_C">
					<p:outputLabel value="#{fila.telefonoConductor}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REVESTADO">
					<p:outputLabel value="#{fila.estadoRevision}"></p:outputLabel>
				</p:column>		

				<p:column headerText="REVFECHA_CARGUE">
					<p:outputLabel value="#{fila.fechaCargue}"></p:outputLabel>
				</p:column>
				
			</p:dataTable>
			<p:ajaxStatus style="display:block;margin-bottom:2em;height:24px;">
				<f:facet name="default">
					<h:outputText value="Status: StandBy" />
				</f:facet>

				<f:facet name="start">
					<p:graphicImage name="/images/ajax-loading-bar.gif" />
				</f:facet>

				<f:facet name="complete">
					<h:outputText value="Status: Completed" />
				</f:facet>
			</p:ajaxStatus>

		</h:form>
	</ui:define>

</ui:composition>
