<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="head">
	
	</ui:define>
	<ui:define name="content">
				<h:form id="form">
		<p:growl autoUpdate="true"> </p:growl>
			<p:panelGrid>
				<p:row>
					<p:column >Fecha Inicio</p:column>
	       			<p:column>
	       				<p:calendar value = "#{informePruebaFugasBean.fechaInicial}" id="fechainicio" required="true" requiredMessage="Ingrese fecha de Inicio">
	       				</p:calendar>
	       			</p:column>
	       			<p:column >Fecha Fin</p:column>
	       			<p:column>
	       				<p:calendar value = "#{informePruebaFugasBean.fechaFinal}" id="fechafin" required="true" requiredMessage="Ingrese fecha final">
	       					
	       				</p:calendar>
	       			</p:column>
	       			<p:column>
	       				<p:commandButton value="CONSULTAR" process = "@this fechainicio fechafin" update=":form:infoPruebaFugas" 
	       								 actionListener="#{informePruebaFugasBean.consultarPruebas}" ajax="true"></p:commandButton>
	       			</p:column>
	       			<p:column>
	       				<h:commandLink value="Exportar">                
                			<p:dataExporter type="xls" target="infoPruebaFugas" fileName="informePruebaFugas"/>
            			</h:commandLink>
	       			</p:column>
	       				
	       			
				</p:row>				
			</p:panelGrid>
			
			
			<p:dataTable id="infoPruebaFugas"  value="#{informePruebaFugasBean.pruebaFugasConsultadas}" var="pruebaFugas" 
							 scrollable="true" scrollHeight="500px" scrollWidth="85%"  rowIndexVar="numeroFila">
					<p:column>
						<p:outputLabel value = "#{numeroFila + 1}"></p:outputLabel>
					</p:column>
				
					<p:column headerText="Fecha Realizacion">
						<p:outputLabel value="#{pruebaFugas.fechaRealizacion}">
							<f:convertDateTime pattern="dd/MM/yyyy hh:mm a"/>
						</p:outputLabel>		
					</p:column>
					
					<p:column headerText="identificacion usuario">
						<p:outputLabel value="#{informePruebaFugasBean.bucarUsuarioPrueba(pruebaFugas)}"></p:outputLabel>
					</p:column>
					
					<p:column headerText = "Serial Banco de Gases">
						<p:outputLabel value="#{pruebaFugas.serialEquipo}"></p:outputLabel>
					</p:column>
					
					<p:column headerText ="Serial Analizador">
						<p:outputLabel value="#{informePruebaFugasBean.buscarSerialEquipoCompleto(pruebaFugas.serialEquipo)}"></p:outputLabel>
					</p:column>
					
					<p:column headerText="Presion Inicial">
						<p:outputLabel value="#{pruebaFugas.presionInicial}"></p:outputLabel>
					</p:column>
					
					<p:column headerText="Presion Final">
						<p:outputLabel value="#{pruebaFugas.presionFinal}"></p:outputLabel>
					</p:column>
					
					<p:column headerText="Diferencia de presion">
						<p:outputLabel value="#{informePruebaFugasBean.diferenciaPresion(pruebaFugas)}"></p:outputLabel>
					</p:column>
					<p:column headerText="Resultado">
						<p:outputLabel value="#{pruebaFugas.isAprobada() ? 'Aprobada':'Reprobada'}">
						</p:outputLabel>
					</p:column>
					
					<p:column headerText="Informe">
						<h:commandLink  value="reporte" action="#{informePruebaFugasBean.verReporte(pruebaFugas.pruebaFugasId)}"></h:commandLink> 
						
					</p:column>				
			</p:dataTable >
			
		</h:form>
	</ui:define>
		
</ui:composition>
