<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">
		<div class="ui-fluid">
			<h:form id="form">
				<p:growl autoUpdate="true" id="messages"></p:growl>

				<p:outputLabel value="BUSCAR REVISIONES PARA PLACA">
				</p:outputLabel>

				<p:panelGrid columns="3"
					columnClasses="ui-grid-col-2,ui-grid-col-6,ui-grid-col-2"
					layout="grid">
					<p:outputLabel value="Placa"></p:outputLabel>
					<p:inputText id="input_placa"
						value="#{informeSensorialPlacaBean.placa}"></p:inputText>
					<p:commandButton value="Buscar"
						actionListener="#{informeSensorialPlacaBean.buscarRevisiones}"
						process="@this :form:input_placa" update=":form:tabla_revisiones"></p:commandButton>
					
				</p:panelGrid>

				<p:dataTable id="tabla_revisiones"
					value="#{informeSensorialPlacaBean.revisiones}" var="revision"
					selectionMode="single"
					selection="#{informeSensorialPlacaBean.revisionSeleccionada}"
					rowKey="#{revision.inspeccionId}" reflow="true">

					<p:column headerText="Num">
						<p:outputLabel value="#{revision.inspeccionId}">
						</p:outputLabel>
					</p:column>
					<p:column headerText="Fecha">
						<p:outputLabel value="#{revision.fechaInspeccionAnterior}">
						</p:outputLabel>
					</p:column>
					<p:column headerText="Resultado">
						<p:outputLabel
							value="#{revision.aprobada ? ' Aprobada':'Reprobada'} ">
						</p:outputLabel>
					</p:column>
					<p:column headerText="Numero Intento">
						<p:outputLabel value="#{revision.numeroInspeccion}">
						</p:outputLabel>
					</p:column>
					
				</p:dataTable>

				<p:panelGrid columns="4"
					columnClasses="ui-grid-col-3,ui-grid-col-3,ui-grid-col-3"
					layout="grid">
					<p:commandButton value="Informe Visual"
						actionListener="#{informeSensorialPlacaBean.imprimirReporteInspeccionSensorial}"
						process="@form" update="tabla_defectos"></p:commandButton>

					<p:commandButton value="Inicio"
						action="/inicio.xhtml?faces-redirect=true" ajax="false"
						onclick="$('#form').attr({'target':'_self'})" immediate="true"></p:commandButton>
					<h:commandLink>
						<p:outputLabel value="Excel"></p:outputLabel>
						<p:dataExporter type="xls" target="tabla_defectos" fileName="#{informeSensorialPlacaBean.placa}"
							pageOnly="true" />
							
					</h:commandLink>	
				</p:panelGrid>

				<p:dataTable id="tabla_defectos"
					value="#{informeSensorialPlacaBean.defectosAsociados}"
					var="defectoAsociado" reflow="true">

					<p:column headerText="Codigo">
						<p:outputLabel value="#{defectoAsociado.defecto.codigoMinisterio}">
						</p:outputLabel>
					</p:column>
					<p:column headerText="Descripcion">
						<p:outputLabel value="#{defectoAsociado.defecto.nombre}">
						</p:outputLabel>
					</p:column>
					<p:column headerText="Estado">
						<p:outputLabel
							value="#{defectoAsociado.estadoDefecto }"></p:outputLabel>
					</p:column>
					<p:column headerText="Grupo">
						<p:outputLabel
							value="#{defectoAsociado.defecto.categoriaDefecto.nombre}"></p:outputLabel>
					</p:column>
					<p:column headerText="Sub grupo">
						<p:outputLabel
							value="#{defectoAsociado.defecto.subCategoriaDefecto.nombre}"></p:outputLabel>
					</p:column>
					
					<f:facet name="footer">
        					Operario que realizó la inspección #{informeSensorialPlacaBean.formatearUsuario()}.
    				</f:facet>	
				</p:dataTable>
			</h:form>
		</div>
	</ui:define>

</ui:composition>
