<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">
		<f:metadata>
			<f:event listener="#{ingresoDatosRapidoBean.initConversation}"
				type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
	<ui:define name="content">
		<h:form id="form" prependId="false">
			<p:ajaxStatus onstart="PF('statusDialog').show()"
				onsuccess="PF('statusDialog').hide()" />

			<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
				closable="false" resizable="false" showHeader="false">
				<p:graphicImage name="/images/logo_proambiente.gif" />
			</p:dialog>

			<p:growl id="growl" autoUpdate="true"></p:growl>


			<div class="ui-fluid">
				<p:panelGrid columns="4"
					columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col2,ui-grid-col4"
					layout="grid" styleClass="ui-panelgrid-blank">


					<p:outputLabel value="REVISIÓN PREVENTIVA "
						style="color:#800080;border-bottom-style: solid;border-color:#800080;" />
					<p:selectBooleanCheckbox
						value="#{ingresoDatosRapidoBean.preventiva}"
						style="border-bottom-style: solid;border-color:#800080;"
						id="check_preventiva"></p:selectBooleanCheckbox>

					<p:outputLabel for="placa" value="Placa" />
					<p:inputText id="placa"
						value="#{ingresoDatosRapidoBean.vehiculo.placa}"
						converter="#{toUpperCaseConverter}"
						autocomplete="off"
						disabled="#{ingresoDatosRapidoBean.deshabilitarInputPlaca}">
						<p:ajax event="blur"
							listener="#{ingresoDatosRapidoBean.blurPlaca}" update="form"
							process="@this,check_preventiva"></p:ajax>
					</p:inputText>

					<p:outputLabel for="modelo" value="Modelo"></p:outputLabel>
					<p:inputText id="modelo"
						value="#{ingresoDatosRapidoBean.vehiculo.modelo}"
						validatorMessage="Modelo invalido"
						required = "true"
						requiredMessage="Ingrese modelo del vehiculo">
						<f:validateLongRange minimum="1850" maximum="2030"></f:validateLongRange>
					</p:inputText>
					
					<p:outputLabel for="cilindraje" value="Cilindraje"></p:outputLabel>
					<p:inputText id="cilindraje"
						value="#{ingresoDatosRapidoBean.vehiculo.cilindraje}"
						validatorMessage="Cilindraje invalido"
						required = "true"
						requiredMessage="Ingrese cilindraje del vehiculo">
						<f:validateLongRange minimum="0" maximum="99999"></f:validateLongRange>
					</p:inputText>


					<p:outputLabel for="tipo_combustible" value="Tipo Combustible" />
					<p:selectOneMenu id="tipo_combustible"
						value="#{ingresoDatosRapidoBean.vehiculo.tipoCombustible}"
						style="width:150px" converter="#{tipoCombustibleConverter}">
						<f:selectItems value="#{listaTiposCombustible}" var="item"
							itemLabel="#{item.nombre}" itemValue="#{item}">
						</f:selectItems>
					</p:selectOneMenu>



					<p:outputLabel for="clase" value="Clase" />
					<p:selectOneMenu id="clase"
						value="#{ingresoDatosRapidoBean.vehiculo.claseVehiculo}"
						converter="#{claseVehiculoConverter}">
						<f:selectItems value="#{listaClases}" var="item"
							itemLabel="#{item.nombre}" itemValue="#{item}">
						</f:selectItems>
					</p:selectOneMenu>

					<p:outputLabel for="tipo_vehiculo" value="Tipo Vehiculo" />
					<p:selectOneMenu id="tipo_vehiculo"
						value="#{ingresoDatosRapidoBean.vehiculo.tipoVehiculo}"
						converter="#{tipoVehiculoConverter}">
						<f:selectItems value="#{listaTipoVehiculos}" var="item"
							itemLabel="#{item.nombre}" itemValue="#{item}">
						</f:selectItems>
						<p:ajax
							listener="#{ingresoDatosRapidoBean.comboTipoVehiculoListener(ae)}"
							update="form" process="form"></p:ajax>
					</p:selectOneMenu>






					<p:outputLabel for="servicio" value="Servicio" />
					<p:selectOneMenu id="servicio"
						value="#{ingresoDatosRapidoBean.vehiculo.servicio}"
						converter="#{servicioConverter}"
						converterMessage="Fallo en conversion"
						validatorMessage="Servicio Invalido">
						<f:selectItems value="#{listaServicios}" var="item"
							itemLabel="#{item.nombre}" itemValue="#{item}">
						</f:selectItems>
						<p:ajax
							listener="#{ingresoDatosRapidoBean.comboServicioVehiculoListener(ae)}"
							update="form" process="form"></p:ajax>
					</p:selectOneMenu>


					<p:outputLabel for="prueba_taximetro"
						rendered="#{ingresoDatosRapidoBean.mostrarOpcionTaximetro}"
						value="Crear prueba taximetro"></p:outputLabel>
					<p:selectBooleanCheckbox id="prueba_taximetro"
						rendered="#{ingresoDatosRapidoBean.mostrarOpcionTaximetro}"
						value="#{ingresoDatosRapidoBean.crearPruebaTaximetro}"></p:selectBooleanCheckbox>

					<p:outputLabel for="tiempos_motor" value="Tiempos Motor:"
						rendered="#{ingresoDatosRapidoBean.mostrarOpcionTiemposMotor}" />
					<p:selectOneRadio id="tiempos_motor"
						rendered="#{ingresoDatosRapidoBean.mostrarOpcionTiemposMotor}"
						value="#{ingresoDatosRapidoBean.vehiculo.tiemposMotor}">
						<f:selectItem itemLabel="2T" itemValue="2" />
						<f:selectItem itemLabel="4T" itemValue="4" />
						<f:convertNumber />
					</p:selectOneRadio>

					<p:outputLabel for="numero_sillas" value="Numero de Sillas"></p:outputLabel>
					<p:inputText id="numero_sillas"
						value="#{ingresoDatosRapidoBean.vehiculo.numeroSillas}"></p:inputText>

					<!-- PROVOCA QUE LOS BOTONES SE REACOMODEN MEJOR EN LA GRILLA-->
					<p:outputLabel
						rendered="#{ingresoDatosRapidoBean.mostrarOpcionTiemposMotor}"></p:outputLabel>
					<p:outputLabel
						rendered="#{ingresoDatosRapidoBean.mostrarOpcionTiemposMotor}"></p:outputLabel>


					<p:outputLabel
						rendered="#{ingresoDatosRapidoBean.mostrarOpcionTaximetro}"></p:outputLabel>
					<p:outputLabel
						rendered="#{ingresoDatosRapidoBean.mostrarOpcionTaximetro}"></p:outputLabel>

					<p:commandButton value="Guardar"
						actionListener="#{ingresoDatosRapidoBean.registrarRevisionSinInformacionPropietario(ae)}"
						disabled="#{ingresoDatosRapidoBean.deshabilitarBoton}"
						update="form"></p:commandButton>
					<p:outputLabel />
					<p:commandButton value="Volver" immediate="true" ajax="false"
						action="#{ingresoDatosRapidoBean.finalizar()}"  styleClass="ui-button-secondary"></p:commandButton>
				</p:panelGrid>
			</div>
		</h:form>
	</ui:define>


</ui:composition>
