<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="head">
	
	</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<p:growl id="messages"></p:growl>
			
			<p:panelGrid columns="2" >
				<p:outputLabel  value="Placa"></p:outputLabel>
				<p:inputText id="input_placa" value="#{inspeccionBean.placa}"></p:inputText>
				<h:outputLabel/>
				<p:commandButton value="Buscar" actionListener="#{inspeccionBean.buscarInspecciones}" process="@this :form:input_placa" update=":form:tabla_inspecciones"></p:commandButton>
			</p:panelGrid>
			
			<p:dataTable id="tabla_inspecciones" value="#{inspeccionBean.inspecciones}" var="inspeccion" selectionMode="single" selection="#{inspeccionBean.inspeccionSeleccionada}" rowKey="#{inspeccion.inspeccionId}">
				<p:column headerText="Fecha">
					<p:outputLabel value = "#{inspeccion.fechaInspeccionAnterior}" >						
					</p:outputLabel>
				</p:column>
				<p:column headerText="Resultado">
					<p:outputLabel value="#{inspeccion.aprobada ? ' Aprobada':'Reprobada'} ">
					</p:outputLabel>
				</p:column>
				<p:column headerText="Numero Intento">
					<p:outputLabel value="#{inspeccion.numeroInspeccion}">
					</p:outputLabel>
				</p:column>
				
			</p:dataTable>
			
			<p:panelGrid columns="3" columnClasses="ui-grid-col-3,ui-grid-col-3,ui-grid-col-3"
					layout="grid">
			
			
				<p:commandButton value="Reporte" actionListener="#{inspeccionBean.imprimirReporte}" ajax="false" onclick="$('#form').attr({'target':'_blank'})"></p:commandButton>
			
			
			
				<p:commandButton value="Detalles" action="#{inspeccionBean.verDetalles}" ajax="false" onclick="$('#form').attr({'target':'_self'})"></p:commandButton>
			
			
			
				<p:commandButton value="Primer Envio" actionListener="#{inspeccionBean.validarSicov}" ajax="false" onclick="$('#form').attr({'target':'_self'})"></p:commandButton>
			
			
			
				<p:commandButton value="Segundo Envio" actionListener="#{inspeccionBean.segundoEnvioInspeccion}" ajax="false" onclick="$('#form').attr({'target':'_self'})"></p:commandButton>
			
			
			
			
			
			
			</p:panelGrid>
			
		</h:form>
	</ui:define>
		
</ui:composition>
