<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
	<h1>REVISIONES PRIMER ENVIO EN PROCESO</h1>
		<h:form id="form_resumen">
			<p:growl id="growl" autoUpdate="true"></p:growl>

			<p:panel id="panelFechas">
				<p:panelGrid>
					<p:row>						
						<p:column>
							<p:commandButton value="Limpiar"
								process="@this"								
								actionListener="#{listaEnviosBean.limpiarLista(ae)}"
								ajax="true"></p:commandButton>
						</p:column>						
					</p:row>

				</p:panelGrid>

				<p:dataTable id="tabla_revisiones"
					value="#{listaEnviosBean.listaEnvios}" var="revisionId"
					emptyMessage="No se encontraron registros">
					<p:column headerText="Revision Id" style="width:25px">
						<h:outputText value="#{revisionId}" />
					</p:column>			

				</p:dataTable>

			</p:panel>


		</h:form>
	</ui:define>

</ui:composition>
</html>
