<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">
		<h:outputStylesheet library="css" name="gestionlogosonac.css"/>
	</ui:define>
	<ui:define name="content">
		<div class="card product">
			<h:form id="form">


				<p:growl id="growl"></p:growl>


				<p:dataView id="tabla_logos" paginator="false"
					value="#{logoOnacCRUDBean.listaLogos}" var="logo"
					gridIcon="pi pi-th-large" listIcon="pi pi-bars">

					<f:facet name="header">
						<p:outputLabel
							value="Recargue para ver los cambios "></p:outputLabel>
					</f:facet>
					<p:dataViewListItem>
						<div class="product-list-item">
							<p:graphicImage style="width:100px"
								value="/ServletLogoOnac?logo_onac_id=#{logo.logoOnacId}">
							</p:graphicImage>

							<div class="product-list-detail">
								<div class="product-name">Fecha Vigencia Desde #{logo.fechaVigenciaDesde}</div>
								<div class="product-name">Fecha Vigencia Hasta #{logo.fechaVigenciaHasta}</div>
								<div class="product-description">
									<span>Anulado </span><h:outputText value="#{logo.anulado}" />
								</div>

							</div>

							<div class="product-list-action">

								<p:commandButton id="boton_editar" value="Editar Logo" styleClass="ui-button-info"
									process="@this :form:tabla_logos"
									actionListener="#{logoOnacCRUDBean.editarLogo(logo.logoOnacId)}">
								</p:commandButton>

							</div>

						</div>
					</p:dataViewListItem>

				</p:dataView>

				<p:panelGrid columns="4">


					<p:commandButton value="Nuevo" process="@this tabla_logos" styleClass="ui-button-success"
						update="@form" actionListener="#{logoOnacCRUDBean.nuevoLogo}">
					</p:commandButton>
				</p:panelGrid>




			</h:form>


		</div>
	</ui:define>


</ui:composition>
