
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
<ui:define name="content" >	
		<div class="ui-fluid">
			<h:form>
				<p:growl id="growl" autoUpdate="true"></p:growl>

				

			<h1>Muestra 1</h1>	
			<p:dataTable id="tabla_muestras"  value="#{logPruebaGasesBean.muestrasBaja}" var="muestra"  >
				
				<p:column headerText="HC">
					<h:outputText value="#{muestra.HC}">
					</h:outputText>
				</p:column>				
				<p:column headerText="CO">
					<p:outputLabel value="#{muestra.CO}"></p:outputLabel>
				</p:column>
				<p:column headerText="CO2">
					<p:outputLabel value="#{muestra.CO2}"/>	 
				</p:column>
				<p:column headerText="O2">
					<p:outputLabel value="#{muestra.o2}"></p:outputLabel> 
				</p:column>							
			</p:dataTable>	
			<h1>Muestra 2</h1>
			<p:dataTable id="tabla_muestras_alta"  value="#{logPruebaGasesBean.muestrasAlta}" var="muestra"  >
				
				<p:column headerText="HC">
					<h:outputText value="#{muestra.HC}">
					</h:outputText>
				</p:column>				
				<p:column headerText="CO">
					<p:outputLabel value="#{muestra.CO}"></p:outputLabel>
				</p:column>
				<p:column headerText="CO2">
					<p:outputLabel value="#{muestra.CO2}"/>	 
				</p:column>
				<p:column headerText="O2">
					<p:outputLabel value="#{muestra.o2}"></p:outputLabel> 
				</p:column>							
			</p:dataTable>	

			</h:form>

		</div>


</ui:define>
</ui:composition>

