
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>${artifactId}</title>
    <h:outputScript library="primefaces" name="jquery/jquery.js" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script  >
		var ocultarTableView = function(){
				var marca = $('#form\\:tabmarca');
				console.log(marca.get(0).tagName);
				marca.slideUp(1000);			
			};

    </script>
</h:head>
<h:body style ="width: 96%;margin: 0 auto;
					 font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  					 font-size: 12px;
  					 color:#363636;">
		<div >
		<h:form id="form">
			<p:growl autoUpdate="true" id="messages"></p:growl>
			<h3 >CREAR NUEVA MARCA O NUEVA LINEA</h3>
			<p:tabView widgetVar="tab" id="tabmarca" >
			
				<p:tab title="Buscar Marca Linea">	
					<p:panelGrid columns="2" >
						<p:outputLabel  value="Nombre de marca"></p:outputLabel>
						<p:inputText id="input_marca" value="#{marcaBean.nombreMarca}" required="true"  requiredMessage="Ingrese marca para buscar" ></p:inputText>
					
						<p:commandButton value="Buscar" actionListener="#{marcaBean.buscarMarcas}" process="@this input_marca" update=":form:tabla_marcas"  >
							
						</p:commandButton>
					
					</p:panelGrid>
		
				</p:tab>			
			
				<p:tab title="Crear Nueva Marca">
					<!-- DIALOGO PARA CREAR UNA NUEVA MARCA -->	 
					<p:panelGrid columns = "2" id="nueva_marca">
				
						<h:outputLabel value="Nombre de Marca" />
						<h:inputText value="#{marcaBean.marcaNueva.nombre}" required="true" requiredMessage="Nombre De Marca Requerida" validatorMessage="Nombre Marca Requerida"/>			
												
					</p:panelGrid>
						
					<p:commandButton  value="Guardar"  process="@this nueva_marca" update=":form:tabla_marcas" actionListener="#{marcaBean.crearMarca}" ></p:commandButton>
								
				</p:tab>
				
				
			</p:tabView>	
			
			<p:dataTable id="tabla_marcas" value="#{marcaBean.marcas}" var="marca" selectionMode="single" selection="#{marcaBean.marcaSeleccionada}" rowKey="#{marca.marcaId}">
			
				<p:ajax  event="rowSelect" process=":form:tabla_marcas" ></p:ajax>
					<p:column headerText = "Num">
						<p:outputLabel value="#{marca.marcaId}"> </p:outputLabel>
					</p:column>
					<p:column headerText="Nombre">
						<p:outputLabel value = "#{marca.nombre}">						
						</p:outputLabel>
					</p:column>							
			</p:dataTable>
			
			<p:panel id="nueva_linea" header="Nueva Linea" >
		 
				<p:panelGrid columns = "2">
					<h:outputLabel value="Nombre de Linea" />
					<h:inputText value="#{marcaBean.lineaNueva.nombre}" required="true" requiredMessage="Nombre De linea Requerida" validatorMessage="Nombre Linea Requerida"/>
					
					<h:outputLabel value="Codigo Linea (Ver runt)" />
					<h:inputText value="#{marcaBean.lineaNueva.codigoLinea}" />	
					
					
				</p:panelGrid>
							
				<p:commandButton  value="Guardar"  process="@this :form:nueva_linea" actionListener="#{marcaBean.crearLinea}" ></p:commandButton>
			
			</p:panel>	
		
		</h:form>
		</div>
		
</h:body>
</html>
