<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<p:growl id="growl"></p:growl>
			<p:panelGrid columns="4">
				<p:commandButton value="Nuevo" process="@this tabla_configuraciones"
					update=":form:detalle_parametro_prueba"
					actionListener="#{parametrosTaximetroBean.nuevaConfiguracion}"
					oncomplete=" PF('dialogo').show()"></p:commandButton>
				<p:commandButton id="boton_editar" value="Editar"
					process="@this tabla_configuraciones"
					disabled="#{empty parametrosTaximetroBean.parametroSeleccionado.parametrosTaximetroId}"
					update=":form:detalle_parametro_prueba"
					actionListener="#{tiposEquipoBean.atachTipoEquipo}"
					oncomplete=" PF('dialogo').show()"></p:commandButton>

			</p:panelGrid>
			<p:dataTable id="tabla_configuraciones" selectionMode="single"
				value="#{parametrosTaximetroBean.listaParametrosPruebaTaximetro}" var="configuracionPrueba"
				selection="#{parametrosTaximetroBean.parametroSeleccionado}"
				rowKey="#{configuracionPrueba.parametrosTaximetroId}">
				<p:ajax event="rowSelect" process="tabla_configuraciones"
					update=":form:boton_editar" />
				<p:column headerText="id parametros configuracion">
					<h:outputText value="#{configuracionPrueba.parametrosTaximetroId}" />
				</p:column>
				<p:column headerText="Ciudad">
					<h:outputText value="#{configuracionPrueba.ciudad}" />
				</p:column>
				<p:column headerText="Tiempo por unidad">
					<h:outputText value="#{configuracionPrueba.tiempoPorUnidad}" />
				</p:column>
				<p:column headerText="Distancia por unidad">
					<h:outputText value="#{configuracionPrueba.distanciaPorUnidad}" />
				</p:column>
			</p:dataTable>


			<p:dialog widgetVar="dialogo" header="Configuracion de taximetro"
				modal="true">
				<p:ajax event="close" update="tabla_configuraciones" />
				<p:outputPanel id="detalle_parametro_prueba">

					<p:panelGrid columns="2">
					
						<h:outputLabel value="Ciudad" />
						<p:inputText
							value="#{parametrosTaximetroBean.parametroSeleccionado.ciudad}"
							required="true" requiredMessage="Ciudad Requerida"
							validatorMessage="Ciudad requerida" />
						
						<h:outputLabel value="Unidades por tiempo en segundos" />
						<p:inputText
							value="#{parametrosTaximetroBean.parametroSeleccionado.tiempoPorUnidad}"
							required="true" requiredMessage="Tiempo por unidad requerido"
							validatorMessage="Tiempo por unidad requerido" />

						<h:outputLabel value="Distancia por unidad en metros" />
						<p:inputText
							value="#{parametrosTaximetroBean.parametroSeleccionado.distanciaPorUnidad}"
							required="true"
							requiredMessage="Distancia por unidad requerida"
							validatorMessaje="Distancia por unidad requerida" />
					</p:panelGrid>

					<p:commandButton value="Guardar" disabled="#{parametrosTaximetroBean.deshabilitarGuardar}"
						process="@this :form:detalle_parametro_prueba" update=":form:detalle_parametro_prueba :form:growl"
						actionListener="#{parametrosTaximetroBean.guardarCambios}"
						></p:commandButton>

				</p:outputPanel>
			</p:dialog>

		</h:form>
	</ui:define>

</ui:composition>
