<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="head">
	
	</ui:define>
	<ui:define name="content">
			
		<h:form id="form">
			<p:panelGrid columns="4">
				<p:commandButton id="boton_editar" value="Editar Pipeta" process="@this :form:tabla_pipetas" 
									update=":form:detalle_pipeta"  oncomplete=" PF('dialogo').show()"
									disabled="#{empty pipetasCRUDBean.pipetaSeleccionada.pipetaId}">
				</p:commandButton>
				<p:commandButton value="Nuevo" process="@this tabla_pipetas"  update=":form:detalle_pipeta"
								 actionListener="#{pipetasCRUDBean.nuevaPipeta}" oncomplete=" PF('dialogo').show()">
				</p:commandButton>
				
										
			</p:panelGrid>
		
			<p:growl autoUpdate="true"></p:growl>
			
			<p:dataTable id="tabla_pipetas"  selectionMode="single" value="#{pipetasCRUDBean.listaPipetas}" 
							var="pipeta"  
							selection="#{pipetasCRUDBean.pipetaSeleccionada}" 
							rowKey="#{pipeta.pipetaId}" >
							
			 <p:ajax event="rowSelect" process=":form:tabla_pipetas" update=":form:boton_editar"/>
			 
			 
			<p:column headerText="Tipo de Muestra">
				<p:outputLabel value="#{pipeta.tipoMuestra}" />				
			</p:column>
			 
			<p:column headerText="Fabricante">
				<p:outputLabel value="#{pipeta.fabricante}" />				
			</p:column>
			<p:column headerText = "agotada">
				<p:outputLabel value="#{pipeta.agotada}"/>
			</p:column>
			<p:column headerText="HC">
				<p:outputLabel value="#{pipeta.valorHC}" />
			</p:column>
			<p:column headerText="CO">
				<p:outputLabel value="#{pipeta.valorCO}" />
			</p:column>
			<p:column headerText="CO2">
				<p:outputLabel value="#{pipeta.valorCO2}" />				
			</p:column>
			
			<p:column headerText="Oxigeno">
				<p:outputLabel value="#{pipeta.valorO2}" />				
			</p:column>
		
			<p:column headerText="Numero de Lote">
				<p:outputLabel value="#{pipeta.numeroLote}" />
			</p:column>
			<p:column headerText="Numero de cilindro">
				<p:outputLabel value="#{pipeta.numeroCilindro}"  >					
				</p:outputLabel>
			</p:column>
			
			<p:column headerText="Numero de certificado">
				<p:outputLabel value="#{pipeta.numeroCertificado}"  >					
				</p:outputLabel>
			</p:column>
			
			<p:column headerText="Laboratorio que emite el certificado">
				<p:outputLabel value="#{pipeta.laboratorioEmisorCertificado}"  >					
				</p:outputLabel>
			</p:column>
			
			<p:column headerText ="Fecha de Creacion">
				<p:outputLabel value="#{pipeta.fechaCreacion}" >
					<f:convertDateTime pattern="yyyy-MM-dd"/>
				</p:outputLabel>
			</p:column>
			
			<p:column headerText ="Fecha de agotamiento">
				<p:outputLabel value="#{pipeta.fechaAgotada}" >
					<f:convertDateTime pattern="yyyy-MM-dd"/>
				</p:outputLabel>
			</p:column>
									
									
		</p:dataTable>
		
		<p:dialog widgetVar="dialogo"  header="Informacion de Pipeta" modal="true" >
		<p:outputPanel id="detalle_pipeta" >
		 
			<p:panelGrid columns = "4">
			
				<p:outputLabel value="Tipo de Muestra"></p:outputLabel>
				<p:selectOneMenu id="option" value="#{pipetasCRUDBean.pipetaSeleccionada.tipoMuestra}">
                   <f:selectItems value="#{listaTipoMuestra}" var="status"
    							  itemValue="#{status}" itemLabel="#{status.name()}" />               
                </p:selectOneMenu>
				
				<p:outputLabel value="Fabricante" />
				<p:inputText value="#{pipetasCRUDBean.pipetaSeleccionada.fabricante}" required="true" requiredMessage="Ingrese fabricante"/>
				
				<p:outputLabel value="Valor HC" />
				<p:inputText value="#{pipetasCRUDBean.pipetaSeleccionada.valorHC}" required="true" requiredMessage="Ingrese valor HC"/>
				
				<p:outputLabel value="Valor CO" />
				<p:inputText value="#{pipetasCRUDBean.pipetaSeleccionada.valorCO}" required="true" requiredMessage="Ingrese valor de CO"/>
				
				<p:outputLabel value="Valor CO2" />
				<p:inputText value="#{pipetasCRUDBean.pipetaSeleccionada.valorCO2}" required="true" requiredMessage="Ingrese valor de CO2" validatorMessaje="Valor de CO2 invalido"/>
				
				<p:outputLabel value="Valor O2" />
				<p:inputText value="#{pipetasCRUDBean.pipetaSeleccionada.valorO2}" required="true" requiredMessage="Ingrese valor de CO2" validatorMessaje="Valor de O2 invalido"/>
				
				<p:outputLabel value="Numero de lote" />
				<p:inputText value="#{pipetasCRUDBean.pipetaSeleccionada.numeroLote}" required="true" requiredMessage="Numero de lote requerido" validatorMessage="Numero de lote requerido"/>	
				
				<p:outputLabel value="Numero de cilindro" />
				<p:inputText value="#{pipetasCRUDBean.pipetaSeleccionada.numeroCilindro}" required="true" requiredMessage="Numero de cilindro requerido" validatorMessage="Numero de cilindro requerido"/>
				
				<p:outputLabel value="Numero de certificado" />
				<p:inputText value="#{pipetasCRUDBean.pipetaSeleccionada.numeroCertificado}" required="true" requiredMessage="Numero de certificado requerido" validatorMessage="Numero de certificado requerido"/>
				
				<p:outputLabel value="Laboratorio " />
				<p:inputText value="#{pipetasCRUDBean.pipetaSeleccionada.laboratorioEmisorCertificado}" required="true" requiredMessage="Laboratorio requerido" validatorMessage="Laboratorio requerido"/>
				
				<p:outputLabel value="DILIGENCIE LA SIGUIENTE INFORMACION SOLAMENTE" />
				<p:outputLabel value="CUANDO EL GAS DE LA PIPETA SE HA AGOTADO" />
				
				<p:outputLabel value="Pipeta Agotada" />
				<p:selectBooleanCheckbox  value = "#{pipetasCRUDBean.pipetaSeleccionada.agotada}" ></p:selectBooleanCheckbox>
				
				<p:outputLabel value="Fecha de agotamiento" />
				<p:calendar value="#{pipetasCRUDBean.pipetaSeleccionada.fechaAgotada}"
							pattern="dd/MM/yyyy" locale="es" navigator="true" 
							showOn="button">
				</p:calendar>
				
			</p:panelGrid>
			
			
			<p:commandButton  value="Guardar"  process="@this :form:detalle_pipeta" update=":form:tabla_pipetas" actionListener="#{pipetasCRUDBean.guardarCambios}" ></p:commandButton>
			
		</p:outputPanel>	
		</p:dialog>
		
		
		</h:form>
	</ui:define>
	
	
</ui:composition>
