<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="head">
	
	</ui:define>
	<ui:define name="content">
	<h:form id="form">
		<p:growl autoUpdate="true"></p:growl>
		<p:panelGrid columns="4">
			<p:commandButton value="Nuevo" process="@this tabla_pistas"  update=":form:detalle_pista" actionListener="#{pistasBean.nuevaPista}" oncomplete=" PF('dialogo').show()"></p:commandButton>
			<p:commandButton id="boton_editar" value="Editar" process="@this tabla_pistas" disabled="#{empty pistasBean.pistaSeleccionada.pistaId}" update=":form:detalle_pista" actionListener="#{pistasBean.attachPista}" oncomplete=" PF('dialogo').show()"></p:commandButton>
			
		</p:panelGrid>	
		<p:dataTable id="tabla_pistas"  selectionMode="single" value="#{pistasBean.listaPistas}" var="pista"  selection="#{pistasBean.pistaSeleccionada}" rowKey="#{pista.pistaId}" >
			 <p:ajax event="rowSelect" process="tabla_pistas" update=":form:boton_editar" />
			<p:column headerText="id">
				<h:outputText value="#{pista.pistaId}" />				
			</p:column>
			<p:column headerText="Tipo de pista">
				<h:outputText value="#{pista.tipoPista.descripcion}" />
			</p:column>			
		</p:dataTable>
		
		
		<p:dialog widgetVar="dialogo"  header="Informacion de pista" modal="true" >
		<p:outputPanel id="detalle_pista" >
		 
			<p:panelGrid columns = "2">
				<h:outputLabel value="Id de pista" />
				<h:outputLabel value="#{pistasBean.pistaSeleccionada.pistaId}" />
				
				<h:outputLabel value="Tipo de pista" />			
				<p:selectOneMenu id="comboTipoPista" style="width:175px"
							value="#{pistasBean.pistaSeleccionada.tipoPista}"
							converter="#{tipoPistaConverter}"
							 required="true"
							requiredMessage="Ingrese tipoPista">
							<f:selectItems value="#{pistasBean.listaTiposPista}" var="item"
								itemLabel="#{item.descripcion}" itemValue="#{item}"
								noSelectionValue="-------------">
							</f:selectItems>
						</p:selectOneMenu>
				
			</p:panelGrid>		
						
			<p:commandButton  value="Guardar"  process="@this :form:detalle_pista" update=":form:tabla_pistas" actionListener="#{pistasBean.guardarCambios}" oncomplete="PF('dialogo').hide()"></p:commandButton>
			
		</p:outputPanel>	
		</p:dialog>
		
	</h:form>
	</ui:define>
		
</ui:composition>
