<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<p:growl autoUpdate="true">
			</p:growl>
			<div class="ui-fluid">
			<p:panelGrid columns="12" styleClass="ui-responsive"
					columnClasses="ui-grid-col-1,ui-grid-col-2,ui-grid-col-1,ui-grid-col-2,
											ui-grid-col-2,ui-grid-col-2,ui-grid-col-2"
					layout="grid">
				<p:row>
					<p:column>Fecha Inicio</p:column>
					<p:column>
						<p:calendar value="#{infoPruebaGasesMotoRes0762Bean.fechaInicial}"
							id="fechainicio">
						</p:calendar>
					</p:column>
					<p:column>Fecha Fin</p:column>
					<p:column>
						<p:calendar value="#{infoPruebaGasesMotoRes0762Bean.fechaFinal}"
							id="fechafin">

						</p:calendar>
					</p:column>
					<p:column>
						<p:commandButton value="CONSULTAR"
							process="@this fechainicio fechafin" update=":form:infoPruebas"
							actionListener="#{infoPruebaGasesMotoRes0762Bean.consultarPruebasMotos}"
							ajax="true" onclick="PF('pbAjax').start()"></p:commandButton>
					</p:column>
					<p:column>
						<h:commandLink value="Exportar">
							<p:dataExporter type="xls" target="infoPruebas" postProcessor="#{infoPruebaGasesMotoRes0762Bean.postProcessXLS}"
								fileName="ntc5365" />
						</h:commandLink>
					</p:column>
					<p:column>
						<h:commandLink value="Exportar csv">
							<p:dataExporter type="csv" target="infoPruebas"
								fileName="pruebasmotos" />
						</h:commandLink>
					</p:column>

				</p:row>
			</p:panelGrid>
			</div>
			<p:dataTable id="infoPruebas"
				value="#{infoPruebaGasesMotoRes0762Bean.datos}" 
				style="width:10000px" scrollWidth="90%" 
				var="fila"
				rowIndexVar="numeroFila">


				<p:column headerText="CM">
					<p:outputLabel value="#{fila.numeroExpedienteCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="TIP_IDE_CDA">
					<p:outputLabel value="#{fila.tipoIdentificacionCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="NUM_IDE_CDA">
					<p:outputLabel value="#{fila.numeroIdentificacionCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="NOM_RS">
					<p:outputLabel value="#{fila.nombreRazonSocial}"></p:outputLabel>
				</p:column>

				<p:column headerText="NOM_CDA">
					<p:outputLabel value="#{fila.nombreCdaEstablecimientoComercio}"></p:outputLabel>
				</p:column>

				<p:column headerText="CLASE_CDA">
					<p:outputLabel value="#{fila.claseCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="DIR_CDA">
					<p:outputLabel value="#{fila.direccionCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="CORREO_E">
					<p:outputLabel value="#{fila.correoElectronicoCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="TEL1_CDA">
					<p:outputLabel value="#{fila.telefonoCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="TEL2_CDA">
					<p:outputLabel value="#{fila.telefonoSecundarioCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="MUN_CDA">
					<p:outputLabel value="#{fila.municipioCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="RES_EC">
					<p:outputLabel value="#{fila.resolucionAutoridadAmbiental}"></p:outputLabel>
				</p:column>

				<p:column headerText="F_RES_EC">
					<p:outputLabel value="#{fila.fechaResolucionVigente}"></p:outputLabel>
				</p:column>

				<p:column headerText="TOTAL_M4T5365">
					<p:outputLabel value="#{fila.totalAnalizadores4T}"></p:outputLabel>
				</p:column>

				<p:column headerText="TOTAL_M2T5365">
					<p:outputLabel value="#{fila.totalAnalizadores2T}"></p:outputLabel>
				</p:column>

				<p:column headerText="TIP_IDE_PROP">
					<p:outputLabel value="#{fila.tipoIdentificacionPropietario}"></p:outputLabel>
				</p:column>

				<p:column headerText="NUM_IDE_PROP">
					<p:outputLabel value="#{fila.numeroIdentificacionPropietario}"></p:outputLabel>
				</p:column>

				<p:column headerText="NOM_PROP">
					<p:outputLabel value="#{fila.nombresApellidosPropietario}"></p:outputLabel>
				</p:column>

				<p:column headerText="DIR_PROP">
					<p:outputLabel value="#{fila.direccionPropietario}"></p:outputLabel>
				</p:column>

				<p:column headerText="TEL1_PROP">
					<p:outputLabel value="#{fila.telefonoPropietario}"></p:outputLabel>
				</p:column>

				<p:column headerText="TEL2_PROP">
					<p:outputLabel value="#{fila.telefonoSecundarioPropietario}"></p:outputLabel>
				</p:column>

				<p:column headerText="MUN_PROP">
					<p:outputLabel value="#{fila.municipioPropietario}"></p:outputLabel>
				</p:column>


				<p:column headerText="CORR_E_PROP">
					<p:outputLabel value="#{fila.correoElectronicoPropietario}"></p:outputLabel>
				</p:column>

				<p:column headerText="PLACA">
					<p:outputLabel value="#{fila.placa}"></p:outputLabel>
				</p:column>

				<p:column headerText="MODELO">
					<p:outputLabel value="#{fila.modelo}"></p:outputLabel>
				</p:column>

				<p:column headerText="NUM_MOTOR">
					<p:outputLabel value="#{fila.numeroMotor}"></p:outputLabel>
				</p:column>

				<p:column headerText="VIN">
					<p:outputLabel value="#{fila.vin}"></p:outputLabel>
				</p:column>

				<p:column headerText="CILINDRAJE">
					<p:outputLabel value="#{fila.cilindraje}"></p:outputLabel>
				</p:column>

				<p:column headerText="LIC_TRANS">
					<p:outputLabel value="#{fila.licenciaTransito}"></p:outputLabel>
				</p:column>

				<p:column headerText="KM">
					<p:outputLabel value="#{fila.kilometraje}"></p:outputLabel>
				</p:column>

				<p:column headerText="GNV_CONV">
					<p:outputLabel value="#{fila.conversionGNV}"></p:outputLabel>
				</p:column>

				<p:column headerText="GNV_CONV_V">
					<p:outputLabel value="#{fila.fechaConversionGNV}"></p:outputLabel>
				</p:column>

				<p:column headerText="MARCA">
					<p:outputLabel value="#{fila.marca}"></p:outputLabel>
				</p:column>

				<p:column headerText="LINEA">
					<p:outputLabel value="#{fila.linea}"></p:outputLabel>
				</p:column>

				<p:column headerText="CLASE">
					<p:outputLabel value="#{fila.clase}"></p:outputLabel>
				</p:column>

				<p:column headerText="SERVICIO">
					<p:outputLabel value="#{fila.servicio}"></p:outputLabel>
				</p:column>

				<p:column headerText="TIP_COMB">
					<p:outputLabel value="#{fila.combustible}"></p:outputLabel>
				</p:column>

				<p:column headerText="TIP_MOTOR">
					<p:outputLabel value="#{fila.tipoMotor}"></p:outputLabel>
				</p:column>

				<p:column headerText="RPM_FAB">
					<p:outputLabel value="#{fila.conoceRpmFabricante}"></p:outputLabel>
				</p:column>

				<p:column headerText="RAL_MIN_FAB">
					<p:outputLabel value="#{fila.rpmMinRalFabricante}"></p:outputLabel>
				</p:column>

				<p:column headerText="RAL_MAX_FAB">
					<p:outputLabel value="#{fila.rpmMaxRalFabricante}"></p:outputLabel>
				</p:column>

				<p:column headerText="DIS_MOTOR">
					<p:outputLabel value="#{fila.disenioMotor}"></p:outputLabel>
				</p:column>

				<p:column headerText="NUM_ESCAPE">
					<p:outputLabel value="#{fila.numeroTubosEscape}"></p:outputLabel>
				</p:column>

				<p:column headerText="MARCA_AG">
					<p:outputLabel value="#{fila.marcaAnalizadorGases}"></p:outputLabel>
				</p:column>

				<p:column headerText="MOD_AG">
					<p:outputLabel value="#{fila.modeloAnalizadorGases}"></p:outputLabel>
				</p:column>

				<p:column headerText="SERIAL_AG">
					<p:outputLabel value="#{fila.serialAnalizadorGases}"></p:outputLabel>
				</p:column>

				<p:column headerText="MARCA_BG">
					<p:outputLabel value="#{fila.marcaBancoGases}"></p:outputLabel>
				</p:column>

				<p:column headerText="MOD_BG">
					<p:outputLabel value="#{fila.modeloBancoGases}"></p:outputLabel>
				</p:column>

				<p:column headerText="SERIAL_BG">
					<p:outputLabel value="#{fila.serialBancoGases}"></p:outputLabel>
				</p:column>


				<p:column headerText="PEF">
					<p:outputLabel value="#{fila.pefBancoGases}"></p:outputLabel>
				</p:column>

				<p:column headerText="SERIAL_E">
					<p:outputLabel value="#{fila.serialElectronicoAnalizadorGases}"></p:outputLabel>
				</p:column>

				<p:column headerText="MARCA_RPM">
					<p:outputLabel value="#{fila.marcaCaptadorRpm}"></p:outputLabel>
				</p:column>

				<p:column headerText="SERIAL_RPM">
					<p:outputLabel value="#{fila.serialCaptadorRpm}"></p:outputLabel>
				</p:column>

				<p:column headerText="MARCA_TEMP_M">
					<p:outputLabel value="#{fila.marcaSensorTemperaturaMotor}"></p:outputLabel>
				</p:column>

				<p:column headerText="SERIAL_TEMP_M">
					<p:outputLabel value="#{fila.serialSensorTemperaturaMotor}"></p:outputLabel>
				</p:column>

				<p:column headerText="MARCA_TEMP_A">
					<p:outputLabel value="#{fila.marcaSensorTemperaturaAmbiente}"></p:outputLabel>
				</p:column>

				<p:column headerText="SERIAL_TEMP_A">
					<p:outputLabel value="#{fila.serialSensorTemperaturaAmbiente}"></p:outputLabel>
				</p:column>

				<p:column headerText="MARCA_HUM_R">
					<p:outputLabel value="#{fila.marcaSensorHumedadRelativa}"></p:outputLabel>
				</p:column>

				<p:column headerText="SERIAL_HUM_R">
					<p:outputLabel value="#{fila.serialSensorHumedadRelativa}"></p:outputLabel>
				</p:column>

				<p:column headerText="NOM_SOFT">
					<p:outputLabel value="#{fila.nombreSoftware}"></p:outputLabel>
				</p:column>

				<p:column headerText="VER_SOFT">
					<p:outputLabel value="#{fila.versionSoftware}"></p:outputLabel>
				</p:column>

				<p:column headerText="DES_SOFT">
					<p:outputLabel value="#{fila.nombreProveedorSoftware}"></p:outputLabel>
				</p:column>

				<p:column headerText="TIP_IDE_VGP">
					<p:outputLabel value="#{fila.tipoIdentificacionInspectorVerificacionGasolina}"></p:outputLabel>
				</p:column>

				<p:column headerText="NUM_IDE_VGP">
					<p:outputLabel value="#{fila.numeroIdentificacionInspectorVerificacionGasolina}"></p:outputLabel>
				</p:column>

				<p:column headerText="NOM_VGP">
					<p:outputLabel value="#{fila.nombreInspectorVerificacionGasolina}"></p:outputLabel>
				</p:column>

				<p:column headerText="F_FUGAS">
					<p:outputLabel value="#{fila.fechaHoraPruebaFugas}"></p:outputLabel>
				</p:column>

				<p:column headerText="F_VGP">
					<p:outputLabel value="#{fila.fechaHoraVerificacionGasolina}"></p:outputLabel>
				</p:column>

				<p:column headerText="P_ALTA_LAB">
					<p:outputLabel value="#{fila.laboratorioEmiteCertificadoAlta}"></p:outputLabel>
				</p:column>

				<p:column headerText="P_ALTA_CIL">
					<p:outputLabel value="#{fila.cilindroGasAlta}"></p:outputLabel>
				</p:column>

				<p:column headerText="P_ALTA_CER">
					<p:outputLabel value="#{fila.certificadoGasAlta}"></p:outputLabel>
				</p:column>

				<p:column headerText="P_BAJA_LAB">
					<p:outputLabel value="#{fila.laboratorioEmiteCertificadoGasBaja}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="P_BAJA_CIL">
					<p:outputLabel value="#{fila.cilindroGasBaja}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="P_BAJA_CER">
					<p:outputLabel value="#{fila.certificadoGasBaja}"></p:outputLabel>
				</p:column>

				<p:column headerText="P_HC_ALTO_P">
					<p:outputLabel value="#{fila.patronHcAltaPropano}"></p:outputLabel>
				</p:column>			
				
				
				<p:column headerText="P_HC_ALTO_H">
					<p:outputLabel value="#{fila.patronHcAltaHexano}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="P_HC_BAJO_P">
					<p:outputLabel value="#{fila.patronHcBajaPropano}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="P_HC_BAJO_H">
					<p:outputLabel value="#{fila.patronHcBajaHexano}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="P_CO_ALTO">
					<p:outputLabel value="#{fila.patronCoAlta}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="P_CO_BAJO">
					<p:outputLabel value="#{fila.patronCoBaja}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="P_CO2_ALTO">
					<p:outputLabel value="#{fila.patronCo2Alta}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="P_CO2_BAJO">
					<p:outputLabel value="#{fila.patronCo2Baja}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="P_O2_ALTO">
					<p:outputLabel value="#{fila.patronO2Alta}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="P_O2_BAJO">
					<p:outputLabel value="#{fila.patronO2Baja}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_HC_ALTO_P">
					<p:outputLabel value="#{fila.resultadoHcAltaPropano}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_HC_ALTO_H">
					<p:outputLabel value="#{fila.resultadoHcAltaHexano}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_HC_BAJO_P">
					<p:outputLabel value="#{fila.resultadoHcBajaPropano}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_HC_BAJO_H">
					<p:outputLabel value="#{fila.resultadoHcBajaHexano}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_CO_ALTO">
					<p:outputLabel value="#{fila.resultadoCoAlto}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_CO_BAJO">
					<p:outputLabel value="#{fila.resultadoCoBajo}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_CO2_ALTO">
					<p:outputLabel value="#{fila.resultadoCo2Alto}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_CO2_BAJO">
					<p:outputLabel value="#{fila.resultadoCo2Bajo}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_O2_ALTO">
					<p:outputLabel value="#{fila.resultadoO2Alto}"></p:outputLabel>
				</p:column>
				
				
				<p:column headerText="R_O2_BAJO">
					<p:outputLabel value="#{fila.resultadoO2Bajo}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="C_VGP">
					<p:outputLabel value="#{fila.criterioVerificacionGas}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_VGP">
					<p:outputLabel value="#{fila.resultadoVerificacionGas}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="TIP_IDE_DT">
					<p:outputLabel value="#{fila.tipoIdentificacionDirectorTecnico}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="NUM_IDE_DT">
					<p:outputLabel value="#{fila.numeroIdentificacionDirectorTecnico}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="NOM_DT">
					<p:outputLabel value="#{fila.nombreDirectorTecnico}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="TIP_IDE_IT">
					<p:outputLabel value="#{fila.tipoIdentificacionInspectorPrueba}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="NUM_IDE_IT">
					<p:outputLabel value="#{fila.numeroIdentificacionInspectorPrueba}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="NOM_IT">
					<p:outputLabel value="#{fila.nombreInspectorPrueba}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="NUM_FUR">
					<p:outputLabel value="#{fila.numeroFUR}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="FECHA_FUR">
					<p:outputLabel value="#{fila.fechaFUR}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="CONS_RUNT">
					<p:outputLabel value="#{fila.numeroConsecutivoRunt}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="FUR_ASOC">
					<p:outputLabel value="#{fila.furAsociados}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="CERT_RTMYG">
					<p:outputLabel value="#{fila.certificadoEmitido}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="F_INI_INSP">
					<p:outputLabel value="#{fila.fechaHoraInicioInspeccion}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="F_FIN_INSP">
					<p:outputLabel value="#{fila.fechaHoraFinInspeccion}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="F_ABORTO">
					<p:outputLabel value="#{fila.fechaHoraAbortoInspeccion}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="C_ABORTO">
					<p:outputLabel value="#{fila.causaAbortoInspeccion}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="CATALIZADOR.">
					<p:outputLabel value="#{fila.vehiculoConCatalizador}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="T_AMB">
					<p:outputLabel value="#{fila.temperaturaAmbiente}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="H_REL">
					<p:outputLabel value="#{fila.humedadRelativa}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="T_MOTOR">
					<p:outputLabel value="#{fila.temperaturaMotor}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="RPM_RAL">
					<p:outputLabel value="#{fila.rpmRalenti}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="HUMO">
					<p:outputLabel value="#{fila.presenciaHumoNegro}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="CORR_O2">
					<p:outputLabel value="#{fila.correccionOxigeno}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="RPM_FUERA">
					<p:outputLabel value="#{fila.rpmFueraRango}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="FUGA_TUBO">
					<p:outputLabel value="#{fila.fugasTuboEscape}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="SALIDAS_AD">
					<p:outputLabel value="#{fila.salidasAdicionales}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="FUGA_ACEITE">
					<p:outputLabel value="#{fila.ausenciaTaponesAceite}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="FUGA_COMB">
					<p:outputLabel value="#{fila.ausenciaTaponesCombustible}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_HC_RAL">
					<p:outputLabel value="#{fila.resultadoHcRalenti}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_CO_RAL">
					<p:outputLabel value="#{fila.resultadoCoRalenti}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_CO2_RAL">
					<p:outputLabel value="#{fila.resultadoCo2Ralenti}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_O2_RAL">
					<p:outputLabel value="#{fila.resultadoO2Ralenti}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_GAS_SCOR">
					<p:outputLabel value="#{fila.resultadoGasesSinCorregir}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="NC_EMISIONES">
					<p:outputLabel value="#{fila.incumpimientoNivelesEmisiones}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="RES_FINAL">
					<p:outputLabel value="#{fila.resultadoFinalPrueba}"></p:outputLabel>
				</p:column>
				
			</p:dataTable>
			<p:ajaxStatus style="display:block;margin-bottom:2em;height:24px;">
				<f:facet name="default">
					<h:outputText value="Status: StandBy" />
				</f:facet>

				<f:facet name="start">
					<p:graphicImage name="/images/ajax-loading-bar.gif" />
				</f:facet>

				<f:facet name="complete">
					<h:outputText value="Status: Completed" />
				</f:facet>
			</p:ajaxStatus>

		</h:form>
	</ui:define>

</ui:composition>
