<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="head">
	
	</ui:define>
	<ui:define name="content">
		<h:form id="form">
		<p:growl autoUpdate="true"> </p:growl>
			<div class="ui-fluid">
			<p:panelGrid columns="12" styleClass="ui-responsive"
					columnClasses="ui-grid-col-1,ui-grid-col-2,ui-grid-col-1,ui-grid-col-2,
											ui-grid-col-2,ui-grid-col-2,ui-grid-col-2"
					layout="grid">
				<p:row>
					<p:column >Fecha Inicio</p:column>
	       			<p:column>
	       				<p:calendar value = "#{infoPruebaGasesMotoCarCundinamarcaBean.fechaInicial}" id="fechainicio">
	       				</p:calendar>
	       			</p:column>
	       			<p:column >Fecha Fin</p:column>
	       			<p:column>
	       				<p:calendar value = "#{infoPruebaGasesMotoCarCundinamarcaBean.fechaFinal}" id="fechafin">
	       					
	       				</p:calendar>
	       			</p:column>
	       			<p:column>
	       			<p:commandButton value="CONSULTAR" process = "@this fechainicio fechafin" update=":form:infoPruebas" 
	       								 actionListener="#{infoPruebaGasesMotoCarCundinamarcaBean.consultarPruebasMotos}" ajax="true"
	       								 onclick="PF('pbAjax').start()"></p:commandButton>
	       			</p:column>
					<p:column>
						<h:commandLink value="Exportar">
							<p:dataExporter type="xls" target="infoPruebas"
								fileName="pruebasmotos" />
						</h:commandLink>
					</p:column>
					<p:column>
						<h:commandLink value="Exportar csv">
							<p:dataExporter type="csv" target="infoPruebas"
								fileName="pruebasmotos" />
						</h:commandLink>
					</p:column>

				</p:row>				
			</p:panelGrid>
			</div>
			<p:dataTable id="infoPruebas" value="#{infoPruebaGasesMotoCarCundinamarcaBean.lazyDataModel}" scrollable="true" style="width:10000px" scrollWidth="90%" 
						  scrollRows="500"
        					liveScroll="true"
       						scrollHeight="500" lazy="true"	var="fila" 
						 rowIndexVar="numeroFila">					
					
					
				
				
				<!-- 1 -->			
				<p:column headerText="No CDA">
					<p:outputLabel value="#{fila.numeroCda}"></p:outputLabel>
				</p:column>
				
				<!-- 2 -->	
				<p:column headerText="Razon Social">
					<p:outputLabel value="#{fila.subInforme.nombreRazonSocial}"></p:outputLabel>
				</p:column>
				
				<!-- 3 -->
				<p:column headerText="Nombre CDA">
					<p:outputLabel value="#{fila.subInforme.nombreCdaEstablecimientoComercio}"></p:outputLabel>
				</p:column>
				<!-- 4 -->				
				<p:column headerText="NIT CDA">
					<p:outputLabel value="#{fila.subInforme.numeroIdentificacionCda}"></p:outputLabel>
				</p:column>
				<!-- 5 -->
				<p:column headerText="Persona de contacto">
					<p:outputLabel value=""></p:outputLabel>
				</p:column>
				<!-- 6 -->
				<p:column headerText="DIRECCION CDA">
					<p:outputLabel value="#{fila.subInforme.direccionCda}"></p:outputLabel>
				</p:column>
				<!-- 7 -->
				<p:column headerText="Correo Electronico">
					<p:outputLabel value="#{fila.subInforme.correoElectronicoCda}"></p:outputLabel>
				</p:column>
				<!-- 8 -->
				<p:column headerText="Telefonos de contacto">
					<p:outputLabel value="#{fila.subInforme.telefonoCda} #{fila.subInforme.telefonoSecundarioCda}"></p:outputLabel>
				</p:column>
				<!-- 9 -->
				<p:column headerText="Ciudad">
					<p:outputLabel value="#{fila.ciudad}"></p:outputLabel>
				</p:column>
				<!-- 10 -->
				<p:column headerText="No. RESOLUCION CDA">
					<p:outputLabel value="#{fila.subInforme.resolucionAutoridadAmbiental}"></p:outputLabel>
				</p:column>
				<!-- 11 -->
				<p:column headerText="Fecha Resolucion CDA">
					<p:outputLabel value="#{fila.subInforme.fechaResolucionVigente}"></p:outputLabel>
				</p:column>
				<!-- 12 -->
				<p:column headerText="Clase CDA">
					<p:outputLabel value="#{fila.subInforme.claseCda}"></p:outputLabel>
				</p:column>
				<!-- 13 -->
				<p:column headerText="No. Expediente de la Autoridad Ambiental">
					<p:outputLabel value="#{fila.subInforme.numeroExpedienteCda}"></p:outputLabel>
				</p:column>
				<!-- 14 -->
				<p:column headerText="Numero de certificado de RTM">
					<p:outputLabel value="#{fila.subInforme.certificadoEmitido}"></p:outputLabel>
				</p:column>
				<!-- 15 -->
				<p:column headerText="No. total equipos analizadores motos 4T / 2T">
					<p:outputLabel value="#{fila.subInforme.totalAnalizadores4T + fila.subInforme.totalAnalizadores2T}"></p:outputLabel>
				</p:column>
				<!-- 16 -->
				<p:column headerText="Vr PEF">
					<p:outputLabel value="#{fila.subInforme.pefBancoGases}"></p:outputLabel>
				</p:column>
				<!-- 17 -->
				<p:column headerText="N° de serie del banco">
					<p:outputLabel value="#{fila.subInforme.serialBancoGases}"></p:outputLabel>
				</p:column>
				<!-- 18 -->
				<p:column headerText="N° de Serie Analizador">
					<p:outputLabel value="#{fila.subInforme.serialAnalizadorGases}"></p:outputLabel>
				</p:column>
				<!-- 19 -->
				<p:column headerText="Marca Analizador">
					<p:outputLabel value="#{fila.subInforme.marcaAnalizadorGases}"></p:outputLabel>
				</p:column>
				<!-- 20 -->
				<p:column headerText="Vr Span Bajo HC">
					<p:outputLabel value="#{fila.subInforme.patronHcBajaPropano}"></p:outputLabel>
				</p:column>
				<!-- 21 -->
				<p:column headerText="Resultado  de Vr Span Bajo HC">
					<p:outputLabel value="#{fila.subInforme.resultadoHcBajaPropano}"></p:outputLabel>
				</p:column>
				<!-- 22 -->
				<p:column headerText="Vr Span Bajo CO ">
					<p:outputLabel value="#{fila.subInforme.patronCoBaja}"></p:outputLabel>
				</p:column>
				<!-- 23 -->
				<p:column headerText = "Resultado  de Vr Span Bajo CO">
					<p:outputLabel value="#{fila.subInforme.resultadoCoBajo}"></p:outputLabel>
				</p:column>
				<!-- 24 -->
				<p:column headerText="Vr Span Bajo CO2">
					<p:outputLabel value="#{fila.subInforme.patronCo2Baja}"></p:outputLabel>
				</p:column>
				<!-- 25 -->
				<p:column headerText="Resultado  de Vr Span Bajo CO2">
					<p:outputLabel value="#{fila.subInforme.resultadoCo2Bajo}"></p:outputLabel>
				</p:column>
				<!-- 26 -->
				<p:column headerText="Vr Span Alto HC">
					<p:outputLabel value="#{fila.subInforme.patronHcAltaPropano}"></p:outputLabel>
				</p:column>
				<!-- 27 -->
				<p:column headerText="Resultado  de Vr Span Alto HC">
					<p:outputLabel value ="#{fila.subInforme.resultadoHcAltaPropano}"></p:outputLabel>
				</p:column>
				<!-- 28 -->
				<p:column headerText="Vr Span Alto CO ">
					<p:outputLabel value="#{fila.subInforme.patronCoAlta}"></p:outputLabel>
				</p:column>
				<!-- 29 -->
				<p:column headerText="Resultado  de Vr Span Alto CO">
					<p:outputLabel value="#{fila.subInforme.resultadoCoAlto}"></p:outputLabel>
				</p:column>
				<!-- 30 -->
				<p:column headerText="Vr Span Alto CO2">
					<p:outputLabel value="#{fila.subInforme.patronCo2Alta}"></p:outputLabel>
				</p:column>
				<!-- 31 -->
				<p:column headerText="Resultado  de Vr Span Alto CO2">
					<p:outputLabel value="#{fila.subInforme.resultadoCo2Alto}"></p:outputLabel>
				</p:column>
				<!-- 32 -->
				<p:column headerText="Fecha y hora ultima verificación y ajuste">
					<p:outputLabel value="#{fila.subInforme.fechaHoraVerificacionGasolina}"></p:outputLabel>
				</p:column>
				<!-- 33 -->
				<p:column headerText="Nombre proveedor del software de operación ">
					<p:outputLabel value="#{fila.subInforme.nombreProveedorSoftware}"></p:outputLabel>
				</p:column>
				<!-- 34 -->
				<p:column headerText="Marca software de operación">
					<p:outputLabel value="#{fila.subInforme.nombreSoftware}"></p:outputLabel>
				</p:column>
				<!-- 35 -->
				<p:column headerText="Version software de operación ">
					<p:outputLabel value="#{fila.subInforme.versionSoftware}"></p:outputLabel>
				</p:column>
				<!-- 36 -->
				<p:column headerText="No de consecutivo prueba">
					<p:outputLabel value="#{fila.consecutivoPrueba}"></p:outputLabel>
				</p:column>
				<!-- 37 -->
				<p:column headerText="Fecha y hora inicio de la prueba">
					<p:outputLabel value="#{fila.fechaInicioPrueba}"></p:outputLabel>
				</p:column>
				<!-- 38 -->
				<p:column headerText="Fecha y hora final de la prueba">
					<p:outputLabel value="#{fila.fechaFinPrueba}"></p:outputLabel>
				</p:column>
				<!-- 39 -->
				<p:column headerText="Inspector Realiza Prueba">
					<p:outputLabel value="#{fila.subInforme.numeroIdentificacionInspectorPrueba}"></p:outputLabel>
				</p:column>
				<!-- 40 -->
				<p:column headerText="Nombre o razon social propietario">
					<p:outputLabel value="#{fila.subInforme.nombresApellidosPropietario}"></p:outputLabel>
				</p:column>
				<!-- 41 -->
				<p:column headerText="Tipo Documento">
					<p:outputLabel value="#{fila.subInforme.tipoIdentificacionPropietario}"></p:outputLabel>
				</p:column>
				<!-- 42 -->
				<p:column headerText="No Documento">
					<p:outputLabel value="#{fila.subInforme.numeroIdentificacionPropietario}"></p:outputLabel>
				</p:column>
				<!-- 43 -->
				<p:column headerText="Direccion">
					<p:outputLabel value="#{fila.subInforme.direccionPropietario}"></p:outputLabel>
				</p:column>
				<!-- 44 -->
				<p:column headerText="Telefono ">
					<p:outputLabel value="#{fila.subInforme.telefonoPropietario}"></p:outputLabel>
				</p:column>
				<!-- 45 -->
				<p:column headerText="Ciudad">
					<p:outputLabel value="#{fila.codigoCiudadPropietario}"></p:outputLabel>
				</p:column>
				<!-- 46 -->
				<p:column headerText="Placa">
					<p:outputLabel value="#{fila.subInforme.placa}"></p:outputLabel>
				</p:column>
				<!-- 47 -->
				<p:column headerText="Marca">
					<p:outputLabel value="#{fila.codigoMarca}"></p:outputLabel>
				</p:column>
				<!-- 48 -->
				<p:column headerText="Año modelo">
					<p:outputLabel value="#{fila.subInforme.modelo}"></p:outputLabel>
				</p:column>
				<!-- 49 -->
				<p:column headerText="Cilindraje">
					<p:outputLabel value="#{fila.subInforme.cilindraje}"></p:outputLabel>
				</p:column>
				<!-- 50 -->
				<p:column headerText="Linea">
					<p:outputLabel value="#{fila.codigoLineaVehiculo}"></p:outputLabel>
				</p:column>
				<!-- 51 -->
				<p:column headerText="Diseno">
					<p:outputLabel value="#{fila.subInforme.disenioMotor}"></p:outputLabel>
				</p:column>
				<!-- 52 -->
				<p:column headerText="Clase">
					<p:outputLabel value="#{fila.codigoClaseVehiculo}"></p:outputLabel>
				</p:column>
				<!-- 53 -->
				<p:column headerText="Servicio">
					<p:outputLabel value="#{fila.codigoServicio}"></p:outputLabel>
				</p:column>
				<!-- 54 -->
				<p:column headerText="Combustible">
					<p:outputLabel value="#{fila.codigoCombustible}"></p:outputLabel>
				</p:column>
				<!-- 55 -->
				<p:column headerText="Tipo de Motor">
					<p:outputLabel value="#{fila.subInforme.tipoMotor}"></p:outputLabel>
				</p:column>
				<!-- 56 -->
				<p:column headerText="Numero de tubos de escape">
					<p:outputLabel value="#{fila.subInforme.numeroTubosEscape}"></p:outputLabel>
				</p:column>
				<!-- 57 -->				
				<p:column headerText="No motor">
					<p:outputLabel value="#{fila.subInforme.numeroMotor}"></p:outputLabel>
				</p:column>
				<!-- 58 -->		
				<p:column headerText="No vin / serie">
					<p:outputLabel value="#{fila.subInforme.vin}"></p:outputLabel>
				</p:column>
				<!-- 59 -->
				<p:column headerText="No licencia transito">
					<p:outputLabel value="#{fila.subInforme.licenciaTransito}"></p:outputLabel>
				</p:column>
				<!-- 60 -->
				<p:column headerText="kilometraje">
					<p:outputLabel value="#{fila.subInforme.kilometraje}"></p:outputLabel>
				</p:column>				
				<!-- 61 -->
				<p:column headerText="Temperatura ambiente">
					<p:outputLabel value="#{fila.subInforme.temperaturaAmbiente}"></p:outputLabel>
				</p:column>
				<!-- 62 -->
				<p:column headerText="Humedad Relativa">
					<p:outputLabel value="#{fila.subInforme.humedadRelativa}"></p:outputLabel>
				</p:column>
				<!-- 63 -->
				<p:column headerText="Temperatura de motor (°C)">
					<p:outputLabel value="#{fila.subInforme.temperaturaMotor}"></p:outputLabel>
				</p:column>
				<!-- 64 -->
				<p:column headerText="Rpm Ralenti">
					<p:outputLabel value="#{fila.subInforme.rpmRalenti}"></p:outputLabel>
				</p:column>
				<!-- 65 -->
				<p:column headerText="HC (ppm) Ralentí">
					<p:outputLabel value="#{fila.subInforme.resultadoHcRalenti}"></p:outputLabel>
				</p:column>
				<!-- 66 -->
				<p:column headerText="CO (%) Ralentí">
					<p:outputLabel value="#{fila.subInforme.resultadoCoRalenti}"></p:outputLabel>
				</p:column>
				<!-- 67 -->
				<p:column headerText="CO2(%) Ralentí">
					<p:outputLabel value="#{fila.subInforme.resultadoCo2Ralenti}"></p:outputLabel>
				</p:column>
				<!-- 68 -->
				<p:column headerText="O2 (%) Ralentí">
					<p:outputLabel value="#{fila.subInforme.resultadoO2Ralenti}"></p:outputLabel>
				</p:column>
				<!-- 69 -->
				<p:column headerText="Nivel de emisiones">
					<p:outputLabel value="#{fila.subInforme.incumpimientoNivelesEmisiones}"></p:outputLabel>
				</p:column>
				<!-- 70 -->
				<p:column headerText="Fugas en el tubo de escape ">
					<p:outputLabel value="#{fila.subInforme.fugasTuboEscape}"></p:outputLabel>
				</p:column>
				<!-- 71 -->
				<p:column headerText="Fugas en el silenciador ">
					<p:outputLabel value="#{fila.subInforme.fugasTuboEscape}"></p:outputLabel>
				</p:column>
				<!-- 72 -->
				<p:column headerText="Ausencia tapa combustible o fugas ">
					<p:outputLabel value="#{fila.subInforme.ausenciaTaponesCombustible}"></p:outputLabel>
				</p:column>
				<!-- 73 -->
				<p:column headerText="Ausencia tapa aceite o de fugas de aceite ">
					<p:outputLabel value="#{fila.subInforme.ausenciaTaponesAceite}"></p:outputLabel>
				</p:column>
				<!-- 74 -->
				<p:column headerText="Accesorios o deformaciones en el tubo de escape">
					<p:outputLabel value="NO"></p:outputLabel>
				</p:column>
				<!-- 75 -->
				<p:column headerText="Salidas adicionales al diseño ">
					<p:outputLabel value="#{fila.subInforme.salidasAdicionales}"></p:outputLabel>
				</p:column>
				<!-- 76 -->
				<p:column headerText="Revoluciones fuera de rango ">
					<p:outputLabel value="#{fila.subInforme.rpmFueraRango}"></p:outputLabel>
				</p:column>
				<!-- 77 -->
				<p:column headerText="Presencia humo negro, azul ">
					<p:outputLabel value="#{fila.subInforme.presenciaHumoNegro}"></p:outputLabel>
				</p:column>
				<!-- 78 -->
				<p:column headerText="Fecha y hora aborto de prueba">
					<p:outputLabel value=""></p:outputLabel>
				</p:column>
				<!-- 79 -->
				<p:column headerText="Falla del equipo de medición ">
					<p:outputLabel value=""></p:outputLabel>
				</p:column>
				<!-- 80 -->				
				<p:column headerText="Falla subita fluido electrico ">
					<p:outputLabel value=""></p:outputLabel>
				</p:column>
				<!-- 81 -->	
				<p:column headerText="Bloqueo forzado del equipo de medicion ">
					<p:outputLabel value=""></p:outputLabel>
				</p:column>
				<!-- 82 -->	
				<p:column headerText="Ejecucion incorrecta prueba ">
					<p:outputLabel value=""></p:outputLabel>
				</p:column>
				<!-- 83 -->	
				<p:column headerText="Causas de rechazo">
					<p:outputLabel value="#{fila.causaRechazo}"></p:outputLabel>
				</p:column>
				<!-- 84 -->	
				<p:column headerText="Concepto Tecnico">
					<p:outputLabel value="#{fila.subInforme.resultadoFinalPrueba}"></p:outputLabel>
				</p:column>
				<!-- 85 -->	
					
				<p:column headerText=" Resolucion de limites maximos permisibles">
					<p:outputLabel value="Resolucion 0762 de 2022"></p:outputLabel>
				</p:column>
				<!-- 86 -->
				<p:column headerText="Marca sonometro">
					<p:outputLabel value="#{fila.resultadoSonometriaInformeDTO.marcaMedidor}"></p:outputLabel>
				</p:column>
				<!-- 87 -->
				<p:column headerText="Serie sonometro">
					<p:outputLabel value="#{fila.resultadoSonometriaInformeDTO.serialMedidor}"></p:outputLabel>
				</p:column>
				<!-- 88 -->
				<p:column headerText="Valor de ruido reportado">
					<p:outputLabel value="#{fila.resultadoSonometriaInformeDTO.valorMedicion}"></p:outputLabel>
				</p:column>
				
							</p:dataTable >
			<p:ajaxStatus style="display:block;margin-bottom:2em;height:24px;">
    			<f:facet name="default">
        			<h:outputText value="Status: StandBy" />
    			</f:facet>
 
    			<f:facet name="start">
        			<p:graphicImage name="/images/ajax-loading-bar.gif" />
    			</f:facet>
 
    			<f:facet name="complete">
        			<h:outputText value="Status: Completed" />
    			</f:facet>
		</p:ajaxStatus>
			
		</h:form>
	</ui:define>
		
</ui:composition>
