<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<p:growl autoUpdate="true">
			</p:growl>
			<div class="ui-fluid">
			<p:panelGrid columns="12" styleClass="ui-responsive"
					columnClasses="ui-grid-col-1,ui-grid-col-2,ui-grid-col-1,ui-grid-col-2,
											ui-grid-col-2,ui-grid-col-2,ui-grid-col-2"
					layout="grid">
				<p:row>
					<p:column>Fecha Inicio</p:column>
					<p:column>
						<p:calendar value="#{informePruebasDiesel.fechaInicial}"
							id="fechainicio">
						</p:calendar>
					</p:column>
					<p:column>Fecha Fin</p:column>
					<p:column>
						<p:calendar value="#{informePruebasDiesel.fechaFinal}"
							id="fechafin">

						</p:calendar>
					</p:column>
					<p:column>
						<p:commandButton value="CONSULTAR"
							process="@this fechainicio fechafin" update=":form:infoPruebas"
							actionListener="#{informePruebasDiesel.consultarPruebas}"
							ajax="true"></p:commandButton>
					</p:column>
					<p:column>
						<h:commandLink value="Exportar Excel">
							<p:dataExporter type="xls" target="infoPruebas"
								fileName="pruebasdiesel" />
						</h:commandLink>
					</p:column>
					<p:column>
						<h:commandLink value="Exportar Csv">
							<p:dataExporter type="csv" target="infoPruebas"
								fileName="pruebasdieselcsv" />
						</h:commandLink>
					</p:column>



				</p:row>
			</p:panelGrid>
			</div>

			<p:dataTable id="infoPruebas" style="width:10000px"
				value="#{informePruebasDiesel.datos}" var="fila" scrollable="true"
				scrollHeight="600px" scrollWidth="85%" rowIndexVar="numeroFila">
				<!-- 1 -->
				<p:column headerText="No. CDA">
					<p:outputLabel value="#{fila.numeroCda}"></p:outputLabel>
				</p:column>
				<!-- 2 -->	
				<p:column headerText="Razon Social">
					<p:outputLabel value="#{fila.subinformeDiesel.nombreRazonSocial}"></p:outputLabel>
				</p:column>
				<!-- 3 -->
				<p:column headerText="Nombre CDA">
					<p:outputLabel value="#{fila.subinformeDiesel.nombreCdaEstablecimientoComercio}"></p:outputLabel>
				</p:column>
				<!-- 4 -->				
				<p:column headerText="NIT CDA">
					<p:outputLabel value="#{fila.subinformeDiesel.numeroIdentificacionCda}"></p:outputLabel>
				</p:column>
				<!-- 5 -->
				<p:column headerText="Persona de contacto">
					<p:outputLabel value=""></p:outputLabel>
				</p:column>
				<!-- 6 -->
				<p:column headerText="DIRECCION CDA">
					<p:outputLabel value="#{fila.subinformeDiesel.direccionCda}"></p:outputLabel>
				</p:column>
				<!-- 7 -->
				<p:column headerText="Correo Electronico">
					<p:outputLabel value="#{fila.subinformeDiesel.correoElectronicoCda}"></p:outputLabel>
				</p:column>
				<!-- 8 -->
				<p:column headerText="Telefonos de contacto">
					<p:outputLabel value="#{fila.subinformeDiesel.telefonoCda} #{fila.subinformeDiesel.telefonoSecundarioCda}"></p:outputLabel>
				</p:column>
				<!-- 9 -->
				<p:column headerText="Ciudad">
					<p:outputLabel value="#{fila.codigoCiudad}"></p:outputLabel>
				</p:column>
				<!-- 10 -->
				<p:column headerText="No. RESOLUCION CDA">
					<p:outputLabel value="#{fila.subinformeDiesel.resolucionAutoridadAmbiental}"></p:outputLabel>
				</p:column>
				<!-- 11 -->
				<p:column headerText="Fecha Resolucion CDA">
					<p:outputLabel value="#{fila.subinformeDiesel.fechaResolucionVigente}"></p:outputLabel>
				</p:column>
				<!-- 12 -->
				<p:column headerText="Clase CDA">
					<p:outputLabel value="#{fila.subinformeDiesel.claseCda}"></p:outputLabel>
				</p:column>
				<!-- 13 -->
				<p:column headerText="No. Expediente de la Autoridad Ambiental">
					<p:outputLabel value="#{fila.subinformeDiesel.numeroExpedienteCda}"></p:outputLabel>
				</p:column>
				<!-- 14 -->
				<p:column headerText="Numero de certificado de RTM">
					<p:outputLabel value="#{fila.subinformeDiesel.certificadoEmitido}"></p:outputLabel>
				</p:column>
				<!-- 15 -->
				<p:column headerText="No. total equipos opacímetros">
					<p:outputLabel value="#{fila.subinformeDiesel.totalOpacimetros}"></p:outputLabel>
				</p:column>
				<!-- 16 -->
				<p:column headerText="Marca del medidor">
					<p:outputLabel value="#{fila.subinformeDiesel.marcaOpacimero}"></p:outputLabel>
				</p:column>
				<!-- 17 -->
				<p:column headerText="Serie del medidor">
					<p:outputLabel value="#{fila.subinformeDiesel.serialOpacimetro}"></p:outputLabel>
				</p:column>
				<!-- 18 -->				
				<p:column headerText="Nombre proveedor del software de operación  ">
					<p:outputLabel value="#{fila.subinformeDiesel.nombreProveedorSoftware}">
					</p:outputLabel>
				</p:column>				
				<!-- 19 -->
				<p:column headerText="Marca software de operacion">
					<p:outputLabel value="#{fila.subinformeDiesel.nombreSoftware}"></p:outputLabel>
				</p:column>
				
				<!-- 20 -->
				<p:column headerText="Version software de operacion ">
					<p:outputLabel value="#{fila.subinformeDiesel.versionSoftware}">
					</p:outputLabel>
				</p:column>
				<!-- 21 -->
				<p:column headerText="Vr Primer punto  de  Linealidad">
					<p:outputLabel value="0.00"></p:outputLabel>
				</p:column>
				<!-- 22 -->
				<p:column headerText="Resultado  Primer punto  de  Linealidad">
					<p:outputLabel value="#{fila.subinformeDiesel.resultadoVerificacionPuntoCero}"></p:outputLabel>
				</p:column>
				<!-- 23 -->	
				<p:column headerText="Vr Segundo Punto De Linealidad">
					<p:outputLabel value="#{fila.subinformeDiesel.valorFiltroMenor}"></p:outputLabel>
				</p:column>
				<!-- 24 -->
				<p:column headerText="Resultado Segundo punto  de  Linealidad">
					<p:outputLabel value="#{fila.subinformeDiesel.resultadoVerificacionFiltroMenor}"></p:outputLabel>
				</p:column>
				<!-- 25 -->
				<p:column headerText="Vr Tercer punto  de  Linealidad">
					<p:outputLabel value="#{fila.subinformeDiesel.valorFiltroMayor}"></p:outputLabel>
				</p:column>
				<!-- 26 -->
				<p:column headerText="Resultado  Tercer punto  de  Linealidad">
					<p:outputLabel value="#{fila.subinformeDiesel.resultadoVerificacionFiltroMayor}"></p:outputLabel>
				</p:column>
				<!-- 27 -->
				<p:column headerText="Vr cuarto punto  de  Linealidad">
					<p:outputLabel value="99.9"></p:outputLabel>
				</p:column>
				<!-- 28 -->
				<p:column headerText="Resultado  Cuarto punto  de  Linealidad">
					<p:outputLabel value="#{fila.subinformeDiesel.resultadoVerificacionPuntoCien}"></p:outputLabel>
				</p:column>
				<!-- 29 -->
				<p:column headerText="No de consecutivo prueba">
					<p:outputLabel value="#{fila.numeroConsecutivoPrueba}"></p:outputLabel>
				</p:column>
				<!-- 30 -->
				<p:column headerText="Fecha y hora inicio de la prueba">
					<p:outputLabel value="#{fila.fechaInicioPrueba}"></p:outputLabel>
				</p:column>
				<!-- 31 -->
				<p:column headerText="Fecha y hora final de la prueba">
					<p:outputLabel value="#{fila.fechaFinPrueba}"></p:outputLabel>
				</p:column>
				<!-- 32 -->
				<p:column headerText="Inspector Realiza Prueba">
					<p:outputLabel value="#{fila.subinformeDiesel.numeroIdentificacionInspectorPrueba}"></p:outputLabel>
				</p:column>
				<!-- 33 -->
				<p:column headerText="Nombre o razon social propietario">
					<p:outputLabel value="#{fila.subinformeDiesel.nombresApellidosPropietario}"></p:outputLabel>
				</p:column>
				<!-- 34 -->
				<p:column headerText="Tipo Documento">
					<p:outputLabel value="#{fila.subinformeDiesel.tipoIdentificacionPropietario}"></p:outputLabel>
				</p:column>
				<!-- 35 -->
				<p:column headerText="No Documento">
					<p:outputLabel value="#{fila.subinformeDiesel.numeroIdentificacionPropietario}"></p:outputLabel>
				</p:column>
				<!-- 36 -->
				<p:column headerText="Direccion">
					<p:outputLabel value="#{fila.subinformeDiesel.direccionPropietario}"></p:outputLabel>
				</p:column>
				<!-- 37 -->
				<p:column headerText="Telefono ">
					<p:outputLabel value="#{fila.subinformeDiesel.telefonoPropietario}"></p:outputLabel>
				</p:column>
				<!-- 38 -->
				<p:column headerText="Ciudad">
					<p:outputLabel value="#{fila.codigoCiudadPropietario}"></p:outputLabel>
				</p:column>
				<!-- 39 -->
				<p:column headerText="Placa">
					<p:outputLabel value="#{fila.subinformeDiesel.placa}"></p:outputLabel>
				</p:column>
				<!-- 40 -->
				<p:column headerText="Marca">
					<p:outputLabel value="#{fila.codigoMarca}"></p:outputLabel>
				</p:column>
				<!-- 41 -->
				<p:column headerText="Año modelo">
					<p:outputLabel value="#{fila.subinformeDiesel.modelo}"></p:outputLabel>
				</p:column>
				<!-- 42 -->
				<p:column headerText="Cilindraje">
					<p:outputLabel value="#{fila.subinformeDiesel.cilindraje}"></p:outputLabel>
				</p:column>
				<!-- 43 -->
				<p:column headerText="Linea">
					<p:outputLabel value="#{fila.codigoLineaVehiculo}"></p:outputLabel>
				</p:column>
				<!-- 44 -->
				<p:column headerText="Clase">
					<p:outputLabel value="#{fila.codigoClaseVehiculo}"></p:outputLabel>
				</p:column>
				<!-- 45 -->
				<p:column headerText="Servicio">
					<p:outputLabel value="#{fila.codigoServicio}"></p:outputLabel>
				</p:column>
				<!-- 46 -->
				<p:column headerText="Combustible">
					<p:outputLabel value="#{fila.codigoCombustible}"></p:outputLabel>
				</p:column>
				<!-- 47 -->
				<p:column headerText="Tipo de Motor">
					<p:outputLabel value="Encendido por compresion"></p:outputLabel>
				</p:column>
				<!-- 48 -->
				<p:column headerText="No motor">
					<p:outputLabel value="#{fila.subinformeDiesel.numeroMotor}"></p:outputLabel>
				</p:column>
				<!-- 49 -->	
				<p:column headerText="No vin / serie">
					<p:outputLabel value="#{fila.subinformeDiesel.vin}"></p:outputLabel>
				</p:column>
				<!-- 50 -->	
				<p:column headerText="No licencia transito">
					<p:outputLabel value="#{fila.subinformeDiesel.licenciaTransito}"></p:outputLabel>
				</p:column>
				<!-- 51 -->
				<p:column headerText="Modificaciones al motor">
					<p:outputLabel value="#{fila.subinformeDiesel.modificacionesMotor}"></p:outputLabel>
				</p:column>
				<!-- 52 -->
				<p:column headerText="kilometraje">
					<p:outputLabel value="#{fila.subinformeDiesel.kilometraje}"></p:outputLabel>
				</p:column>
				<!-- 53 -->
				<p:column headerText="Potencia del motor ">
					<p:outputLabel value="#{fila.potencia}"></p:outputLabel>
				</p:column>
				<!-- 54 -->
				<p:column headerText="Temperatura ambiente (°C)">
					<p:outputLabel value="#{fila.subinformeDiesel.temperaturaAmbiente}"></p:outputLabel>
				</p:column>
				<!-- 55 -->
				<p:column headerText="Humedad Relativa (%)">
					<p:outputLabel value="#{fila.subinformeDiesel.humedadRelativa}"></p:outputLabel>
				</p:column>
				<!-- 56 -->
				<p:column headerText="LTOE Estándar (mm) (Densidad de humo">
					<p:outputLabel value="#{fila.subinformeDiesel.diametroTuboEscape}"></p:outputLabel>
				</p:column>
				<!-- 57 -->
				<p:column
					headerText="Temperatura Motor (Temperatura Inicial Diesel) (°C) ">
					<p:outputLabel value="#{fila.subinformeDiesel.temperaturaInicialMotor}"></p:outputLabel>
				</p:column>
				<!-- 58 -->
				<p:column headerText="Temperatura Final (Diesel T menor 50)">
					<p:outputLabel value="#{fila.subinformeDiesel.temperaturaFinalMotor}"></p:outputLabel>
				</p:column>
				<!-- 59 -->
				<p:column headerText="RPM Ralenti">
					<p:outputLabel value="#{fila.subinformeDiesel.rpmRalentiRegistrada}"></p:outputLabel>
				</p:column>
				<!-- 60 -->
				<p:column headerText="RPM  Gobernada">
					<p:outputLabel value="#{fila.subinformeDiesel.rpmGobernadaRegistrada}"></p:outputLabel>
				</p:column>
				<!-- 61 -->
				<p:column headerText="Ciclo Preliminar (m-1)">
					<p:outputLabel value="#{fila.subinformeDiesel.densidadHumoCicloPreliminar}"></p:outputLabel>
				</p:column>
				<!-- 62 -->
				<p:column
					headerText="RPM Gobernada Ciclo Preliminar">
					<p:outputLabel value="#{fila.subinformeDiesel.rpmGobernadaCicloPreliminar}"></p:outputLabel>
				</p:column>
				<!-- 63 -->
				<p:column
					headerText="RPM Ralenti Ciclo Preliminar">
					<p:outputLabel value="#{fila.subinformeDiesel.rpmRalentiCicloPreliminar}"></p:outputLabel>
				</p:column>
				<!-- 64 -->	
				<p:column headerText="Ciclo 1 (m-1)">
					<p:outputLabel value="#{fila.subinformeDiesel.densidadHumoCicloUno}"></p:outputLabel>
				</p:column>
				<!-- 65 -->
				<p:column headerText="RPM Gobernada Ciclo 1">
					<p:outputLabel value="#{fila.subinformeDiesel.rpmGobernadaCicloUno}"></p:outputLabel>
				</p:column>
				<!-- 66 -->
				<p:column headerText="RPM Ralenti Ciclo 1">
					<p:outputLabel value="#{fila.subinformeDiesel.rpmRalentiCicloUno}"></p:outputLabel>
				</p:column>
				<!-- 67 -->
				<p:column headerText="Ciclo 2 (m-1)">
					<p:outputLabel value="#{fila.subinformeDiesel.densidadHumoCicloDos}"></p:outputLabel>
				</p:column>
				<!-- 68 -->
				<p:column headerText="RPM Gobernada Ciclo 2">
					<p:outputLabel value="#{fila.subinformeDiesel.rpmGobernadaCicloDos}"></p:outputLabel>
				</p:column>
				<!-- 69 -->
				<p:column headerText="RPM Ralenti Ciclo 2">
					<p:outputLabel value="#{fila.subinformeDiesel.rpmRalentiCicloDos}"></p:outputLabel>
				</p:column>
				<!-- 70 -->
				<p:column headerText="Ciclo 3 (m-1)">
					<p:outputLabel value="#{fila.subinformeDiesel.densidadHumoCicloTres}"></p:outputLabel>
				</p:column>
				<!-- 71 -->
				<p:column headerText="RPM Gobernada Ciclo 3">
					<p:outputLabel value="#{fila.subinformeDiesel.rpmGobernadaCicloTres}"></p:outputLabel>
				</p:column>
				<!-- 72 -->
				<p:column headerText="RPM Ralenti Ciclo 3">
					<p:outputLabel value="#{fila.subinformeDiesel.rpmRalentiCicloTres}"></p:outputLabel>
				</p:column>
				<!-- 73 -->
				<p:column headerText="Promedio Final (m-1">
					<p:outputLabel value="#{fila.subinformeDiesel.resultadoFinalDensidadHumo}"></p:outputLabel>
				</p:column>
				<!-- 74 -->
				<p:column headerText="Nivel Emisiones (norma aplicable)">
					<p:outputLabel value="#{fila.subinformeDiesel.incumplimientoNivelesEmisiones}"></p:outputLabel>
				</p:column>
				<!-- 75 -->
				<p:column headerText="Velocidad no alcanzada en 5 Seg">
					<p:outputLabel value="#{fila.subinformeDiesel.noSeAlcanzaGobernadas}"></p:outputLabel>
				</p:column>
				<!-- 76 -->
				<p:column headerText="Inestabilidad durante ciclos de medicion ">
					<p:outputLabel value="#{fila.inestabilidadRpmCiclos}"></p:outputLabel>
				</p:column>
				<!-- 77 -->
				<p:column headerText="Falla por temperarutura del motor ">
					<p:outputLabel value="#{fila.subinformeDiesel.diferenciaTemperaturaMayor10}"></p:outputLabel>
				</p:column>
				<!-- 78 -->
				<p:column headerText="Diferencias aritmeticas (m-1)">
					<p:outputLabel value="#{fila.subinformeDiesel.rechazoPorDiferenciaAritmetica}"></p:outputLabel>
				</p:column>
				<!-- 79 -->
				<p:column headerText="Fugas en el tubo de escape ">
					<p:outputLabel value="#{fila.subinformeDiesel.fugasTubo}"></p:outputLabel>
				</p:column>
				<!-- 80 -->	
				<p:column headerText="Fugas en el silenciador ">
					<p:outputLabel value="#{fila.subinformeDiesel.fugasTubo}"></p:outputLabel>
				</p:column>
				<!-- 81 -->
				<p:column headerText="Ausencia tapa combustible o fugas ">
					<p:outputLabel value="#{fila.subinformeDiesel.ausenciaFugasTapaCombustible}"></p:outputLabel>
				</p:column>
				<!-- 82 -->
				<p:column headerText="Ausencia tapa aceite o de fugas de aceite ">
					<p:outputLabel value="#{fila.subinformeDiesel.ausenciaFugasTapaAceite}"></p:outputLabel>
				</p:column>
				<!-- 83 -->
				<p:column headerText="Accesorios deformaciones en tubo de escape ">
					<p:outputLabel value="#{fila.subinformeDiesel.instalacionDispositivosImpidenIntroducirSonda}"></p:outputLabel>
				</p:column>
				<!-- 84 -->
				<p:column headerText="Salidas adicionales al diseño ">
					<p:outputLabel value="#{fila.subinformeDiesel.salidasAdicionales}"></p:outputLabel>
				</p:column>
				<!-- 85 -->
				<p:column headerText="Ausencia del filtro del aire ">
					<p:outputLabel value="#{fila.subinformeDiesel.incorrectaInstalacionAusenciaFiltroAire}"></p:outputLabel>
				</p:column>
				<!-- 86 -->
				<p:column headerText="Falla sistema de refrigeraciòn ">
					<p:outputLabel value="#{fila.subinformeDiesel.incorrectaOperacionRefrigeracion}"></p:outputLabel>
				</p:column>
				<!-- 87 -->
				<p:column headerText="Revoluciones inestables o fuera de rango">
					<p:outputLabel value="#{fila.subinformeDiesel.rpmFueraRango}"></p:outputLabel>
				</p:column>
				<!-- 88 -->
				<p:column headerText="Indicacion mal funcionamiento del motor  ">
					<p:outputLabel value="#{fila.subinformeDiesel.indicadorMalFuncionamientoMotor}"></p:outputLabel>
				</p:column>
				<!-- 89 -->
				<p:column headerText="Funicionamiento del sistema de control de velocidad del motor   ">
					<p:outputLabel value="#{fila.subinformeDiesel.incorrectaOperacionGobernador}"></p:outputLabel>
				</p:column>
				<!-- 90 -->
				<p:column headerText="Instalacion dispositivos que alteran  RPM">
					<p:outputLabel value="#{fila.subinformeDiesel.dispositivosInstaladosAlteraVelocidad}"></p:outputLabel>
				</p:column>
				<!-- 91 -->
				<p:column headerText="Fecha y hora aborto de prueba">
					<p:outputLabel value="#{fila.subinformeDiesel.fechaHoraAbortoInspeccion}"></p:outputLabel>
				</p:column>
				<!-- 92 -->
				<p:column headerText="Falla del equipo de medicion ">
					<p:outputLabel value=""></p:outputLabel>
				</p:column>
				<!-- 93 -->
				<p:column headerText="Falla subita fluido electrico ">
					<p:outputLabel value=""></p:outputLabel>
				</p:column>
				<!-- 94 -->
				<p:column headerText="Bloqueo forzado del equipo de medicion  ">
					<p:outputLabel value=""></p:outputLabel>
				</p:column>
				<!-- 95 -->
				<p:column headerText="Ejecucion incorrecta prueba   ">
					<p:outputLabel value=""></p:outputLabel>
				</p:column>
				<!-- 96 -->
				<p:column headerText="Falla de desviacion cero   ">
					<p:outputLabel value=""></p:outputLabel>
				</p:column>
				<!-- 97 -->
				<p:column headerText="Causas de rechazo">
					<p:outputLabel value="#{fila.causaRechazoDiesel}"></p:outputLabel>
				</p:column>
				<!-- 98 -->
				<p:column headerText="Concepto Tecnico">
					<p:outputLabel value="#{fila.subinformeDiesel.resultadoFinalPruebaRealizada}"></p:outputLabel>
				</p:column>
				<!-- 99 -->
				<p:column headerText="Resolucion de limites maximos permisibles">
					<p:outputLabel value="Resolucion 0762 de 2022"></p:outputLabel>
				</p:column>
				
				
			</p:dataTable>
			
			<p:ajaxStatus style="display:block;margin-bottom:2em;height:24px;">
				<f:facet name="default">
					<h:outputText value="Status: StandBy" />
				</f:facet>

				<f:facet name="start">
					<p:graphicImage name="/images/ajax-loading-bar.gif" />
				</f:facet>

				<f:facet name="complete">
					<h:outputText value="Status: Completed" />
				</f:facet>
			</p:ajaxStatus>

		</h:form>
	</ui:define>

</ui:composition>
