<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<p:growl autoUpdate="true">
			</p:growl>
			<div class="ui-fluid">
			<p:panelGrid columns="12" styleClass="ui-responsive"
					columnClasses="ui-grid-col-1,ui-grid-col-2,ui-grid-col-1,ui-grid-col-2,
											ui-grid-col-2,ui-grid-col-2,ui-grid-col-2"
					layout="grid">
				<p:row>
					<p:column>Fecha Inicio</p:column>
					<p:column>
						<p:calendar value="#{informePruebasDieselRes0762MedellinBean.fechaInicial}"
							id="fechainicio">
						</p:calendar>
					</p:column>
					<p:column>Fecha Fin</p:column>
					<p:column>
						<p:calendar value="#{informePruebasDieselRes0762MedellinBean.fechaFinal}"
							id="fechafin">

						</p:calendar>
					</p:column>
					<p:column>
						<p:commandButton value="CONSULTAR"
							process="@this fechainicio fechafin" update=":form:infoPruebas"
							actionListener="#{informePruebasDieselRes0762MedellinBean.consultarPruebas}"
							ajax="true"></p:commandButton>
					</p:column>
					<p:column>
						<h:commandLink value="Exportar Excel">
							<p:dataExporter type="xls" target="infoPruebas" postProcessor="#{informePruebasDieselRes0762MedellinBean.postProcessXLS}"
								fileName="ntc4231" />
						</h:commandLink>
					</p:column>
					<p:column>
						<h:commandLink value="Exportar Csv">
							<p:dataExporter type="csv" target="infoPruebas"
								fileName="pruebasdieselcsv" />
						</h:commandLink>
					</p:column>



				</p:row>
			</p:panelGrid>
			</div>


			<p:dataTable id="infoPruebas" style="width:10000px"
				value="#{informePruebasDieselRes0762MedellinBean.datos}" var="fila" scrollable="true"
				scrollHeight="600px" scrollWidth="85%" rowIndexVar="numeroFila">

				<p:column headerText="CM">
					<p:outputLabel value="#{fila.numeroExpedienteCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="TIP_IDE_CDA">
					<p:outputLabel value="#{fila.tipoIdentificacionCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="NUM_IDE_CDA">
					<p:outputLabel value="#{fila.numeroIdentificacionCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="NOM_RS">
					<p:outputLabel value="#{fila.nombreRazonSocial}"></p:outputLabel>
				</p:column>

				<p:column headerText="NOM_CDA">
					<p:outputLabel value="#{fila.nombreCdaEstablecimientoComercio}"></p:outputLabel>
				</p:column>

				<p:column headerText="CLASE_CDA">
					<p:outputLabel value="#{fila.claseCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="DIR_CDA">
					<p:outputLabel value="#{fila.direccionCda}"></p:outputLabel>
				</p:column>
				
			
				<p:column headerText="CORREO_E">
					<p:outputLabel value="#{fila.correoElectronicoCda}"></p:outputLabel>
				</p:column>

				

				<p:column headerText="TEL1_CDA">
					<p:outputLabel value="#{fila.telefonoCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="TEL2_CDA">
					<p:outputLabel value="#{fila.telefonoSecundarioCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="MUN_CDA">
					<p:outputLabel value="#{fila.municipioCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="RES_EC">
					<p:outputLabel value="#{fila.resolucionAutoridadAmbiental}"></p:outputLabel>
				</p:column>

				<p:column headerText="F_RES_EC">
					<p:outputLabel value="#{fila.fechaResolucionVigente}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="TOTAL_DIS">
					<p:outputLabel value="#{fila.totalOpacimetros}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="TIP_IDE_PROP">
					<p:outputLabel value="#{fila.tipoIdentificacionPropietario}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="NUM_IDE_PROP">
					<p:outputLabel value="#{fila.numeroIdentificacionPropietario}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="NOM_PROP">
					<p:outputLabel value="#{fila.nombresApellidosPropietario}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="DIR_PROP">
					<p:outputLabel value="#{fila.direccionPropietario}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="TEL1_PROP">
					<p:outputLabel value="#{fila.telefonoPropietario}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="TEL2_PROP">
					<p:outputLabel value="#{fila.telefonoSecundarioPropietario}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="MUN_PROP">
					<p:outputLabel value="#{fila.municipioPropietario}"></p:outputLabel>
				</p:column>

				<p:column headerText="CORR_E_PROP">
					<p:outputLabel value="#{fila.correoElectronicoPropietario}"></p:outputLabel>
				</p:column>

				<p:column headerText="PLACA">
					<p:outputLabel value="#{fila.placa}"></p:outputLabel>
				</p:column>

				<p:column headerText="MODELO">
					<p:outputLabel value="#{fila.modelo}"></p:outputLabel>
				</p:column>

				<p:column headerText="NUM_MOTOR">
					<p:outputLabel value="#{fila.numeroMotor}"></p:outputLabel>
				</p:column>

				<p:column headerText="VIN">
					<p:outputLabel value="#{fila.vin}"></p:outputLabel>
				</p:column>

				<p:column headerText="MOD_MOTOR">
					<p:outputLabel value="#{fila.modificacionesMotor}"></p:outputLabel>
				</p:column>

				<p:column headerText="DIA_ESCAPE.">
					<p:outputLabel value="#{fila.diametroTuboEscape}"></p:outputLabel>
				</p:column>

				<p:column headerText="CILINDRAJE">
					<p:outputLabel value="#{fila.cilindraje}"></p:outputLabel>
				</p:column>

				<p:column headerText="LIC_TRANS">
					<p:outputLabel value="#{fila.licenciaTransito}"></p:outputLabel>
				</p:column>

				<p:column headerText="KM">
					<p:outputLabel value="#{fila.kilometraje}"></p:outputLabel>
				</p:column>

				<p:column headerText="MARCA">
					<p:outputLabel value="#{fila.marca}"></p:outputLabel>
				</p:column>

				<p:column headerText="LINEA">
					<p:outputLabel value="#{fila.linea}"></p:outputLabel>
				</p:column>

				<p:column headerText="CLASE">
					<p:outputLabel value="#{fila.clase}"></p:outputLabel>
				</p:column>

				<p:column headerText="SERVICIO">
					<p:outputLabel value="#{fila.servicio}"></p:outputLabel>
				</p:column>

				<p:column headerText="TIP_COMB">
					<p:outputLabel value="#{fila.combustible}"></p:outputLabel>
				</p:column>

				<p:column headerText="TIP_MOTOR.">
					<p:outputLabel value="#{fila.tipoMotor}"></p:outputLabel>
				</p:column>

				<p:column headerText="RPM_FAB">
					<p:outputLabel value="#{fila.conoceRpmFabricante}"></p:outputLabel>
				</p:column>

				<p:column headerText="RAL_MIN_FAB">
					<p:outputLabel value="#{fila.rpmMinRalFabricante}"></p:outputLabel>
				</p:column>

				<p:column headerText="RAL_MAX_FAB">
					<p:outputLabel value="#{fila.rpmMaxRalFabricante}"></p:outputLabel>
				</p:column>

				<p:column headerText="GOB_MIN_FAB">
					<p:outputLabel value="#{fila.rpmMinGobFabricante}"></p:outputLabel>
				</p:column>

				<p:column headerText="GOB_MAX_FAB">
					<p:outputLabel value="#{fila.rpmMaxGobFabricante}"></p:outputLabel>
				</p:column>

				<p:column headerText="MARCA_AG">
					<p:outputLabel value="#{fila.marcaOpacimero}"></p:outputLabel>
				</p:column>

				<p:column headerText="MOD_AG">
					<p:outputLabel value="#{fila.modeloOpacimetro}"></p:outputLabel>
				</p:column>

				<p:column headerText="SERIAL_AG">
					<p:outputLabel value="#{fila.serialOpacimetro}"></p:outputLabel>
				</p:column>

				<p:column headerText="MARCA_BG">
					<p:outputLabel value="marcaBancoGases"></p:outputLabel>
				</p:column>

				<p:column headerText="MOD_BG">
					<p:outputLabel value="#{fila.modeloBancoGases}"></p:outputLabel>
				</p:column>

				<p:column headerText="SERIAL_BG">
					<p:outputLabel value="#{fila.serialBancoGases}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="LTOE">
					<p:outputLabel value="#{fila.ltoeOpacimetro}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="SERIAL_E">
					<p:outputLabel value="#{fila.serialElectronicoOpacimetro}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="MARCA_RPM">
					<p:outputLabel value="#{fila.marcaCaptadorRpm}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="SERIAL_RPM">
					<p:outputLabel value="#{fila.serialCaptadorRpm}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="MARCA_TEMP_M">
					<p:outputLabel value="#{fila.marcaSensorTemperaturaMotor}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="SERIAL_TEMP_M">
					<p:outputLabel value="#{fila.serialSensorTemperaturaMotor}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="MARCA_TEMP_A">
					<p:outputLabel value="#{fila.marcaSensorTemperaturaAmbiente}"></p:outputLabel>
				</p:column>
								
				<p:column headerText="SERIAL_TEMP_A">
					<p:outputLabel value="#{fila.serialSensorTemperaturaAmbiente}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="MARCA_HUM_R">
					<p:outputLabel value="#{fila.marcaSensorHumedad}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="SERIAL_HUM_R">
					<p:outputLabel value="#{fila.serialSensorHumedad}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="NOM_SOFT">
					<p:outputLabel value="#{fila.nombreSoftware}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="VER_SOFT">
					<p:outputLabel value="#{fila.versionSoftware}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="DES_SOFT">
					<p:outputLabel value="#{fila.nombreProveedorSoftware}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="TIP_IDE_LIN">
					<p:outputLabel value="#{fila.tipoIdentificacionInspectorVerificacion}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="NUM_IDE_LIN">
					<p:outputLabel value="#{fila.numeroIdentificacionInspectorVerificacion}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="NOM_LIN">
					<p:outputLabel value="#{fila.nombreInspectorVerificacion}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="FECHA_LIN">
					<p:outputLabel value="#{fila.fechaVerificacionLinealidad}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="P_ALTO_LAB">
					<p:outputLabel value="#{fila.laboratorioFiltroMayor}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="P_ALTO_SERIAL">
					<p:outputLabel value="#{fila.serialFiltroMayor}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="P_ALTO_CER">
					<p:outputLabel value="#{fila.certificadoFiltroMayor}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="V_FDN_ALTO">
					<p:outputLabel value="#{fila.valorFiltroMayor}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="P_BAJO_LAB">
					<p:outputLabel value="#{fila.laboratorioFiltroMenor}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="P_BAJO_SERIAL">
					<p:outputLabel value="#{fila.serialFiltroMenor}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="P_BAJO_CER">
					<p:outputLabel value="#{fila.certificadoFiltroMenor}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="V_FDN_BAJO">
					<p:outputLabel value="#{fila.valorFiltroMenor}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_FDN_CERO">
					<p:outputLabel value="#{fila.resultadoVerificacionPuntoCero}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_FDN_BAJO">
					<p:outputLabel value="#{fila.resultadoVerificacionFiltroMenor}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_FDN_ALTO">
					<p:outputLabel value="#{fila.resultadoVerificacionFiltroMayor}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_FDN_CIEN">
					<p:outputLabel value="#{fila.resultadoVerificacionPuntoCien}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_LIN">
					<p:outputLabel value="#{fila.resultadoVerificacionLinealidad}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="TIP_IDE_DT">
					<p:outputLabel value="#{fila.tipoIdentificacionDirectorTecnico}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="NUM_IDE_DT">
					<p:outputLabel value="#{fila.numeroIdentificacionDirectorTecnico}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="NOM_DT">
					<p:outputLabel value="#{fila.nombreDirectorTecnico}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="TIP_IDE_IT">
					<p:outputLabel value="#{fila.tipoIdentificacionInspectorPrueba}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="NUM_IDE_IT">
					<p:outputLabel value="#{fila.numeroIdentificacionInspectorPrueba}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="NOM_IT.">
					<p:outputLabel value="#{fila.nombreInspectorPrueba}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="NUM_FUR">
					<p:outputLabel value="#{fila.numeroFUR}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="FECHA_FUR">
					<p:outputLabel value="#{fila.fechaFUR}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="CONS_RUNT">
					<p:outputLabel value="#{fila.numeroConsecutivoRunt}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="FUR_ASOC">
					<p:outputLabel value="#{fila.furAsociados}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="CERT_RTMYG">
					<p:outputLabel value="#{fila.certificadoEmitido}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="F_INI_INSP">
					<p:outputLabel value="#{fila.fechaHoraInicioInspeccion}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="F_FIN_INSP">
					<p:outputLabel value="#{fila.fechaHoraFinInspeccion}"></p:outputLabel>
				</p:column>				

				<p:column headerText="F_ABORTO.">
					<p:outputLabel value="#{fila.fechaHoraAbortoInspeccion}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="C_ABORTO">
					<p:outputLabel value="#{fila.causaAbortoInspeccion}"></p:outputLabel>
				</p:column>				


				<p:column headerText="T_AMB">
					<p:outputLabel value="#{fila.temperaturaAmbiente}"></p:outputLabel>
				</p:column>	
				
				<p:column headerText="H_REL">
					<p:outputLabel value="#{fila.humedadRelativa}"></p:outputLabel>
				</p:column>					
				
				<p:column headerText="T_INICIAL_MOTOR">
					<p:outputLabel value="#{fila.temperaturaInicialMotor}"></p:outputLabel>
				</p:column>	
				
				<p:column headerText="T_FINAL_MOTOR">
					<p:outputLabel value="#{fila.temperaturaFinalMotor}"></p:outputLabel>
				</p:column>	
				
				<p:column headerText="RPM_RAL">
					<p:outputLabel value="#{fila.rpmRalentiRegistrada}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="RPM_GOB">
					<p:outputLabel value="#{fila.rpmGobernadaRegistrada}"></p:outputLabel>
				</p:column>				
				
				<p:column headerText="RPM_FUERA">
					<p:outputLabel value="#{fila.rpmFueraRango}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="FUGA_TUBO">
					<p:outputLabel value="#{fila.fugasTubo}"></p:outputLabel>
				</p:column>				

				<p:column headerText="SALIDAS_AD">
					<p:outputLabel value="#{fila.salidasAdicionales}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="FUGA_ACEITE">
					<p:outputLabel value="#{fila.ausenciaFugasTapaAceite}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="FUGA_COMB">
					<p:outputLabel value="#{fila.ausenciaFugasTapaCombustible}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="ADMISION_NC">
					<p:outputLabel value="#{fila.incorrectaInstalacionAusenciaFiltroAire}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="AC_DISP">
					<p:outputLabel value="#{fila.dispositivosInstaladosAlteraVelocidad}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="ACC_TUBO">
					<p:outputLabel value="#{fila.instalacionDispositivosImpidenIntroducirSonda}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="REFRIG_NC">
					<p:outputLabel value="#{fila.incorrectaOperacionRefrigeracion}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="DIF_TEMP10">
					<p:outputLabel value="#{fila.diferenciaTemperaturaMayor10}"></p:outputLabel>
				</p:column>
								
				<p:column headerText="GOB_NC">
					<p:outputLabel value="#{fila.incorrectaOperacionGobernador}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="FUN_MOTOR">
					<p:outputLabel value="#{fila.indicadorMalFuncionamientoMotor}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="ACC_SUBITA">
					<p:outputLabel value="#{fila.noSeAlcanzaGobernadas}"></p:outputLabel>
				</p:column>	
				
				<p:column headerText="FALLA_SUBITA">
					<p:outputLabel value="#{fila.fallaSubitaMotor}"></p:outputLabel>
				</p:column>				
				
				<p:column headerText="DIF_ARITM">
					<p:outputLabel value="#{fila.rechazoPorDiferenciaAritmetica}"></p:outputLabel>
				</p:column>								

				<p:column headerText="NC_EMISIONES">
					<p:outputLabel value="#{fila.incumplimientoNivelesEmisiones}"></p:outputLabel>
				</p:column>													
				
				<p:column headerText="RPM_RAL_PRE">
					<p:outputLabel value="#{fila.rpmRalentiCicloPreliminar}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="RPM_GOB_PRE">
					<p:outputLabel value="#{fila.rpmGobernadaCicloPreliminar}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_OP_PRE">
					<p:outputLabel value="#{fila.opacidadCicloPreliminar}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_DEN_PRE">
					<p:outputLabel value="#{fila.densidadHumoCicloPreliminar}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="RPM_RAL_C1">
					<p:outputLabel value="#{fila.rpmRalentiCicloUno}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="RPM_GOB_C1">
					<p:outputLabel value="#{fila.rpmGobernadaCicloUno}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_OP_C1">
					<p:outputLabel value="#{fila.opacidadCicloUno}"></p:outputLabel>
				</p:column>

				<p:column headerText="R_DEN_C1">
					<p:outputLabel value="#{fila.densidadHumoCicloUno}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="RPM_RAL_C2">
					<p:outputLabel value="#{fila.rpmRalentiCicloDos}"></p:outputLabel>
				</p:column>								

				<p:column headerText="RPM_GOB_C2">
					<p:outputLabel value="#{fila.rpmGobernadaCicloDos}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_OP_C2">
					<p:outputLabel value="#{fila.opacidadCicloDos}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_DEN_C2">
					<p:outputLabel value="#{fila.densidadHumoCicloDos}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="RPM_RAL_C3">
					<p:outputLabel value="#{fila.rpmRalentiCicloTres}"></p:outputLabel>
				</p:column>

				<p:column headerText="RPM_GOB_C3">
					<p:outputLabel value="#{fila.rpmGobernadaCicloTres}"></p:outputLabel>
				</p:column>				
				
				<p:column headerText="R_OP_C3">
					<p:outputLabel value="#{fila.opacidadCicloTres}"></p:outputLabel>
				</p:column>	
					
				<p:column headerText="R_DEN_C3">
					<p:outputLabel value="#{fila.densidadHumoCicloTres}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_FINAL_OP">
					<p:outputLabel value="#{fila.resultadoFinalOpacidad}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="R_FINAL_DEN">
					<p:outputLabel value="#{fila.resultadoFinalDensidadHumo}"></p:outputLabel>
				</p:column>									


				<p:column headerText="RES_FINAL">
					<p:outputLabel value="#{fila.resultadoFinalPruebaRealizada}"></p:outputLabel>
				</p:column>

										
			</p:dataTable>
			
			<p:ajaxStatus style="display:block;margin-bottom:2em;height:24px;">
				<f:facet name="default">
					<h:outputText value="Status: StandBy" />
				</f:facet>

				<f:facet name="start">
					<p:graphicImage name="/images/ajax-loading-bar.gif" />
				</f:facet>

				<f:facet name="complete">
					<h:outputText value="Status: Completed" />
				</f:facet>
			</p:ajaxStatus>

		</h:form>
	</ui:define>

</ui:composition>
