
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">


<ui:define name="content" >	
	<div class="ui-fluid">
		<h:form>
			<p:growl id="growl" autoUpdate="false"></p:growl>
			
			<!-- Panel con info del vehiculo -->
			
				<p:panelGrid columns="4" styleClass="ui-responsive" layout="grid">
					<p:outputLabel value= "PLACA"></p:outputLabel>
					<p:outputLabel value="#{verEditarPruebasBean.revision.vehiculo.placa}"/>
						
					<p:outputLabel value="NUMERO REVISION"></p:outputLabel>						
					<p:outputLabel value="#{verEditarPruebasBean.revision.revisionId}"/>						
								
				</p:panelGrid>				
			
			<p:dataTable id="tabla_pruebas" reflow="true" value="#{verEditarPruebasBean.revision.pruebas}" var="prueba" selectionMode="single" rowKey="#{prueba.hashCode()}" selection="#{verEditarPruebasBean.pruebaSeleccionada}"  >
				<p:column headerText="#">
					<h:outputText value = "#{prueba.pruebaId}"></h:outputText>
				</p:column>
				<p:column headerText="Tipo">
					<h:outputText value="#{prueba.tipoPrueba.nombre}">
					</h:outputText>
				</p:column>				
				<p:column headerText="Apro">
					<p:outputLabel value="#{prueba.aprobada ? '&#10004;':'&#10006;' }"></p:outputLabel>
				</p:column>
				<p:column headerText="Finali">
					<p:outputLabel value="#{prueba.finalizada ? '&#10004;':'&#10006;'}"/>	 
				</p:column>
				<p:column headerText="Abort">
					<p:outputLabel value="#{prueba.abortada ? '&#10004;':'&#10006;'}"></p:outputLabel> 
				</p:column>							
			</p:dataTable>			
			<p:panelGrid columns="6" styleClass="ui-responsive" layout="grid">
                    
                    <p:commandButton value="2do INTENTO / CERRAR" ajax="true" actionListener="#{verEditarPruebasBean.sugerirPruebas}"
                                     process="@this" update="@form" style="width:100%" onsuccess="$('#boton_guardar').click()" styleClass="ui-button-info" >
                    </p:commandButton>
                    
                    <p:commandButton value="Desviacion" disabled="#{verEditarPruebasBean.deshabilitarBotones}" style="width:100%" styleClass="ui-button-info" 
                                     ajax="true" action="#{verEditarPruebasBean.crearPrueba('Desviacion')}" process="@this tabla_pruebas" update="@form">                        
                    </p:commandButton>
                    <p:commandButton value="Frenos" disabled="#{verEditarPruebasBean.deshabilitarBotones}" style="width:100%"
                                     ajax="true" action="#{verEditarPruebasBean.crearPrueba('Frenos')}" process="@this tabla_pruebas" update="@form" styleClass="ui-button-info" >                         
                    </p:commandButton>
                    <p:commandButton value="Gases" disabled="#{verEditarPruebasBean.deshabilitarBotones}" style="width:100%"
                                     ajax="true" action="#{verEditarPruebasBean.crearPrueba('Gases')}" process="@this" update="@form" styleClass="ui-button-info" >                                 
                    </p:commandButton>
                    <p:commandButton value="I.Visual" disabled="#{verEditarPruebasBean.deshabilitarBotones}" style="width:100%"
                                      ajax="true" action="#{verEditarPruebasBean.crearPrueba('Visual')}" process="@this" update="@form" styleClass="ui-button-info" >
                        
                    </p:commandButton>
                    <p:commandButton value="Luces" disabled="#{verEditarPruebasBean.deshabilitarBotones}" style="width:100%" 
                                     ajax="true" action="#{verEditarPruebasBean.crearPrueba('Luces')}" process="@this" update="@form" styleClass="ui-button-info" >
                                    
                        
                    </p:commandButton>
                    <p:commandButton value="Sonido" disabled="#{verEditarPruebasBean.deshabilitarBotones}" style="width:100%" 
                                     ajax="true" action="#{verEditarPruebasBean.crearPrueba('Sonido')}" process="@this" update="@form" styleClass="ui-button-info" >                                    
                        
                    </p:commandButton>
                    <p:commandButton value="Suspension" disabled="#{verEditarPruebasBean.deshabilitarBotones}" style="width:100%"
                                      ajax="true" action="#{verEditarPruebasBean.crearPrueba('Suspension')}" process="@this" update="@form" styleClass="ui-button-info" >     
                        
                    </p:commandButton>
                    <p:commandButton value="Foto" disabled="#{verEditarPruebasBean.deshabilitarBotones}" style="width:100%" 
                                     ajax="true" action="#{verEditarPruebasBean.crearPrueba('Foto')}" process="@this" update="@form" styleClass="ui-button-info" >                                    
                        
                    </p:commandButton>
                    <p:commandButton value="Taximetro" disabled="#{verEditarPruebasBean.deshabilitarBotones}" style="width:100%"
                                     ajax="true" action="#{verEditarPruebasBean.crearPrueba('Taximetro')}" process="@this" update="@form" styleClass="ui-button-info" >                                  
                    </p:commandButton>
                    
                     <p:commandButton value="Comentarios" actionListener="#{verEditarPruebasBean.verDetallePrueba(ae)}" styleClass="ui-button-help" update="@form" ></p:commandButton>
                     
                     <p:commandButton value="Log Gases" actionListener="#{verEditarPruebasBean.verLogPrueba(ae)}" styleClass="ui-button-help" update="@form"></p:commandButton>                      
                                 
                    <p:commandButton value="FAS" disabled="#{verEditarPruebasBean.deshabilitarBotones}" style="width:100%"
                                      actionListener="#{verEditarPruebasBean.quitarPrueba}" process="@this tabla_pruebas" update="@form" styleClass="ui-button-info" >
                    </p:commandButton>
                    
                   
                    
                     
                    
                </p:panelGrid>
                   
                        <p:commandButton  value="Guardar" action="#{verEditarPruebasBean.guardarCambios()}" id="boton_guardar" process="@all" update="@form"></p:commandButton>
                        
                        <p:commandButton  value="Volver" action="/inicio.xhtml?faces-redirect=true" immediate="true"  ajax="false" styleClass="ui-button-secondary"></p:commandButton>
                   
                  
                      
                 </h:form>
                 
                 </div>

</ui:define>

</ui:composition>



