<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<p:growl autoUpdate="true">
			</p:growl>
			<p:panelGrid>
				<p:row>
					<p:column>Fecha Inicio</p:column>
					<p:column>
						<p:calendar value="#{infoPruebaGasesMotoCaldasBean.fechaInicial}"
							id="fechainicio">
						</p:calendar>
					</p:column>
					<p:column>Fecha Fin</p:column>
					<p:column>
						<p:calendar value="#{infoPruebaGasesMotoCaldasBean.fechaFinal}"
							id="fechafin">

						</p:calendar>
					</p:column>
					<p:column>
						<p:commandButton value="CONSULTAR"
							process="@this fechainicio fechafin" update=":form:infoPruebas"
							actionListener="#{infoPruebaGasesMotoCaldasBean.consultarPruebasMotos}"
							ajax="true" onclick="PF('pbAjax').start()"></p:commandButton>
					</p:column>
					<p:column>
						<h:commandLink value="Exportar">
							<p:dataExporter type="xls" target="infoPruebas"
								fileName="pruebasmotos" />
						</h:commandLink>
					</p:column>
					<p:column>
						<h:commandLink value="Exportar csv">
							<p:dataExporter type="csv" target="infoPruebas"
								fileName="pruebasmotos" />
						</h:commandLink>
					</p:column>

				</p:row>
			</p:panelGrid>
			<p:dataTable id="infoPruebas"
				value="#{infoPruebaGasesMotoCaldasBean.lazyDataModel}" scrollable="true"
				style="width:100%" scrollWidth="90%" scrollRows="1000"
				liveScroll="true" scrollHeight="250" lazy="true" var="fila"
				rowIndexVar="numeroFila">
				<p:column>

					<p:outputLabel value="#{numeroFila+1}">
					</p:outputLabel>
				</p:column>			

				<p:column headerText="MARCA">
					<p:outputLabel value="#{fila.marca}"></p:outputLabel>
				</p:column>

				<p:column headerText="LINEA">
					<p:outputLabel value="#{fila.linea}"></p:outputLabel>
				</p:column>				

				<p:column headerText="MODELO">
					<p:outputLabel value="#{fila.modelo}"></p:outputLabel>
				</p:column>

				<p:column headerText="PLACA">
					<p:outputLabel value="#{fila.placa}"></p:outputLabel>
				</p:column>

				<p:column headerText="CILINDRAJE">
					<p:outputLabel value="#{fila.cilindraje}"></p:outputLabel>
				</p:column>

				<p:column headerText="CLASE">
					<p:outputLabel value="#{fila.claseVehiculo}"></p:outputLabel>
				</p:column>

				<p:column headerText="SERVICIO">
					<p:outputLabel value="#{fila.servicio}"></p:outputLabel>
				</p:column>

				<p:column headerText="TEMPERATURA">
					<p:outputLabel value="#{fila.temperaturaDeMotor}"></p:outputLabel>
				</p:column>

				<p:column headerText="RPM RALENTI">
					<p:outputLabel value="#{fila.rpmRalenti}"></p:outputLabel>
				</p:column>

				<p:column headerText="HC RALENTI">
					<p:outputLabel value="#{fila.hcRalenti}"></p:outputLabel>
				</p:column>

				<p:column headerText="CO RALENTI">
					<p:outputLabel value="#{fila.coRalenti}"></p:outputLabel>
				</p:column>

				<p:column headerText="CO2 RALENTI">
					<p:outputLabel value="#{fila.co2Ralenti}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="O2 RALENTI">
					<p:outputLabel value="#{fila.o2Ralenti}"></p:outputLabel>
				</p:column>
				
			</p:dataTable>
			<p:ajaxStatus style="display:block;margin-bottom:2em;height:24px;">
				<f:facet name="default">
					<h:outputText value="Status: StandBy" />
				</f:facet>

				<f:facet name="start">
					<p:graphicImage name="/images/ajax-loading-bar.gif" />
				</f:facet>

				<f:facet name="complete">
					<h:outputText value="Status: Completed" />
				</f:facet>
			</p:ajaxStatus>

		</h:form>
	</ui:define>

</ui:composition>
