<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<p:growl autoUpdate="true">
			</p:growl>
			<div class="ui-fluid">
			<p:panelGrid columns="12" styleClass="ui-responsive"
					columnClasses="ui-grid-col-1,ui-grid-col-2,ui-grid-col-1,ui-grid-col-2,
											ui-grid-col-2,ui-grid-col-2,ui-grid-col-2"
					layout="grid">
				<p:row>
					<p:column>Fecha Inicio</p:column>
					<p:column>
						<p:calendar value="#{pruebasGasesCaldasBean.fechaInicial}"
							id="fechainicio">
						</p:calendar>
					</p:column>
					<p:column>Fecha Fin</p:column>
					<p:column>
						<p:calendar value="#{pruebasGasesCaldasBean.fechaFinal}"
							id="fechafin">

						</p:calendar>
					</p:column>
					<p:column>
						<p:commandButton value="CONSULTAR"
							process="@this fechainicio fechafin" update=":form:infoPruebas"
							actionListener="#{pruebasGasesCaldasBean.consultarPruebas}"
							ajax="true" onclick="PF('pbAjax').start()"></p:commandButton>
					</p:column>
					<p:column>
						<h:commandLink value="Exportar">
							<p:dataExporter type="xls" target="infoPruebas"
								fileName="informeambientalcaldas" />
						</h:commandLink>
					</p:column>
					<p:column>
						<h:commandLink value="Exportar csv">
							<p:dataExporter type="csv" target="infoPruebas"
								fileName="pruebasmotos" />
						</h:commandLink>
					</p:column>

				</p:row>
			</p:panelGrid>
			</div>
			<p:dataTable id="infoPruebas"
				value="#{pruebasGasesCaldasBean.datos}" scrollable="true"
				style="width:10000px" scrollWidth="90%" scrollRows="1000"
				liveScroll="true" scrollHeight="250" lazy="false" var="fila"
				rowIndexVar="numeroFila">
				<p:column>

					<p:outputLabel value="#{numeroFila+1}">
					</p:outputLabel>
				</p:column>

				<p:column headerText="Nombre CDA">
					<p:outputLabel value="#{fila.nombreRazonSocial}"></p:outputLabel>
				</p:column>

				<p:column headerText="Tipo de docuemnto">
					<p:outputLabel value="#{fila.tipoIdentificacionCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="NIT CDA">
					<p:outputLabel value="#{fila.numeroIdentificacionCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="Persona de contacto">
					<p:outputLabel value="#{fila.personaDeContacto}"></p:outputLabel>
				</p:column>
				<p:column headerText="correo electronico">
					<p:outputLabel value="#{fila.correoElectronicoCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="TELEFONO ">
					<p:outputLabel value="#{fila.telefonoCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="DEPARTAMENTO CDA">
					<p:outputLabel value="#{fila.departamentoCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="CIUDAD CDA">
					<p:outputLabel value="#{fila.municipioCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="No Resolución CDA de la Autoridad ambiental">
					<p:outputLabel value="#{fila.resolucionAutoridadAmbiental}"></p:outputLabel>
				</p:column>

				<p:column headerText="Fecha Resolución CDA (dd/mm/aaaa)">
					<p:outputLabel value="#{fila.fechaResolucionVigente}"></p:outputLabel>
				</p:column>

				<p:column headerText="clase de CDA">
					<p:outputLabel value="#{fila.claseCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="No. De Expediente de la autoridad ambiental">
					<p:outputLabel value="#{fila.numeroExpedienteCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="Numero total de equipos opacimetros">
					<p:outputLabel value="#{fila.totalOpacimetros}"></p:outputLabel>
				</p:column>

				<p:column headerText="Numero total de equipos analizadores ciclo OTTO">
					<p:outputLabel value="#{fila.totalAnalizadoresLivianos}"></p:outputLabel>
				</p:column>

				<p:column headerText="Numero total de equipos motos 4T">
					<p:outputLabel value="#{fila.totalAnalizadores4T}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="Numero total de equipos motos 2T">
					<p:outputLabel value="#{fila.totalAnalizadores2T}"></p:outputLabel>
				</p:column>

				<p:column headerText="Fecha y hora inicio de la prueba (DD/MM/AAAA HH:MM:SS)">
					<p:outputLabel value="#{fila.fechaInicioPrueba}"></p:outputLabel>
				</p:column>

				<p:column headerText="Fecha y hora final de la prueba (DD/MM/AAAA HH:MM:SS)">
					<p:outputLabel value="#{fila.fechaFinPrueba}"></p:outputLabel>
				</p:column>

				<p:column headerText="municipio de inspección">
					<p:outputLabel value="#{fila.municipioDeInspeccion}"></p:outputLabel>
				</p:column>

				<p:column headerText="dirección CDA">
					<p:outputLabel value="#{fila.direccionCda}"></p:outputLabel>
				</p:column>

				<p:column headerText="Numero de Inspección (FUR)">
					<p:outputLabel value="#{fila.numeroInspeccion}"></p:outputLabel>
				</p:column>

				<p:column headerText="Numero de certificado emitido">
					<p:outputLabel value="#{fila.numeroCertificado}"></p:outputLabel>
				</p:column>

				<p:column headerText="N° de Serie equipo (prueba gases-opacidad)">
					<p:outputLabel value="#{fila.serialOpacimetro}"></p:outputLabel>
				</p:column>

				<p:column headerText="Marca del medidor">
					<p:outputLabel value="#{fila.marcaOpacimero}"></p:outputLabel>
				</p:column>

				<p:column headerText="Nombre Proveedor software">
					<p:outputLabel value="Proambiente"></p:outputLabel>
				</p:column>

				<p:column headerText="Nombre Programa">
					<p:outputLabel value="#{fila.nombreSoftware}"></p:outputLabel>
				</p:column>

				<p:column headerText="Versión Programa">
					<p:outputLabel value="#{fila.versionSoftware}"></p:outputLabel>
				</p:column>

				<p:column headerText="ID Inspector">
					<p:outputLabel value="#{fila.idInspector}"></p:outputLabel>
				</p:column>

				<p:column headerText="Vr PEF">
					<p:outputLabel value="#{fila.valorPef}"></p:outputLabel>
				</p:column>

				<p:column headerText="N° de serie del banco">
					<p:outputLabel value="#{fila.numeroDeSerieDelBanco}"></p:outputLabel>
				</p:column>

				<p:column headerText="Marca Analizador">
					<p:outputLabel value="#{fila.marcaAnalizador}"></p:outputLabel>
				</p:column>

				<p:column headerText="Vr Span Bajo HC">
					<p:outputLabel value="#{fila.vlrSpanBajoHC}"></p:outputLabel>
				</p:column>

				<p:column headerText="Resultado  de Vr Span Bajo HC">
					<p:outputLabel value="#{fila.resultadoVlrSpanBajoHC}"></p:outputLabel>
				</p:column>

				<p:column headerText="Vr Span Bajo CO ">
					<p:outputLabel value="#{fila.vlrSpanBajoCO}"></p:outputLabel>
				</p:column>

				<p:column headerText="Resultado  de Vr Span Bajo CO">
					<p:outputLabel value="#{fila.resultadoVlrSpanBajoCO}"></p:outputLabel>
				</p:column>

				<p:column headerText="Vr Span Bajo CO2">
					<p:outputLabel value="#{fila.vlrSpanBajoCO2}"></p:outputLabel>
				</p:column>

				<p:column headerText="Resultado  de Vr Span Bajo CO2">
					<p:outputLabel value="#{fila.resultadoVlrSpanBajoCO2}"></p:outputLabel>
				</p:column>

				<p:column headerText="Vr Span Alto HC">
					<p:outputLabel value="#{fila.vlrSpanAltoHC}"></p:outputLabel>
				</p:column>

				<p:column headerText="Resultado  de Vr Span Alto HC">
					<p:outputLabel value="#{fila.resultadoVlrSpanAltoHC}"></p:outputLabel>
				</p:column>

				<p:column headerText="Vr Span Alto CO ">
					<p:outputLabel value="#{fila.vlrSpanAltoCO}"></p:outputLabel>
				</p:column>

				<p:column headerText="Resultado  de Vr Span Alto CO">
					<p:outputLabel value="#{fila.resultadoVlrSpanAltoCO}"></p:outputLabel>
				</p:column>

				<p:column headerText="Vr Span Alto CO2">
					<p:outputLabel value="#{fila.vlrSpanAltoCO2}"></p:outputLabel>
				</p:column>

				<p:column headerText="Resultado  de Vr Span Alto CO2">
					<p:outputLabel value="#{fila.resultadoVlrSpanAltoCO2}"></p:outputLabel>
				</p:column>

				<p:column headerText="Fecha y hora ultima verificación y ajuste">
					<p:outputLabel value="#{fila.fechaHoraUltimaCalibracion}"></p:outputLabel>
				</p:column>

				<p:column headerText="PLACA">
					<p:outputLabel value="#{fila.placa}"></p:outputLabel>
				</p:column>

				<p:column headerText="MARCA">
					<p:outputLabel value="#{fila.marca}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="MODELO">
					<p:outputLabel value="#{fila.modelo}"></p:outputLabel>
				</p:column>

				<p:column headerText="CILINDRAJE">
					<p:outputLabel value="#{fila.cilindraje}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="KILOMETRAJE">
					<p:outputLabel value="#{fila.kilometraje}"></p:outputLabel>
				</p:column>

				<p:column headerText="LINEA">
					<p:outputLabel value="#{fila.linea}"></p:outputLabel>
				</p:column>

				
				<p:column headerText="CLASE">
					<p:outputLabel value="#{fila.clase}"></p:outputLabel>
				</p:column>



				<p:column headerText="SERVICIO">
					<p:outputLabel value="#{fila.servicio}"></p:outputLabel>
				</p:column>


				<p:column headerText="COMBUSTIBLE">
					<p:outputLabel value="#{fila.combustible}"></p:outputLabel>
				</p:column>

				<p:column headerText="TIPO MOTOR (4T, 2T,  CHISPA, COMPRESION)">
					<p:outputLabel value="#{fila.tipoMotor}"></p:outputLabel>
				</p:column>

				<p:column headerText="No. Tubos de escape">
					<p:outputLabel value="#{fila.numeroTubosEscape}"></p:outputLabel>
				</p:column>

				<p:column headerText="Diseño (convencional o sccoter) para motocicletas">
					<p:outputLabel value="#{fila.disenioMotor}"></p:outputLabel>
				</p:column>

				

				<p:column headerText="Temperatura ambiente (°C)">
					<p:outputLabel value="#{fila.temperaturaAmbiente}"></p:outputLabel>
				</p:column>

				<p:column headerText="Humedad Relativa (%)">
					<p:outputLabel value="#{fila.humedadRelativa}"></p:outputLabel>
				</p:column>


				<p:column headerText="LTOE estandar (mm) (opacidad)">
					<p:outputLabel value="#{fila.ltoe}"></p:outputLabel>
				</p:column>

				<p:column headerText="LTOE estandar (mm) (densidad de humo)">
					<p:outputLabel value="#{fila.ltoe}"></p:outputLabel>
				</p:column>

				<p:column headerText="Temperatura de motor inicial">
					<p:outputLabel value="#{fila.temperaturaInicialMotor}"></p:outputLabel>
				</p:column>

				<p:column headerText="Temperatura de motor final">
					<p:outputLabel value="#{fila.temperaturaFinalMotor}"></p:outputLabel>
				</p:column>

				<p:column headerText="RPM Ralentí">
					<p:outputLabel value="#{fila.rpmRalenti}"></p:outputLabel>
				</p:column>

				<p:column headerText="HC Ralentí">
					<p:outputLabel value="#{fila.hcRalenti}"></p:outputLabel>
				</p:column>

				<p:column headerText="CO RALENTI">
					<p:outputLabel value="#{fila.coRalenti}"></p:outputLabel>
				</p:column>

				<p:column headerText="CO2 RALENTI">
					<p:outputLabel value="#{fila.co2Ralenti}"></p:outputLabel>
				</p:column>

				<p:column headerText="O2 RALENTI">
					<p:outputLabel value="#{fila.o2Ralenti}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="RPM Crucero">
					<p:outputLabel value="#{fila.rpmCrucero}"></p:outputLabel>
				</p:column>

				<p:column headerText="HC Crucero">
					<p:outputLabel value="#{fila.hcCrucero}"></p:outputLabel>
				</p:column>

				<p:column headerText="CO Crucero">
					<p:outputLabel value="#{fila.coCrucero}"></p:outputLabel>
				</p:column>

				<p:column headerText="CO2 Crucero">
					<p:outputLabel value="#{fila.co2Crucero}"></p:outputLabel>
				</p:column>

				<p:column headerText="O2 Crucero">
					<p:outputLabel value="#{fila.o2Crucero}"></p:outputLabel>
				</p:column>
				

				<p:column headerText="RPM Ralentí">
					<p:outputLabel value="#{fila.rpmRalentiCicloPreliminar}"></p:outputLabel>
				</p:column>

				<p:column headerText="RPM GOBERNADA CICLO PRELIMINAR">
					<p:outputLabel value="#{fila.rpmGobernadaCicloPreliminar}"></p:outputLabel>
				</p:column>

				<p:column headerText="Resultado Ciclo Preliminar">
					<p:outputLabel value="#{fila.opacidadCicloPreliminar}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="RPM RALENTI CICLO 1">
					<p:outputLabel value="#{fila.rpmRalentiCicloUno}"></p:outputLabel>
				</p:column>

				<p:column headerText="RPM GOBERNADA CICLO 1">
					<p:outputLabel value="#{fila.rpmGobernadaCicloUno}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="Resultado Ciclo 1">
					<p:outputLabel value="#{fila.opacidadCicloUno}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="RPM Ralentí CICLO 2">
					<p:outputLabel value="#{fila.rpmRalentiCicloUno}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="RPM GOBERNADA CICLO 2">
					<p:outputLabel value="#{fila.rpmGobernadaCicloDos}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="Resultado Ciclo 2">
					<p:outputLabel value="#{fila.opacidadCicloDos}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="RPM Ralentí CICLO 3">
					<p:outputLabel value="#{fila.rpmRalentiCicloTres}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="RPM GOBERNADA CICLO 3">
					<p:outputLabel value="#{fila.rpmGobernadaCicloTres}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="Resultado Ciclo 3">
					<p:outputLabel value="#{fila.opacidadCicloTres}"></p:outputLabel>
				</p:column>
				
				
				<p:column headerText="PROMEDIO FINAL (%)">
					<p:outputLabel value="#{fila.resultadoFinalOpacidad}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="CICLO PRELIMINAR (m-1)">
					<p:outputLabel value="#{fila.densidadHumoCicloPreliminar}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="CICLO 1 (m-1)">
					<p:outputLabel value="#{fila.densidadHumoCicloUno}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="CICLO 2 (m-1)">
					<p:outputLabel value="#{fila.densidadHumoCicloDos}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="CICLO 3 (m-1)">
					<p:outputLabel value="#{fila.densidadHumoCicloTres}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="PROMEDIO FINAL (m-1)">
					<p:outputLabel value="#{fila.resultadoFinalDensidadHumo}"></p:outputLabel>
				</p:column>	
																											
				<p:column headerText="CONCEPTO FINAL VEHICULO">
					<p:outputLabel value="#{fila.conceptoFinal}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="presencia humo negro, azul ">
					<p:outputLabel value="#{fila.presenciaHumoNegroAzul}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="Presencia de dilución ">
					<p:outputLabel value="#{fila.presenciaDilucion}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="nivel de emisión aplicable ">
					<p:outputLabel value="#{fila.nivelEmisionAplicable}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="Revoluciones fuera de rango ">
					<p:outputLabel value="#{fila.revolucionesFueraRango}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="Fugas en el tubo de escape ">
					<p:outputLabel value="#{fila.fugasTubo}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="Salidas adicionales al diseño ">
					<p:outputLabel value="#{fila.salidasAdicionales}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="Ausencia tapa aceite o de fugas de aceite ">
					<p:outputLabel value="#{fila.ausenciaFugasTapaAceite}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="Ausencia tapa combustible o fugas ">
					<p:outputLabel value="#{fila.ausenciaFugasTapaCombustible}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="Ausencia o mal estado filtro de Aire ">
					<p:outputLabel value="#{fila.incorrectaInstalacionAusenciaFiltroAire}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="desconexión recirculación ">
					<p:outputLabel value="#{fila.desconexionRecirculacion}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="Accesorios o deformaciones en el tubo de escape que no permitan la instalación sistema de muestreo">
					<p:outputLabel value="#{fila.instalacionDispositivosImpidenIntroducirSonda}"></p:outputLabel>
				</p:column>

				<p:column headerText="operación incorrecta refrigeración ">
					<p:outputLabel value="#{fila.incorrectaOperacionRefrigeracion}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="emisiones">
					<p:outputLabel value="#{fila.incumplimientoNivelesEmision}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="incorrecta operación gobernador  ">
					<p:outputLabel value="#{fila.incorrectaOperacionGobernador}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="falla subita ">
					<p:outputLabel value="#{fila.fallaSubita}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="Ejecucion Incorrecta ">
					<p:outputLabel value="#{fila.ejecucionIncorrecta}"></p:outputLabel>
				</p:column>
				<!-- 79 -->
				<p:column headerText="Diferencias aritmeticas (m-1)">
					<p:outputLabel value="#{fila.diferenciaAritmetica}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="diferencia de temperatura">
					<p:outputLabel value="#{fila.diferenciaTemperatura}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="Instalacion dispositivos que alteran  RPM">
					<p:outputLabel value="#{fila.activacionDispositivos}"></p:outputLabel>
				</p:column>
				
				
				<p:column headerText="Fecha y hora aborto de prueba">
					<p:outputLabel value=""></p:outputLabel>
				</p:column>
			
				<p:column headerText="Falla del equipo de medición ">
					<p:outputLabel value=""></p:outputLabel>
				</p:column>
							
				<p:column headerText="Falla subita fluido electrico ">
					<p:outputLabel value=""></p:outputLabel>
				</p:column>
				
				<p:column headerText="Bloqueo forzado del equipo de medicion ">
					<p:outputLabel value=""></p:outputLabel>
				</p:column>
				
				<p:column headerText="Ejecucion incorrecta prueba ">
					<p:outputLabel value=""></p:outputLabel>
				</p:column>	
				
				<p:column headerText="Falla desviacion cero ">
					<p:outputLabel value=""></p:outputLabel>
				</p:column>	
				
				<p:column headerText="Norma aplicada ">
					<p:outputLabel value="#{fila.norma}"></p:outputLabel>
				</p:column>
				
				<p:column headerText="medición Escape (dB)">
					<p:outputLabel value="#{fila.decibeles}"></p:outputLabel>
				</p:column>			
				
				
				
				
				
				
			</p:dataTable>
			<p:ajaxStatus style="display:block;margin-bottom:2em;height:24px;">
				<f:facet name="default">
					<h:outputText value="Status: StandBy" />
				</f:facet>

				<f:facet name="start">
					<p:graphicImage name="/images/ajax-loading-bar.gif" />
				</f:facet>

				<f:facet name="complete">
					<h:outputText value="Status: Completed" />
				</f:facet>
			</p:ajaxStatus>

		</h:form>
	</ui:define>

</ui:composition>
