<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<p:growl autoUpdate="true">
			</p:growl>
			<div class="ui-fluid">
			<p:panelGrid columns="12" styleClass="ui-responsive"
					columnClasses="ui-grid-col-1,ui-grid-col-2,ui-grid-col-1,ui-grid-col-2,
											ui-grid-col-2,ui-grid-col-2,ui-grid-col-2"
					layout="grid">
				<p:row>
					<p:column>Fecha Inicio</p:column>
					<p:column>
						<p:calendar value="#{informePruebaRuido.fechaInicial}"
							id="fechainicio">
						</p:calendar>
					</p:column>
					<p:column>Fecha Fin</p:column>
					<p:column>
						<p:calendar value="#{informePruebaRuido.fechaFinal}" id="fechafin">

						</p:calendar>
					</p:column>
					<p:column>
						<p:commandButton value="CONSULTAR"
							process="@this fechainicio fechafin" update=":form:infoPruebas"
							actionListener="#{informePruebaRuido.consultarPruebas}"
							ajax="true"></p:commandButton>
					</p:column>
					<p:column>
						<h:commandLink value="Exportar">
							<p:dataExporter type="xls" target="infoPruebas"
								fileName="pruebaruido" />
						</h:commandLink>
					</p:column>
					<p:column>
						<h:commandLink value="Exportar csv">
							<p:dataExporter type="csv" target="infoPruebas"
								fileName="pruebaruido" />
						</h:commandLink>
					</p:column>

				</p:row>
			</p:panelGrid>
			</div>

			<p:dataTable id="infoPruebas"
				value="#{informePruebaRuido.listaRegistros}" scrollable="true"
				scrollWidth="90%" var="registro" rowIndexVar="numeroFila">
				<p:column>
					<p:outputLabel value="#{numeroFila+1}">
					</p:outputLabel>
				</p:column>

				<p:column headerText="Nombre CDA">
					<p:outputLabel value="#{registro.nombreCDA}">
					</p:outputLabel>
				</p:column>

				<p:column headerText="Numero de CDA">
					<p:outputLabel value="#{registro.numeroCDA}">
					</p:outputLabel>
				</p:column>

				<p:column headerText="NIT CDA">
					<p:outputLabel value="#{registro.nitCDA}">

					</p:outputLabel>
				</p:column>

				<p:column headerText="Marca del Equipo">
					<p:outputLabel value="#{registro.marcaEquipo}">

					</p:outputLabel>
				</p:column>

				<p:column headerText="Modelo del Equipo">
					<p:outputLabel value="#{registro.modeloEquipo}">

					</p:outputLabel>
				</p:column>

				<p:column headerText="Serie del Equipo">
					<p:outputLabel value="#{registro.serieEquipo}">

					</p:outputLabel>
				</p:column>

				<p:column headerText="Fecha de Medicion">
					<p:outputLabel value="#{registro.fechaMedicion}" >
						<f:convertDateTime pattern="yyyy-MM-dd HH:mm:ss"/>
					</p:outputLabel>
				</p:column>

				<p:column headerText="Placa del Vehiculo">
					<p:outputLabel value="#{registro.placaVehiculo}">

					</p:outputLabel>
				</p:column>

				<p:column headerText="Tipo del Vehiculo">
					<p:outputLabel value="#{registro.tipoVehiculo}">

					</p:outputLabel>
				</p:column>

				<p:column headerText="Modelo del Vehiculo">
					<p:outputLabel value="#{registro.modeloVehiculo}">

					</p:outputLabel>
				</p:column>

				
				<p:column headerText="Combustible del vehiculo">
					<p:outputLabel value="#{registro.combustibleVehiculo}">

					</p:outputLabel>
				</p:column>
				
				<p:column headerText="Cilindrada del vehiculo">
					<p:outputLabel value="#{registro.cilindradaVehiculo}">

					</p:outputLabel>
				</p:column>
				
				<p:column headerText="Medicion Escape">
					<p:outputLabel value="#{registro.medicionEscape}">

					</p:outputLabel>
				</p:column>

			</p:dataTable>
			
			<p:ajaxStatus style="display:block;margin-bottom:2em;height:24px;">
				<f:facet name="default">
					<h:outputText value="Status: StandBy" />
				</f:facet>

				<f:facet name="start">
					<p:graphicImage name="/images/ajax-loading-bar.gif" />
				</f:facet>

				<f:facet name="complete">
					<h:outputText value="Status: Completed" />
				</f:facet>
			</p:ajaxStatus>

		</h:form>
	</ui:define>

</ui:composition>
