<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<p:growl autoUpdate="true">
			</p:growl>
			<div class="ui-fluid">
			<p:panelGrid columns="12" styleClass="ui-responsive"
					columnClasses="ui-grid-col-1,ui-grid-col-2,ui-grid-col-1,ui-grid-col-2,
											ui-grid-col-2,ui-grid-col-2,ui-grid-col-2"
					layout="grid">
				<p:row>
					<p:column>Fecha Inicio</p:column>
					<p:column>
						<p:calendar value="#{informePruebaAbortadaBean.fechaInicial}"
							id="fechainicio" required="true" requiredMessage="Fecha Inicio requerida">
						</p:calendar>
					</p:column>
					<p:column>Fecha Fin</p:column>
					<p:column>
						<p:calendar value="#{informePruebaAbortadaBean.fechaFinal}" id="fechafin" required="true" requiredMessage="Fecha Fin requerida">

						</p:calendar>
					</p:column>
					<p:column>
						<p:commandButton value="CONSULTAR"
							process="@this fechainicio fechafin" update=":form:infoPruebas"
							actionListener="#{informePruebaAbortadaBean.consultarPruebas}"
							ajax="true"></p:commandButton>
					</p:column>
					<p:column>
						<h:commandLink value="Exportar">
							<p:dataExporter type="xls" target="infoPruebas"
								fileName="pruebasabortadas" />
						</h:commandLink>
					</p:column>

				</p:row>
			</p:panelGrid>
			</div>

			<p:dataTable id="infoPruebas"
				value="#{informePruebaAbortadaBean.pruebasConsultadas}" scrollable="true"
				scrollWidth="90%" var="prueba" rowIndexVar="numeroFila">
				<p:column>
					<p:outputLabel value="#{prueba.pruebaId}">
					</p:outputLabel>
				</p:column>

				<p:column headerText="Tipo Prueba">
					<p:outputLabel value="#{prueba.tipoPrueba.nombre}">
					</p:outputLabel>
				</p:column>

				<p:column headerText="Fecha ">
					<p:outputLabel value="#{prueba.fechaInicio}">
					</p:outputLabel>
				</p:column>

				<p:column headerText="Fecha Aborto">
					<p:outputLabel value="#{prueba.fechaFinalizacion}">

					</p:outputLabel>
				</p:column>

				<p:column headerText="Causa Aborto">
					<p:outputLabel value="#{prueba.causaAborto.motivo}">

					</p:outputLabel>
				</p:column>

				<p:column headerText="Motivo">
					<p:outputLabel value="#{prueba.motivoAborto}">
					</p:outputLabel>
				</p:column>	
				
				<p:column headerText="Usuario">
					<p:outputLabel value="#{prueba.usuario.nombres}  #{prueba.usuario.apellidos}">
					</p:outputLabel>
				</p:column>				

			</p:dataTable>
			
			<p:ajaxStatus style="display:block;margin-bottom:2em;height:24px;">
				<f:facet name="default">
					<h:outputText value="Status: StandBy" />
				</f:facet>

				<f:facet name="start">
					<p:graphicImage name="/images/ajax-loading-bar.gif" />
				</f:facet>

				<f:facet name="complete">
					<h:outputText value="Status: Completed" />
				</f:facet>
			</p:ajaxStatus>

		</h:form>
	</ui:define>

</ui:composition>
