<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="head">
	
	</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<p:growl autoUpdate="true" id="messages"></p:growl>
			<p:outputLabel value="REGISTRAR PRIMER ENVIO YA REALIZADO "></p:outputLabel>
			<p:panelGrid columns="2" >
				<p:outputLabel  value="Placa"></p:outputLabel>
				<p:inputText id="input_placa" value="#{registrarPrimerEnvioBean.placa}"></p:inputText>
				<h:outputLabel/>
				<p:commandButton value="Buscar" actionListener="#{registrarPrimerEnvioBean.buscarRevisiones}" process="@this input_placa" update="tbl_rev msg_test"></p:commandButton>
			</p:panelGrid>
			<h:outputText id="msg_test" value="#{registrarPrimerEnvioBean.test}" />
			<p:dataTable id="tbl_rev" value="#{registrarPrimerEnvioBean.revisiones}" var="revision" selectionMode="single" selection="#{registrarPrimerEnvioBean.revisionSeleccionada}" rowKey="#{revision.revisionId}">
			
				<p:column headerText = "Num">
					<p:outputLabel value="#{revision.revisionId}"> </p:outputLabel>
				</p:column>
				<p:column headerText="Fecha">
					<p:outputLabel value = "#{revision.fechaCreacionRevision}" >						
					</p:outputLabel>
				</p:column>
				<p:column headerText = "Estado Primer Envio Realizado">
	        		<p:selectBooleanCheckbox  value = "#{revision.primerEnvioRealizado}" ></p:selectBooleanCheckbox>
	        	</p:column>
				<p:column headerText="Numero Intento">
					<p:outputLabel value="#{revision.numeroInspecciones}">
					</p:outputLabel>
				</p:column>
				<p:column headerText="Consec RUNT" >
	        		<p:outputLabel value="#{revision.consecutivoRunt}"></p:outputLabel>
	        	</p:column>
	        		        					
			</p:dataTable>
			
			
			
			
			<p:commandButton id="Guardar" value="Confirmar" action="#{registrarPrimerEnvioBean.registrarPrimerEnvio(ae)}" update="@form" ></p:commandButton>
			<p:commandButton value="Cancelar" action="/inicio.xhtml?faces-redirect=true" ajax="false" onclick="$('#form').attr({'target':'_self'})" immediate="true"></p:commandButton>
			
		</h:form>
	</ui:define>
		
</ui:composition>
