<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
	<h1>REVISIONES REPROBADAS Y VENCIDAS POR 15 dias</h1>
		<h:form id="form_resumen">
			<p:growl id="growl" autoUpdate="true"></p:growl>

			<p:panel id="panelFechas">
				<p:panelGrid>
					<p:row>
						
						<p:column>
							<p:commandButton value="Consultar"
								process="@this"
								update=":form_resumen:tabla_revisiones"
								actionListener="#{resumenBean.consultarRevisiones(ae)}"
								ajax="true"></p:commandButton>
						</p:column>
						<p:column>
							<h:commandLink value="Exportar">
								<p:dataExporter type="xls" target="tabla_revisiones"
									fileName="revisiones" />
							</h:commandLink>
						</p:column>
					</p:row>

				</p:panelGrid>

				<p:dataTable id="tabla_revisiones"
					value="#{resumenBean.revisionesConsultadas}" var="revision"
					emptyMessage="No se encontraron registros">
					<p:column headerText="# " style="width:25px">
						<h:outputText value="#{revision.revisionId}" />
					</p:column>
					<p:column headerText="Fecha" style="width:75px">
						<h:outputText value="#{revision.fechaCreacionRevision}">
							<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
						</h:outputText>
					</p:column>
					<p:column headerText="placa" style="width:75px">
						<h:outputText value="#{revision.vehiculo.placa}" />
					</p:column>
					<p:column headerText="Estado">
						<p:outputLabel
							value="#{resumenBean.estadoRevision(revision.revisionId)}"></p:outputLabel>
					</p:column>
					<p:column headerText="numero inspecciones" style="width:25px">
						<h:outputText value="#{revision.numeroInspecciones}" />
					</p:column>					
					<p:column>
						<p:commandButton
							actionListener="#{resumenBean.verPruebas(revision.revisionId)}"
							value="Prue"></p:commandButton>
					</p:column>

				</p:dataTable>

			</p:panel>


		</h:form>
	</ui:define>

</ui:composition>
</html>
