<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	<f:metadata>
		<f:viewParam name="revisionId" value="#{revisionBean.revisionId}" />
		<f:event type="preRenderView" rendered="#{facesContext.postBack}"
			listener="#{revisionBean.init}" />
	</f:metadata>
	
	<ui:define name="content">

		<h:form prependId="false" id="formrevision">
		    <p:growl id="growl" autoUpdate="true"></p:growl>
				
			<div class="ui-fluid">
				<p:panelGrid columns="4" styleClass="ui-responsive"					
					layout="grid">
					<p:row>
					<p:outputLabel value="PIN">
					</p:outputLabel>
					<p:inputText value="#{revisionBean.revision.pin}" id="campo_pin" ></p:inputText>


					<p:commandButton value="Reg Revision"
						id="button_revision"
						actionListener="#{revisionBean.registrarRevision}" 
						update="@this :formrevision:growl"
						process="@all"
						disabled="#{revisionBean.desHabilitarBoton}"></p:commandButton>


					<p:commandButton value="Cancel" action="#{revisionBean.finalizar}"
						ajax="false" immediate="true"></p:commandButton>
					</p:row>
				</p:panelGrid>
			</div>

			<div class="ui-fluid">
				<p:panel title="VEHICULO">

					<p:panelGrid columns="4" id="infovehiculo" style="width:100%"
						layout="grid" styleClass="autoregulacion-ingreso-datos">

						<p:outputLabel value="REVISIÓN PREVENTIVA "  
												style="color:#800080;border-bottom-style: solid;border-color:#800080;"></p:outputLabel>
						<p:selectBooleanCheckbox
								style="border-bottom-style: solid;border-color:#800080;"
								value="#{revisionBean.revision.preventiva}"
								id="checkbox_preventiva">
						</p:selectBooleanCheckbox>


						<h:panelGrid columns="2">
							<h:outputText value="PLACA"></h:outputText>
							<p:inputText id="placa" style="width:100px;margin-left:12px"
								value="#{revisionBean.vehiculo.placa}" required="true"
								label="Placa" validatorMessage="Placa Requerida" 
								converter="#{toUpperCaseConverter}">
								<p:ajax event="blur" listener="#{revisionBean.blurPlaca}"
									update="infovehiculo,campo_pin"
									process="@this,:formrevision:checkbox_preventiva"></p:ajax>
							</p:inputText>
						</h:panelGrid>

						<h:panelGrid columns="2">
							<h:outputText value="MODELO"></h:outputText>
							<p:inputText id="modelo" style="width:75px;margin-left:10px"
								value="#{revisionBean.vehiculo.modelo}" required="true"
								label="Modelo" validatorMessage="Modelo invalido"
								requiredMessage="Modelo requerido">
								<f:validateLongRange minimum="1850" maximum="2030"></f:validateLongRange>
							</p:inputText>
						</h:panelGrid>

						<h:outputText value="FECHA MATRICULA"></h:outputText>
						<p:calendar value="#{revisionBean.fechaMatriculaAuxiliar}"
							pattern="dd/MM/yyyy" locale="es" navigator="true" required="true"
							showOn="button">
							<f:validator binding="#{fechaMatriculaValidator}" />
						</p:calendar>
						
						<h:outputText value="TIPO COMBUSTIBLE" />
						<p:selectOneMenu value="#{revisionBean.vehiculo.tipoCombustible}"
							style="width:150px" converter="#{tipoCombustibleConverter}">
							<f:selectItems value="#{listaTiposCombustible}" var="item"
								itemLabel="#{item.nombre}" itemValue="#{item}">
							</f:selectItems>
						</p:selectOneMenu>
						
						<h:outputText value="TIPO VEHICULO" />
						<p:selectOneMenu value="#{revisionBean.vehiculo.tipoVehiculo}"
							converter="#{tipoVehiculoConverter}"
							valueChangeListener="#{revisionBean.cambioTipoVehiculo}">
							<f:selectItems value="#{listaTipoVehiculos}" var="item"
								itemLabel="#{item.nombre}" itemValue="#{item}">
							</f:selectItems>
							<p:ajax event="itemSelect" update="comboClases" />
						</p:selectOneMenu>
						
						<h:outputText value="CLASE"></h:outputText>
						<p:selectOneMenu value="#{revisionBean.vehiculo.claseVehiculo}"
							id="comboClases" style="width:175px"
							converter="#{claseVehiculoConverter}">
							<f:selectItems value="#{listaClases}" var="item"
								itemLabel="#{item.nombre}" itemValue="#{item}">
							</f:selectItems>
						</p:selectOneMenu>

						<h:outputText value="VIN "></h:outputText>
						<p:inputText id="vin" value="#{revisionBean.vehiculo.vin}"
							style="width:100%" required="true" label="VIN"
							requiredMessage="VIN REQUERIDO">
							<f:validator binding="#{validadorEntradaVerticalPipe}" />
							
						</p:inputText>

						<h:outputText value="NUMERO DE MOTOR"></h:outputText>
						<p:inputText id="numeromotor"
							value="#{revisionBean.vehiculo.numeroMotor}" required="true"
							style="width:100%" label="NUMERO DE MOTOR"
							requiredMessage="Numero de motor requerido">
							<f:validator binding="#{validadorEntradaVerticalPipe}" />
						</p:inputText>

						<h:outputText value="NUMERO DE SERIE"></h:outputText>
						<p:inputText id="numeroserie"
							value="#{revisionBean.vehiculo.numeroSerie}" required="true"
							style="width:100%" label="Numero de Serie">
							<f:validator binding="#{validadorEntradaVerticalPipe}" />
						</p:inputText>

						<h:outputText value="NUMERO DE LICENCIA"></h:outputText>
						<p:inputText id="numerolicencia"
							value="#{revisionBean.vehiculo.numeroLicencia}" required="true"
							style="width:100%" label="Numero de Licencia">
							<f:validator binding="#{validadorEntradaVerticalPipe}" />
						</p:inputText>

						<h:outputText value="MARCA" />
						<p:autoComplete id="comboMarcas"
							value="#{revisionBean.vehiculo.marca}"
							completeMethod="#{revisionBean.getListaMarcasByNombre}"
							minQueryLength="2" var="mark" itemLabel="#{mark.nombre}"
							itemValue="#{mark}" converter="#{marcaConverter}"
							valueChangeListener="#{revisionBean.cambioMarca}" required="true"
							label="#{mensajes.marca}">

							<p:ajax event="itemSelect" update="comboLineas">

							</p:ajax>
						</p:autoComplete>




						<h:outputText value="LINEA" />
						<p:selectOneMenu id="comboLineas" style="width:175px"
							value="#{revisionBean.vehiculo.lineaVehiculo}"
							converter="#{lineaVehiculoConverter}" filter="true"
							filterMatchMode="startsWith" required="true"
							requiredMessage="Ingrese linea del vehiculo">
							<f:selectItem itemValue="#{null}" itemLabel="---Seleccione LINEA ---" noSelectionOption="true" />
							<f:selectItems value="#{revisionBean.lineasVehiculo}" var="item"
								itemLabel="#{item.nombre}" itemValue="#{item}"
								noSelectionValue="-------------">
							</f:selectItems>
						</p:selectOneMenu>

						<h:outputText value="COLOR"></h:outputText>
						<p:autoComplete value="#{revisionBean.vehiculo.color}"
							completeMethod="#{revisionBean.findColoresByNombre}"
							minQueryLength="4" maxResults="10" var="color"
							itemLabel="#{color.nombre}" itemValue="#{color}"
							converter="#{colorConverter}" required="true"
							requiredMessage="Color del vehiculo requerido">
						</p:autoComplete>
						
						

						<p:outputLabel></p:outputLabel>
						<p:commandButton value="Nueva Linea"
							action="#{revisionBean.mostrarDialogoCrearMarca()}"
							immediate="true">

							<p:ajax event="dialogReturn" update="comboLineas comboMarcas"
								listener="#{revisionBean.onDialogReturn}" />
						</p:commandButton>
						
						<h:panelGrid columns="2">
							<p:outputLabel value="*CILINDRAJE"></p:outputLabel>
							<p:inputText value="#{revisionBean.vehiculo.cilindraje}"
								required="true" style="width:100px;margin-left:5px"
								requiredMessage="Ingrese cilindraje del vehiculo">
								<f:validateLongRange minimum="0" maximum="99999"></f:validateLongRange>
							</p:inputText>
						</h:panelGrid>

						<h:panelGrid columns="2">
							<p:outputLabel value="*KILOMETRAJE"></p:outputLabel>
							<p:inputText value="#{revisionBean.vehiculo.kilometraje}"
								required="true" style="width:100px;margin-left:5px"
								requiredMessage="Ingrese kilometraje">
							<f:validator binding="#{validadorKilometraje}" />	
							</p:inputText>
						</h:panelGrid>
						
						<h:panelGrid columns="2">
							<p:outputLabel value="*POTENCIA"></p:outputLabel>
							<p:inputText value="#{revisionBean.vehiculo.potencia}"
								required="true" style="width:100px;margin-left:5px"
								requiredMessage="Ingrese potencia">
								<f:convertNumber></f:convertNumber>
							</p:inputText>
						</h:panelGrid>

						<h:panelGrid columns="2">
						<h:outputText value="*DISEÑO"></h:outputText>
						<p:selectOneRadio id="diseno" style="font-size:10px"
							value="#{revisionBean.vehiculo.diseno}">
							<f:selectItem itemLabel="Convencional" itemValue="CONVENCIONAL" />
							<f:selectItem itemLabel="Scooter" itemValue="SCOOTER" />
						</p:selectOneRadio>
						</h:panelGrid>

						<h:panelGrid columns="2">
						<h:outputText value="*CATALIZADOR"></h:outputText>
							<p:selectOneRadio id="catalizador" style="font-size:10px"
								value="#{revisionBean.vehiculo.catalizador}"
								required="true" requiredMessage="Especifique Catalizador">
								<f:selectItem itemLabel="No Aplca" itemValue="N/A" />
								<f:selectItem itemLabel="SI" itemValue="SI" />
								<f:selectItem itemLabel="NO" itemValue="NO" />					
							</p:selectOneRadio>
						</h:panelGrid>
						
						<h:panelGrid columns="2">
							<h:outputText value="SERVICIO" />
							<p:selectOneMenu value="#{revisionBean.vehiculo.servicio}"
								style="width:100px" converter="#{servicioConverter}"
								id="comboServicios" converterMessage="Fallo en conversion"
								validatorMessage="Servicio Invalido">
								<f:selectItems value="#{listaServicios}" var="item"
									itemLabel="#{item.nombre}" itemValue="#{item}">
								</f:selectItems>
	
								<p:ajax listener="#{revisionBean.comboServicioListener}"
									update="label_prueba_taximetro checkbox_prueba_taximetro"></p:ajax>
							</p:selectOneMenu>
						</h:panelGrid>

						<h:outputText value="#{revisionBean.mensajeCheckBoxTaximetro}"
							id="label_prueba_taximetro"></h:outputText>
						<p:selectBooleanCheckbox id="checkbox_prueba_taximetro"
							value="#{revisionBean.revision.taximetro}"
							disabled="#{!revisionBean.mostrarCheckBoxPruebaTaximetro}">
						</p:selectBooleanCheckbox>

						<p:outputLabel value="NUMERO SOAT" ></p:outputLabel>
						<p:inputText value="#{revisionBean.vehiculo.numeroSoat}"
							style="width:100%" required="true" label="NUMERO SOAT"
							id="numerosoat">
							<f:validator binding="#{validadorEntradaVerticalPipe}" />
						</p:inputText>

						<p:outputLabel value="FECHA EXPEDICION SOAT"
							></p:outputLabel>
						<p:calendar value="#{revisionBean.fechaSoatAuxiliar}"
							pattern="dd/MM/yyyy" locale="es" navigator="true" required="true"
							showOn="button" requiredMessage="Ingrese fecha de soat">
							<f:validator binding="#{fechaSoatValidator}" />
						</p:calendar>


						<p:outputLabel value="ASEGURADORA" ></p:outputLabel>
						<p:selectOneMenu value="#{revisionBean.vehiculo.aseguradora}"
							style="width:300px" converter="#{aseguradoraConverter}">
							<f:selectItems value="#{listaAseguradoras}" var="item"
								itemLabel="#{item.nombre}" itemValue="#{item}">
							</f:selectItems>
						</p:selectOneMenu>
						
						<p:outputLabel value="TIPO CARROCERIA" ></p:outputLabel>
						<p:selectOneMenu value="#{revisionBean.vehiculo.tipoCarroceria}"
							style="width:300px" converter="#{tipoCarroceriaConverter}"
							required="true"
							requiredMessage="Ingrese carroceria del vehiculo">
							<f:selectItem itemValue="#{null}" itemLabel="--SELECCIONE CARROCERIA ---" noSelectionOption="true" />
							<f:selectItems value="#{listaTiposCarroceria}" var="item"
								itemLabel="#{item.nombre}" itemValue="#{item}">
							</f:selectItems>
						</p:selectOneMenu>

						<h:panelGrid columns="2">
						<h:outputText value="CONVERSION GNV"></h:outputText>
						<p:selectOneRadio id="conversion_gnv" style="font-size:10px"
							value="#{revisionBean.vehiculo.conversionGnv}">
							<f:selectItem itemLabel="No Aplca" itemValue="N/A" />
							<f:selectItem itemLabel="SI" itemValue="SI" />
							<f:selectItem itemLabel="NO" itemValue="NO" />							
							<p:ajax listener="#{revisionBean.comboConversionGNVListener}"
								update="calendar_fecha_gnv"></p:ajax>
						</p:selectOneRadio>
						</h:panelGrid>
						
						
						<p:outputLabel value="FECHA VENCIMIENTO GNV"></p:outputLabel>
						<p:calendar value="#{revisionBean.fechaVencimientoGnvAuxiliar}"
							pattern="dd/MM/yyyy" locale="es" navigator="true"  
							showOn="button" required = "#{revisionBean.mostrarFechaConversionGnv}"
							requiredMessage="Ingrese fecha de vencimiento gnv" 
							disabled="#{!revisionBean.mostrarFechaConversionGnv}"
							id="calendar_fecha_gnv">						
						</p:calendar>
						

						<h:panelGrid columns="3" style="margin-bottom:5px;font-size:10px"
							cellpadding="2">
							<p:outputLabel for="console" value="Tiempos Motor:" />

							<p:selectOneRadio id="console"
								value="#{revisionBean.vehiculo.tiemposMotor}"
								required="true" requiredMessage="Tiempos de motor no establecidos">
								<f:selectItem itemLabel="2T" itemValue="2" />
								<f:selectItem itemLabel="4T" itemValue="4" />
								<f:convertNumber />
							</p:selectOneRadio>
						</h:panelGrid>

						<h:panelGrid columns="2">
							<p:outputLabel value="NUM EXOSTOS"></p:outputLabel>
							<p:inputText style="width:50px"
								value="#{revisionBean.vehiculo.numeroExostos}" required="true"
								requiredMessage="Ingrese numero de escapes">
								<f:convertNumber></f:convertNumber>
							</p:inputText>
						</h:panelGrid>

						<h:panelGrid columns="2">
							<p:outputLabel value="NUMERO PASAJEROS" ></p:outputLabel>
							<p:inputText value="#{revisionBean.vehiculo.numeroPasajeros}"
								required="true" 
								requiredMessage="Ingrese numero de pasajeros">
								<f:convertNumber></f:convertNumber>
								<f:validateLongRange minimum="1" maximum="500"></f:validateLongRange>
							</p:inputText>
						</h:panelGrid>

						<h:panelGrid columns="2">
							<p:outputLabel value="NUMERO SILLAS" ></p:outputLabel>
							<p:inputText value="#{revisionBean.vehiculo.numeroSillas}"
								required="true" style="width:50px"
								requiredMessage="Ingrese numero de sillas">
								<f:convertNumber></f:convertNumber>
							</p:inputText>
						</h:panelGrid>

						

						<h:panelGrid columns="2">
							<h:outputText value="Vehiculo Blindado" />
							<p:selectBooleanCheckbox
								value="#{revisionBean.vehiculo.blindaje}" />
						</h:panelGrid>

						
						<h:outputText value="NACIONALIDAD" />
						<p:selectOneMenu value="#{revisionBean.vehiculo.nacionalidad}">
							<f:selectItem itemLabel="NACIONAL" itemValue="N" />
							<f:selectItem itemLabel="EXTRANJERO" itemValue="E" />
						</p:selectOneMenu>

						<h:outputText value="PAIS" />
						<p:selectOneMenu value="#{revisionBean.vehiculo.pais}"
							style="width:150px" converter="#{paisConverter}">
							<f:selectItems value="#{listaPaises}" var="item"
								itemLabel="#{item.nombre}" itemValue="#{item}">
							</f:selectItems>
						</p:selectOneMenu>

					</p:panelGrid>
				</p:panel>


				<p:panel header="Info Propietario" id="infopropietario">
					<p:panelGrid layout="grid" columns="6"
						styleClass="autoregulacion-ingreso-datos">


						<p:outputLabel value="Numero de Identificacion"></p:outputLabel>
						<p:inputText label="Identificacion Propietario"
							value="#{revisionBean.propietario.propietarioId}" required="true">

							<p:ajax event="blur"
								update="infopropietario"
								listener="#{revisionBean.blurIdentificacion}"></p:ajax>
						</p:inputText>


						<p:outputLabel value="Tipo Identificacion"></p:outputLabel>
						<p:selectOneMenu
							value="#{revisionBean.propietario.tipoDocumentoIdentidad}"
							converter="#{tipoDocumentoIdentidadConverter}" required="true" 
							requiredMessage="Tipo de identificacion requerida">
							<f:selectItem itemValue="#{null}" itemLabel="---Seleccione el valor ---" noSelectionOption="true" />
							<f:selectItems value="#{listaTiposDocumentoIdentidad}" var="item"
								itemLabel="#{item.nombreTipoDocumento}" itemValue="#{item}"></f:selectItems>
						</p:selectOneMenu>



						<p:outputLabel value="Nombres"></p:outputLabel>
						<p:inputText value="#{revisionBean.propietario.nombres}" id ="nombrespropietario"
							required="true">
							<f:validator binding="#{validadorEntradaVerticalPipe}" />
							</p:inputText>


						<p:outputLabel value="Apellidos"></p:outputLabel>
						<p:inputText value="#{revisionBean.propietario.apellidos}" id="apellidospropietario"
							required="true" requiredMessage="Ingrese apellidos">
							<f:validator binding="#{validadorEntradaVerticalPipe}" />
							</p:inputText>

						<p:outputLabel value="Direccion"></p:outputLabel>
						<p:inputText value="#{revisionBean.propietario.direccion}" id="direccionpropietario"
							required="true" style="width:95%"
							requiredMessage="Ingrese direccion de propietario">
							<f:validator binding="#{validadorEntradaVerticalPipe}" />
							</p:inputText>



						<p:outputLabel value="Telefono 1" name="Telefono 1"
							for="telefono1"></p:outputLabel>
						<p:inputText value="#{revisionBean.propietario.telefono1}"
							id="telefono1" required="true"
							requiredMessage="Telefono 1 requerido">
							<f:validator binding="#{validadorEntradaVerticalPipe}" /></p:inputText>

						<p:outputLabel value="Telefono 2" name="Telefono 2"
							for="telefono2"></p:outputLabel>
						<p:inputText id="telefono2"
							value="#{revisionBean.propietario.telefono2}">
							</p:inputText>

						<p:outputLabel value="e-mail" name="e-mail"
							for="e-mail"></p:outputLabel>
						<p:inputText id="e-mail"
							value="#{revisionBean.propietario.correoElectronico}"
							required="true" requiredMessage="Ingrese email propietario" validatorMessage="e-mail no valido">
						 	<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />	
						</p:inputText>

						<p:outputLabel value="Ciudad"></p:outputLabel>
						<p:autoComplete value="#{revisionBean.propietario.ciudad}"
							completeMethod="#{revisionBean.findCiudadByNombre}"
							minQueryLength="4" maxResults="10" var="ciudad"
							itemLabel="#{ciudad.nombre}" itemValue="#{ciudad}"
							converter="#{ciudadConverter}" required="true"
							forceSelection="true"
							requiredMessage="Ciudad Requerida Propietario">
						</p:autoComplete>


					</p:panelGrid>
				</p:panel>

				<p:panel>
					<h:outputText value="Propietario no es quien conduce el vehiculo " />
					<p:selectBooleanCheckbox widgetVar="checkConductor"
						value="#{revisionBean.propietarioDiferenteConductor}">

						<p:ajax update="panelConductor"></p:ajax>
					</p:selectBooleanCheckbox>
				</p:panel>

				<p:panel id="panelConductor" header="Info Conductor"
					visible="#{revisionBean.propietarioDiferenteConductor}">
					<p:panelGrid columns="6" layout="grid">


						<p:outputLabel value="Numero de Identificacion"></p:outputLabel>

						<p:inputText value="#{revisionBean.conductor.propietarioId}"
							required="#{revisionBean.propietarioDiferenteConductor}">

							<p:ajax event="blur" update="panelConductor"
								listener="#{revisionBean.blurIdentificacionConductor}"></p:ajax>

						</p:inputText>


						<p:outputLabel value="Tipo Identificacion"></p:outputLabel>
						<p:selectOneMenu
							value="#{revisionBean.conductor.tipoDocumentoIdentidad}"
							converter="#{tipoDocumentoIdentidadConverter}" required="true"
							requiredMessage="Tipo de identificacion requerida conductor">
							<f:selectItems value="#{listaTiposDocumentoIdentidad}" var="item"
								itemLabel="#{item.nombreTipoDocumento}" itemValue="#{item}"></f:selectItems>
						</p:selectOneMenu>


						<p:outputLabel value="Nombres"></p:outputLabel>
						<p:inputText value="#{revisionBean.conductor.nombres}"
							required="#{revisionBean.propietarioDiferenteConductor}">
							</p:inputText>


						<p:outputLabel value="Apellidos"></p:outputLabel>
						<p:inputText value="#{revisionBean.conductor.apellidos}"
							required="#{revisionBean.propietarioDiferenteConductor}">
							</p:inputText>




						<p:outputLabel value="Direccion"></p:outputLabel>
						<p:inputText value="#{revisionBean.conductor.direccion}"
							required="#{revisionBean.propietarioDiferenteConductor}"
							style="width:95%">
							</p:inputText>



						<p:outputLabel value="Telefono 1"></p:outputLabel>
						<p:inputText value="#{revisionBean.conductor.telefono1}"
							required="#{revisionBean.propietarioDiferenteConductor}">
							
							</p:inputText>

						<p:outputLabel value="Telefono 2"></p:outputLabel>
						<p:inputText value="#{revisionBean.conductor.telefono2}">
						
						</p:inputText>
						
						<p:outputLabel value="e-mail"></p:outputLabel>
						<p:inputText id="e-mail-conductor"
							value="#{revisionBean.conductor.correoElectronico}"
							required="#{revisionBean.propietarioDiferenteConductor}" 
							requiredMessage="Ingrese email" 
							validatorMessage="e-mail conductor no valido">
						 	<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]"
						 		disabled="#{not revisionBean.propietarioDiferenteConductor}" />	
						</p:inputText>

						<p:outputLabel value="Ciudad"></p:outputLabel>
						<p:autoComplete value="#{revisionBean.conductor.ciudad}"
							completeMethod="#{revisionBean.findCiudadByNombre}"
							minQueryLength="4" maxResults="10" var="ciudad"
							itemLabel="#{ciudad.nombre}" itemValue="#{ciudad}"
							converter="#{ciudadConverter}" required="#{revisionBean.propietarioDiferenteConductor}"
							requiredMessage="Ciudad Conductor Requerida">
						</p:autoComplete>



					</p:panelGrid>
				</p:panel>





			</div>


		</h:form>


	</ui:define>
</ui:composition>
