<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">
		<div class="ui-fluid">
		<p:ajaxStatus onstart="PF('statusDialog').show()"
			onsuccess="PF('statusDialog').hide()" />

		<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
			closable="false" resizable="false" showHeader="false">
			<p:graphicImage name="/images/ajax-loading-bar.gif" />
		</p:dialog>
			<h:form id="form">
				<p:growl autoUpdate="true" id="messages"></p:growl>
				
				<p:outputLabel
					value="BUSCAR ULTIMA INSPECCION REALIZADA A VEHICULO PARA VER PRIMER INTENTO CONSULTAR HISTORIAL INSPECCIONES">
				</p:outputLabel>
				
				<p:panelGrid columns="3" columnClasses="ui-grid-col-2,ui-grid-col-6,ui-grid-col-2" layout="grid">
					<p:outputLabel value="Placa"></p:outputLabel>
					<p:inputText id="input_placa" value="#{revisionPlacaBean.placa}"></p:inputText>
					<p:commandButton value="Buscar"
						actionListener="#{revisionPlacaBean.buscarRevisiones}"
						process="@this :form:input_placa" update="@form"></p:commandButton>
				</p:panelGrid>

				<p:dataTable id="tabla_revisiones"
					value="#{revisionPlacaBean.revisiones}" var="revision"
					selectionMode="single"
					selection="#{revisionPlacaBean.revisionSeleccionada}"
					rowKey="#{revision.revisionId}"
					reflow="true">

					<p:column headerText="Num">
						<p:outputLabel value="#{revision.revisionId}">
						</p:outputLabel>
					</p:column>
					<p:column headerText="Fecha">
						<p:outputLabel value="#{revision.fechaCreacionRevision}">
						</p:outputLabel>
					</p:column>
					<p:column headerText="Numero Intento">
						<p:outputLabel value="#{revision.numeroInspecciones}">
						</p:outputLabel>
					</p:column>
					<p:column headerText="Numero Certificado">
						<p:outputLabel
							value="#{revisionPlacaBean.numeroCertificado(revision.revisionId)}"></p:outputLabel>
					</p:column>
					<p:column headerText="Consec RUNT">
						<p:outputLabel value="#{revision.consecutivoRunt}"></p:outputLabel>
					</p:column>
					<p:column headerText="FUPA">
						<p:outputLabel value="#{revision.numeroSolicitud}" />
					</p:column>
				</p:dataTable>

<p:panelGrid columns="3" columnClasses="ui-grid-col-4,ui-grid-col-4,ui-grid-col-4" layout="grid">
				<p:commandButton value="Reporte"
					actionListener="#{revisionPlacaBean.imprimirReporte}" ajax="false"
					onclick="$('#form').attr({'target':'_blank'})"></p:commandButton>
				<p:commandButton value="Pruebas"
					actionListener="#{revisionPlacaBean.abrirDialogoPruebas()}"></p:commandButton>
				<p:commandButton value="Certificado"
					action="#{revisionPlacaBean.imprimirCertificado}" ajax="false"></p:commandButton>
				<p:commandButton value="Consecutivo RUNT"
					action="#{revisionPlacaBean.abrirDialogoConsecutivos()}"></p:commandButton>
				<p:commandButton value="Fur Guardados"
					action="#{revisionPlacaBean.furRegistrados}"></p:commandButton>
				<p:commandButton value="Datos Revision"
					action="#{revisionPlacaBean.editarRevision}" ajax="false"
					onclick="$('#form').attr({'target':'_self'})"></p:commandButton>
				<p:commandButton value="Inicio"
					action="/inicio.xhtml?faces-redirect=true" ajax="false"
					onclick="$('#form').attr({'target':'_self'})" immediate="true"></p:commandButton>
</p:panelGrid>
			</h:form>
		</div>
	</ui:define>

</ui:composition>
