<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">
		
		
		<p:ajaxStatus onstart="PF('statusDialog').show()"
			onsuccess="PF('statusDialog').hide()" />

		<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
			closable="false" resizable="false" showHeader="false">
			<p:graphicImage name="/images/ajax-loading-bar.gif" />
		</p:dialog>
		
		
		
		<h:form id="form">
		<p:growl widgetVar="growl" showDetail="true" />

			<p:outputLabel value="Realizar Segundo envio"></p:outputLabel>
			<p:growl autoUpdate="true"></p:growl>
			<p:panelGrid columns="2" id="panelplaca">
				
				<p:outputLabel value="Revision Id"></p:outputLabel>
				<p:inputText value="#{segundoEnvioIndraBean.revisionId}">
				</p:inputText>
				
				
				<p:outputLabel></p:outputLabel>
				<p:commandButton value="Enviar Informacion" process="panelplaca"
					update=":form:resultado,:form:registro"
					actionListener="#{segundoEnvioIndraBean.realizarSegundoEnvioFormulario(ae)}">
				</p:commandButton>		

			</p:panelGrid>
			
					
			<p:panel id="resultado">
				
				<p:panelGrid columns="2">
				
					<p:outputLabel value="PLACA"></p:outputLabel>
					<p:outputLabel value="#{segundoEnvioIndraBean.placa}"></p:outputLabel>
				
					<p:outputLabel value="PIN"></p:outputLabel>
					<p:outputLabel value="#{segundoEnvioIndraBean.pin}"></p:outputLabel>
				
					<p:outputLabel value="fecha transaccion"></p:outputLabel>
					<p:outputLabel value="#{segundoEnvioIndraBean.resultado.fechaTransaccion}"></p:outputLabel>

					<p:outputLabel value="hora transaccion"></p:outputLabel>
					<p:outputLabel value="#{segundoEnvioIndraBean.resultado.horaTransaccion}"></p:outputLabel>

					<p:outputLabel value="codigo respuesta"></p:outputLabel>
					<p:outputLabel value="#{segundoEnvioIndraBean.resultado.codigoRespuesta}"></p:outputLabel>

					<p:outputLabel value="Mensaje de respuesta"></p:outputLabel>
					<p:outputLabel value="#{segundoEnvioIndraBean.resultado.mensajeRespuesta}"></p:outputLabel>

					<p:outputLabel value="Confirmacion"></p:outputLabel>
					<p:outputLabel value="#{segundoEnvioIndraBean.resultado.confirmacion}"></p:outputLabel>
					
					<p:outputLabel value="Info" ></p:outputLabel>
					<p:outputLabel value="#{segundoEnvioIndraBean.mensaje}"></p:outputLabel>

				</p:panelGrid>
			</p:panel>
			
			
			<p:panel id = "registro">
				<p:panelGrid columns = "2">
					<p:outputLabel value="REGISTRAR RESULTADO SEGUNDO ENVIO"></p:outputLabel>
					<p:outputLabel></p:outputLabel>
					
					<p:outputLabel>Segundo envio correcto</p:outputLabel>
					<p:selectBooleanCheckbox  value = "#{segundoEnvioIndraBean.segundoEnvioExitoso}" ></p:selectBooleanCheckbox>
				
				
					<p:outputLabel></p:outputLabel>
					<p:commandButton value="Registrar Envio" process="@form"
					update="@form"
					actionListener="#{segundoEnvioIndraBean.registrarSegundoEnvio(ae)}">
				</p:commandButton>		
				</p:panelGrid>
			
			</p:panel>
			

		</h:form>
		
	</ui:define>

</ui:composition>
