<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml"
	xmlns:o="http://omnifaces.org/ui">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">


		<p:ajaxStatus onstart="PF('statusDialog').show()"
			onsuccess="PF('statusDialog').hide()" />

		<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
			closable="false" resizable="false" showHeader="false">
			<p:graphicImage name="/images/ajax-loading-bar.gif" />
		</p:dialog>
		<p:growl widgetVar="growl" showDetail="true" />


		<h:form id="form">

			<p:outputLabel value="Consultar pin por placa"></p:outputLabel>
			<p:growl id="growl"></p:growl>
			<p:panelGrid columns="2" id="panelplaca">
				<p:outputLabel value="Placa"></p:outputLabel>
				<p:inputText value="#{testCi2EcoBean.placa}">

				</p:inputText>

				<p:outputLabel></p:outputLabel>
				<p:commandButton value="Consultar Pin" process="panelplaca"
					update=":form:resultado :form:growl"
					actionListener="#{testCi2EcoBean.buttonClicked(ae)}">
				</p:commandButton>


			</p:panelGrid>

			<p:outputLabel value="Utilizar pin para revisión"></p:outputLabel>
			<p:panelGrid columns="2" id="panel_pin">

				<p:outputLabel value="PIN"></p:outputLabel>
				<p:inputText value="#{testCi2EcoBean.pin}"></p:inputText>

				<p:outputLabel value="Placa"></p:outputLabel>
				<p:inputText value="#{testCi2EcoBean.placa}"></p:inputText>

				<p:outputLabel value="Tipo Rtm"></p:outputLabel>
				<p:selectOneListbox value="#{testCi2EcoBean.tipoRtm}">
					<f:selectItem itemLabel="Primera Inspeccion" itemValue="1"></f:selectItem>
					<f:selectItem itemLabel="Segunda Inspeccion" itemValue="2"></f:selectItem>
				</p:selectOneListbox>

				<p:outputLabel value="revisionId"></p:outputLabel>
				<p:inputText value="#{testCi2EcoBean.revisionId}"></p:inputText>

				<p:outputLabel></p:outputLabel>
				<p:commandButton value="Utilizar PIN" process="@this,panel_pin"
					update=":form:resultado :form:growl"
					actionListener="#{testCi2EcoBean.utilizarPin(ae)}"></p:commandButton>

			</p:panelGrid>

			<h:outputLabel value="REALIZAR PRIMER ENVIO FUR" />
			<p:panelGrid columns="2">

				<p:outputLabel value="revisionId"></p:outputLabel>
				<p:inputText value="#{testCi2EcoBean.revisionId}"
					id="revision_id_primer_envio"></p:inputText>

				<p:outputLabel></p:outputLabel>
				<p:commandButton value="Primer Envio Runt"
					process="revision_id_primer_envio,@this"
					update=":form:resultado :form:growl"
					actionListener="#{testCi2EcoBean.primerEnvioFormulario(ae)}"></p:commandButton>

			</p:panelGrid>

			<h:outputLabel value="REALIZAR SEGUNDO ENVIO FUR" />
			<p:panelGrid columns="2">



				<p:outputLabel value="revisionId"></p:outputLabel>
				<p:inputText value="#{testCi2EcoBean.revisionId}"></p:inputText>

				<p:outputLabel></p:outputLabel>
				<p:commandButton value="Segundo Envio Runt" process="@form"
					update=":form:resultado :form:growl"
					actionListener="#{testCi2EcoBean.realizarSegundoEnvioFormulario(ae)}"></p:commandButton>

			</p:panelGrid>

			<p:panel id="resultado">
				<p:panelGrid columns="2">

					<p:outputLabel value="PIN"></p:outputLabel>
					<p:outputLabel value="#{testCi2EcoBean.pin}"></p:outputLabel>

					<p:outputLabel value="fecha transaccion"></p:outputLabel>
					<p:outputLabel value="#{testCi2EcoBean.resultado.fechaTransaccion}"></p:outputLabel>

					<p:outputLabel value="hora transaccion"></p:outputLabel>
					<p:outputLabel value="#{testCi2EcoBean.resultado.horaTransaccion}"></p:outputLabel>

					<p:outputLabel value="codigo respuesta"></p:outputLabel>
					<p:outputLabel value="#{testCi2EcoBean.resultado.codigoRespuesta}"></p:outputLabel>

					<p:outputLabel value="Mensaje de respuesta"></p:outputLabel>
					<p:outputLabel value="#{testCi2EcoBean.resultado.mensajeRespuesta}"></p:outputLabel>

					<p:outputLabel value="Confirmacion"></p:outputLabel>
					<p:outputLabel value="#{testCi2EcoBean.resultado.confirmacion}"></p:outputLabel>


				</p:panelGrid>
			</p:panel>

			<o:socket channel="notify" onmessage="someCommandScript" />
			<h:form id="form_notificacion">
				<p:growl id="growl_notificacion"></p:growl>
				<o:commandScript name="someCommandScript"
					action="#{notificacionBean.pushed(message)}"
					render=":form_notificacion:growl_notificacion" />
			</h:form>

		</h:form>

	</ui:define>

</ui:composition>
