<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<p:growl autoUpdate="true"></p:growl>
			<p:panelGrid columns="4">
				<p:commandButton value="Nuevo" process="@this tabla_tipos_equipo"
					update=":form:detalle_tipos_equipo"
					actionListener="#{tiposEquipoBean.nuevoTipoEquipo}"
					oncomplete=" PF('dialogo').show()"></p:commandButton>
				<p:commandButton id="boton_editar" value="Editar"
					process="@this tabla_tipos_equipo"
					disabled="#{empty tiposEquipoBean.tipoEquipoSeleccionado.tipoEquipoId}"
					update=":form:detalle_tipos_equipo"
					actionListener="#{tiposEquipoBean.atachTipoEquipo}"
					oncomplete=" PF('dialogo').show()"></p:commandButton>

			</p:panelGrid>
			<p:dataTable id="tabla_tipos_equipo" selectionMode="single"
				value="#{tiposEquipoBean.listaTiposEquipo}" var="tipoEquipo"
				selection="#{tiposEquipoBean.tipoEquipoSeleccionado}"
				rowKey="#{tipoEquipo.tipoEquipoId}">
				<p:ajax event="rowSelect" process="tabla_tipos_equipo"
					update=":form:boton_editar" />
				<p:column headerText="id tipo equipo">
					<h:outputText value="#{tipoEquipo.tipoEquipoId}" />
				</p:column>
				<p:column headerText="Descripcion">
					<h:outputText value="#{tipoEquipo.nombreTipoEquipo}" />
				</p:column>
			</p:dataTable>


			<p:dialog widgetVar="dialogo" header="Informacion de equipo"
				modal="true">
				<p:ajax event="close" update="tabla_tipos_equipo" />
				<p:outputPanel id="detalle_tipos_equipo">

					<p:panelGrid columns="2">
						<h:outputLabel value="Tipo Equipo Id" />
						<h:inputText
							value="#{tiposEquipoBean.tipoEquipoSeleccionado.tipoEquipoId}"
							required="true" requiredMessage="Id tipo de equipo requerido"
							validatorMessage="Id tipo equipo requerido" />

						<h:outputLabel value="Descripcion Tipo Equipo" />
						<h:inputText
							value="#{tiposEquipoBean.tipoEquipoSeleccionado.nombreTipoEquipo}"
							required="true"
							requiredMessage="Descripcion de tipo de equipo requerida"
							validatorMessaje="Descripcion de tipo de equipo requerida." />

					</p:panelGrid>

					<p:commandButton value="Guardar"
						process="@this :form:detalle_tipos_equipo" 
						actionListener="#{tiposEquipoBean.guardarCambios}"
						oncomplete="PF('dialogo').hide()"></p:commandButton>

				</p:outputPanel>
			</p:dialog>

		</h:form>
	</ui:define>

</ui:composition>
