<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">
	
	<ui:define name="head">
	
	</ui:define>
	<ui:define name="content">
	<h:form id="form">
		<p:growl autoUpdate="true"></p:growl>
		<p:panelGrid columns="4">
			<p:commandButton value="Nuevo" process="@this tabla_usuarios"  update=":form:detalle_usuario" actionListener="#{usuariosBean.nuevoUsuario}" oncomplete=" PF('dialogo').show()"></p:commandButton>
			<p:commandButton id="boton_editar" value="Editar" process="@this tabla_usuarios" disabled="#{empty usuariosBean.usuarioSeleccionado.usuarioId}" update=":form:detalle_usuario" actionListener="#{usuariosBean.atachUsuario}" oncomplete=" PF('dialogo').show()"></p:commandButton>
			
		</p:panelGrid>	
		<p:dataTable id="tabla_usuarios"  selectionMode="single" value="#{usuariosBean.listaUsuarios}" var="usuario"  selection="#{usuariosBean.usuarioSeleccionado}" rowKey="#{usuario.usuarioId}" >
			 <p:ajax event="rowSelect" process="tabla_usuarios" update=":form:boton_editar" />
			<p:column headerText="id">
				<h:outputText value="#{usuario.usuarioId}" />				
			</p:column>
			<p:column headerText="alias usuario">
				<h:outputText value="#{usuario.aliasUsuario}" />
			</p:column>
			<p:column headerText="cedula">
				<h:outputText value="#{usuario.cedula}" />
			</p:column>
			<p:column headerText="Nombres">
				<h:outputText value="#{usuario.nombres}" />				
			</p:column>
			<p:column headerText="Apellidos">
				<h:outputText value="#{usuario.apellidos}" />
			</p:column>						
		</p:dataTable>
		
		
		<p:dialog widgetVar="dialogo"  header="Informacion de Usuario" modal="true" draggable="true" >
		<p:outputPanel id="detalle_usuario" >
		 <div class="ui-fluid">
			<p:panelGrid columns = "4">
				<h:outputLabel value="Nombre de Usuario" />
				<p:inputText value="#{usuariosBean.usuarioSeleccionado.aliasUsuario}" required="true" requiredMessage="Nombre usuario requerido" validatorMessage="Nombre Usuario requerido"/>
				
				<h:outputLabel value="Nombres" />
				<p:inputText value="#{usuariosBean.usuarioSeleccionado.nombres}" required="true" requiredMessage="Nombres requerido" validatorMessaje="Nombres Requerido"/>
				
				<h:outputLabel value="Apellidos" />
				<p:inputText value="#{usuariosBean.usuarioSeleccionado.apellidos}" required="true" requiredMessage="Apellidos requerido" validatorMessaje="Apellidos requerido"/>
				
				<p:outputLabel value="Tipo Identificacion :" />
					<p:selectOneMenu
						value="#{usuariosBean.usuarioSeleccionado.tipoIdentificacion}">
						<f:selectItem itemValue="C" itemLabel="Cedula Ciudadania" />
						<f:selectItem itemValue="N" itemLabel="NIT" />
						<f:selectItem itemValue="X" itemLabel="NN" />
						<f:selectItem itemValue="P" itemLabel="Pasaporte" />
						<f:selectItem itemValue="E" itemLabel="Cedula de Extranjeria" />
						<f:selectItem itemValue="T" itemLabel="Tarjeta de Identidad" />
						<f:selectItem itemValue="U" itemLabel="Registro Civil" />
						<f:selectItem itemValue="D" itemLabel="Carne Diplomatico" />
						<f:selectItem itemValue="O" itemLabel="TI2" />
					</p:selectOneMenu>
				
				<h:outputLabel value="Identificacion" />
				<p:inputText value="#{usuariosBean.usuarioSeleccionado.cedula}" required="true" requiredMessage="Cedula requerida" validatorMessage="Cedula Requerida"/>			
				
				
				
			</p:panelGrid>
			
			
			<p:panel header="Password">
				<h:panelGrid columns = "4">
					<h:outputLabel value="Password" />
					<p:inputText value="#{usuariosBean.password}"/>
	
					<h:outputLabel value="ConfirmarPassword"/>
					<p:inputText value="#{usuariosBean.confimacionPassword}" />
				</h:panelGrid>					
			</p:panel>
			
			<p:panel  header="Roles">
				<p:selectManyCheckbox value="#{usuariosBean.rolesUsuario}" converter="#{rolConverter}" layout="grid" columns="6">
	            	<f:selectItems value="#{usuariosBean.roles}" var="rol" itemLabel="#{rol.nombreRol}" itemValue="#{rol}" />
	        	</p:selectManyCheckbox>
        	</p:panel>
			
			<p:commandButton  value="Guardar" disabled="#{usuariosBean.deshabilitarGuardar}"  process="@this :form:detalle_usuario" update="@all" actionListener="#{usuariosBean.guardarCambios}" ></p:commandButton>
			</div>
		</p:outputPanel>	
		</p:dialog>
		
	</h:form>
	</ui:define>
		
</ui:composition>
