<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<p:growl autoUpdate="true">
			</p:growl>
			<p:panelGrid>
				<p:row>
					<p:column>Fecha Inicio</p:column>
					<p:column>
						<p:calendar
							value="#{informeVerificacionesLinealidadBean.fechaInicial}"
							id="fechainicio">
						</p:calendar>
					</p:column>
					<p:column>Fecha Fin</p:column>
					<p:column>
						<p:calendar
							value="#{informeVerificacionesLinealidadBean.fechaFinal}"
							id="fechafin">

						</p:calendar>
					</p:column>
					<p:column>
						<p:commandButton value="CONSULTAR"
							process="@this fechainicio fechafin" update=":form:infoPruebas"
							actionListener="#{informeVerificacionesLinealidadBean.consultarVerificaciones}"
							ajax="true" onclick="PF('pbAjax').start()"></p:commandButton>
					</p:column>
					<p:column>
						<h:commandLink value="Exportar">
							<p:dataExporter type="xls" target="infoPruebas" fileName="verlin" />
						</h:commandLink>
					</p:column>

				</p:row>
			</p:panelGrid>


			<p:dataTable id="infoPruebas"
				value="#{informeVerificacionesLinealidadBean.verificaciones}"
				var="verificacion" paginator="true"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15" rowIndexVar="numeroFila" emptyMessage="No se encontraron resultados">
				<p:column headerText="Numero ">
					<h:outputText value="#{verificacion.verificacionLinealidadId}" />
				</p:column>
				<p:column headerText="Fecha Verificacion">
					<h:outputText value="#{verificacion.fechaVerificacion}">
						<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
					</h:outputText>
				</p:column>
				<p:column headerText="Serial Opacimetro">
					<h:outputText value="#{verificacion.serieOpacimetro}" />
				</p:column>
				<p:column headerText="Marca">
					<h:outputText value="#{informeVerificacionesLinealidadBean.consultarMarcaAnalizador(verificacion.serieOpacimetro)}" />
				</p:column>
				<p:column headerText=" V/r Filtro 1">
					<h:outputText value="#{verificacion.valorFiltro1}" />
				</p:column>
				<p:column headerText="V/r Filtro 2">
					<h:outputText value="#{verificacion.valorFiltro2}" />
				</p:column>
				<p:column headerText="V/r Filtro 3">
					<h:outputText value="#{verificacion.valorFiltro3}" />
				</p:column>
				<p:column headerText="V/r Filtro 4">
					<h:outputText value="#{verificacion.valorFiltro4}" />
				</p:column>

				<p:column headerText="Resultado Filtro 1">
					<h:outputText value="#{verificacion.resutadoFiltro1}" />
				</p:column>
				<p:column headerText="Resultado Filtro 2">
					<h:outputText value="#{verificacion.resultadoFiltro2}" />
				</p:column>
				<p:column headerText="Resultado filtro 3">
					<h:outputText value="#{verificacion.resultadoFiltro3}" />
				</p:column>
				<p:column headerText="Resultado filtro 4">
					<h:outputText value="#{verificacion.resutadoFiltro4}" />
				</p:column>
				<p:column headerText="Concepto">
					<p:outputLabel
						value="#{verificacion.isAprobada() ? 'Aprobada': 'Reprobada'}"
						disabled="true"></p:outputLabel>
				</p:column>
				<p:column headerText="Cedula Usuario">
					<h:outputText
						value="#{informeVerificacionesLinealidadBean.consultarUsuario(verificacion.usuarioId).cedula}" />
				</p:column>
				<p:column headerText="Nombres">
					<h:outputText
						value="#{informeVerificacionesLinealidadBean.consultarUsuario(verificacion.usuarioId).nombres}" />
				</p:column>
				<p:column headerText="Apellidos">
					<h:outputText
						value="#{informeVerificacionesLinealidadBean.consultarUsuario(verificacion.usuarioId).apellidos}" />
				</p:column>
				<p:column>
					<h:commandLink action="#{informeVerificacionesLinealidadBean.verReporte(verificacion.verificacionLinealidadId)}" value="Reporte" />
				</p:column>
				
			</p:dataTable>

		</h:form>
	</ui:define>

</ui:composition>
