<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="head">

	</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<p:growl autoUpdate="true">
			</p:growl>
			<p:panelGrid>
				<p:row>
					<p:column>Fecha Inicio</p:column>
					<p:column>
						<p:calendar
							value="#{informeVerificacionesGasolinaBean.fechaInicial}"
							id="fechainicio">
						</p:calendar>
					</p:column>
					<p:column>Fecha Fin</p:column>
					<p:column>
						<p:calendar
							value="#{informeVerificacionesGasolinaBean.fechaFinal}"
							id="fechafin">

						</p:calendar>
					</p:column>
					<p:column>
						<p:commandButton value="CONSULTAR"
							process="@this fechainicio fechafin" update=":form:infoPruebas"
							actionListener="#{informeVerificacionesGasolinaBean.consultarVerificaciones}"
							ajax="true"></p:commandButton>
					</p:column>
					<p:column>
						<h:commandLink value="Exportar">
							<p:dataExporter type="xls" target="infoPruebas" fileName="verlin" />
						</h:commandLink>
					</p:column>

				</p:row>
			</p:panelGrid>


			<p:dataTable id="infoPruebas" style="width:2500px"
				value="#{informeVerificacionesGasolinaBean.verificaciones}"
				var="verificacion" paginatorAlwaysVisible="true"
				rowIndexVar="numeroFila" emptyMessage="No se han encontrado resultados">
				<p:column>
					<h:outputText value="#{verificacion.verificacionId}" />
				</p:column>

				<p:column headerText="PEF">
					<h:outputText value="#{verificacion.pef}">
					<f:convertNumber pattern="0.000" />
					</h:outputText>
				</p:column>

				<p:column headerText="Serial Banco">
					<h:outputText value="#{verificacion.numeroSerieEquipo}" />
				</p:column>
				<p:column headerText="Serial Analizador">
					<h:outputText
						value="#{informeVerificacionesGasolinaBean.consultarSerialExternoEquipo(verificacion.numeroSerieEquipo)}" />
				</p:column>
				
				<p:column headerText = "Tipo verificacion">
					<h:outputText value="#{verificacion.tipoVerificacion.name()}">						
					</h:outputText>
				</p:column>
				
				
				<p:column headerText="V/r Gas Ref  Bajo HC">
					<h:outputText value="#{verificacion.valorGasRefBajaHC}">
						<f:convertNumber pattern="#" />
					</h:outputText>
				</p:column>
				<p:column headerText="V/r Gas Ref Bajo CO">
					<h:outputText value="#{verificacion.valorGasRefBajaCO}">
						<f:convertNumber pattern="#0.00" />
					</h:outputText>
				</p:column>
				<p:column headerText="V/r Gas Ref Bajo CO2">
					<h:outputText value="#{verificacion.valorGasRefBajaCO2}">
						<f:convertNumber pattern="#0.0" />
					</h:outputText>
				</p:column>
				<p:column headerText="V/r Gas Ref Alto HC">
					<h:outputText value="#{verificacion.valorGasRefAltaHC}">
						<f:convertNumber pattern="#" />
					</h:outputText>
				</p:column>
				<p:column headerText="V/r Gas Ref Alto CO">
					<h:outputText value="#{verificacion.valorGasRefAltaCO}">
						<f:convertNumber pattern="#0.00" />
					</h:outputText>
				</p:column>
				<p:column headerText="V/r Gas Ref Alto CO2">
					<h:outputText value="#{verificacion.valorGasRefAltaCO2}">
						<f:convertNumber pattern="#0.0" />
					</h:outputText>
				</p:column>
				<p:column headerText="Resultado Bajo HC">
					<h:outputText value="#{verificacion.valorBajoHc}">
						<f:convertNumber pattern="#" />
					</h:outputText>
				</p:column>
				<p:column headerText="Resultado Bajo CO">
					<h:outputText value="#{verificacion.valorBajoCo}">
						<f:convertNumber pattern="#0.00" />
					</h:outputText>
				</p:column>
				<p:column headerText="Resultado Bajo CO2">
					<h:outputText value="#{verificacion.valorBajoCo2}">
						<f:convertNumber pattern="#0.0" />
					</h:outputText>
				</p:column>
				<p:column headerText="Resultado Bajo O2">
					<h:outputText value="#{verificacion.valorBajoO2}">
						<f:convertNumber pattern="#0.0" />
					</h:outputText>
				</p:column>
				<p:column headerText="Resultado Alto HC">
					<h:outputText value="#{verificacion.valorAltoHc}">
						<f:convertNumber pattern="#" />
					</h:outputText>
				</p:column>
				<p:column headerText="Resultado Alto CO">
					<h:outputText value="#{verificacion.valorAltoCo}">
						<f:convertNumber pattern="#0.00" />
					</h:outputText>
				</p:column>
				<p:column headerText="Resultado Alto CO2">
					<h:outputText value="#{verificacion.valorAltoCo2}">
						<f:convertNumber pattern="#0.0" />
					</h:outputText>
				</p:column>
				<p:column headerText="Resultado Alto O2">
					<h:outputText value="#{verificacion.valorAltoO2}">
						<f:convertNumber pattern="#0.0" />
					</h:outputText>
				</p:column>
				<p:column headerText="Fecha Verificacion">
					<h:outputText value="#{verificacion.fechaVerificacion}">
						<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
					</h:outputText>
				</p:column>
				<p:column headerText = "Resultado">
					<h:outputText value="#{verificacion.aprobada ? 'Aprobada' : 'Reprobada'}">						
					</h:outputText>
				</p:column>
				<p:column headerText="Nombre Software">
					<h:outputText
						value="#{informeVerificacionesGasolinaBean.nombreSoftware}">
					</h:outputText>
				</p:column>
				<p:column headerText="Version Software">
					<h:outputText
						value="#{informeVerificacionesGasolinaBean.versionSoftware}">
					</h:outputText>
				</p:column>
				<p:column headerText="Cedula Usuario">
					<h:outputText
						value="#{informeVerificacionesGasolinaBean.consultarUsuario(verificacion.usuarioId).cedula}" />
				</p:column>
				<p:column headerText="Nombres">
					<h:outputText
						value="#{informeVerificacionesGasolinaBean.consultarUsuario(verificacion.usuarioId).nombres}" />
				</p:column>
				<p:column headerText="Apellidos">
					<h:outputText
						value="#{informeVerificacionesGasolinaBean.consultarUsuario(verificacion.usuarioId).apellidos}" />
				</p:column>
				<p:column headerText="Reporte">
					<h:commandLink action="#{informeVerificacionesGasolinaBean.verReporte(verificacion.verificacionId)}" value="reporte" />
				</p:column>
			</p:dataTable>

		</h:form>
	</ui:define>

</ui:composition>
