<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/template.xhtml"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">
	<ui:define name="head">
		<f:metadata>
			<f:viewAction action="#{logoutBean.isPasswordUsuarioCaducada}"></f:viewAction>
		</f:metadata>

	</ui:define>

	<ui:define name="content">

		<div class="ui-fluid">
			<h:form id="forminicio">
				<p:growl id="growl" autoUpdate="true"></p:growl>
				<p:ajaxStatus style="display:block;">
					<f:facet name="default">
						<h:outputText value="...." />
					</f:facet>

					<f:facet name="start">
						<p:graphicImage name="/images/logo_proambiente_small.gif" />
					</f:facet>

					<f:facet name="complete">
						<h:outputText value="ok" />
					</f:facet>
				</p:ajaxStatus>

				<p:panel id="panelFechas" style="z-index=-1">
					<div class="ui-fluid">
						<p:panelGrid columns="12" styleClass="ui-responsive"
							columnClasses="ui-grid-col-1,ui-grid-col-2,ui-grid-col-1,ui-grid-col-2,
											ui-grid-col-1,ui-grid-col-1,ui-grid-col-1,ui-grid-col-1,ui-grid-col-2"
							layout="grid">

							<p:outputLabel value="Fecha Inicio"></p:outputLabel>
							<p:calendar value="#{inicioBean.fechaInicial}" id="fechainicio">
							</p:calendar>

							<p:outputLabel value="Fecha Fin"></p:outputLabel>
							<p:calendar value="#{inicioBean.fechaFinal}" id="fechafin"></p:calendar>

							<p:outputLabel value="Segundo Envio "></p:outputLabel>
							<p:selectBooleanCheckbox id="segundo_envio"
								value="#{inicioBean.segundoEnvioRealizado}">
							</p:selectBooleanCheckbox>

			

							<p:outputLabel value="Preventiva "></p:outputLabel>
							<p:selectBooleanCheckbox id="preventiva"
								value="#{inicioBean.preventiva}">
							</p:selectBooleanCheckbox>

							<p:outputLabel value="Ver Certificado"
								></p:outputLabel>

							<p:selectBooleanCheckbox 
								value="#{inicioBean.filtrarCertificado}"
								id="filtrar_certificado"></p:selectBooleanCheckbox>

							<p:commandButton value="RECARGAR"
								process="@this fechainicio fechafin segundo_envio filtrar_certificado preventiva"
								update=":forminicio:infoRevisiones :forminicio:growl"
								actionListener="#{inicioBean.cargarInfoRevisiones()}"
								ajax="true"></p:commandButton>



						</p:panelGrid>
					</div>
				</p:panel>
				<p:panel id="infoRevisiones" style="background-color:#3b5998">
					<p:panel header="Revisiones Registradas No Terminadas">
						<p:dataTable value="#{inicioBean.revisionesPruebasPendientes}"
							rowKey="#{revision.revisionId}" var="revision"
							resizableColumns="true" sortBy="#{revision.numeroInspecciones}">
							<p:column headerText="#">
								<p:outputLabel value="#{revision.revisionId}" style="font-size:small"></p:outputLabel>
							</p:column>
							<p:column headerText="Fecha" priority="2" >
								<p:outputLabel value="#{revision.fechaCreacionRevision}" style="font-size:small">
									<f:convertDateTime pattern="dd-MM" />
								</p:outputLabel>
							</p:column>
							<p:column headerText="Hora" priority="4">
								<p:outputLabel value="#{revision.fechaCreacionRevision}" style="font-size:small">
									<f:convertDateTime pattern="HH:mm" />
								</p:outputLabel>
							</p:column>

							<p:column headerText="PLACA" priority="1" width="70">
								<p:outputLabel value="#{revision.vehiculo.placa}">
								</p:outputLabel>
							</p:column>
							<p:column headerText="Inspec" priority="4">
								<p:outputLabel value="#{revision.numeroInspecciones}">
								</p:outputLabel>
							</p:column>
							<p:column headerText="Prev">
								<p:selectBooleanCheckbox value="#{revision.preventiva}"
									disabled="true">
								</p:selectBooleanCheckbox>
							</p:column>
							<p:column headerText="I.V.">
								<p:outputLabel
									value="#{inicioBean.estadoPrueba(revision,1) eq 'Pendiente' ? '&#10067;':
																	(inicioBean.estadoPrueba(revision,1) eq 'Aprobada' ) ? '&#10004;' : '&#10006;'}">
								</p:outputLabel>
							</p:column>
							<p:column headerText="GAS">
								<p:outputLabel
									value="#{inicioBean.estadoPrueba(revision,8)  eq 'Pendiente' ? '&#10067;':
																	(inicioBean.estadoPrueba(revision,8) eq 'Aprobada' ) ? '&#10004;' :
																	 (inicioBean.estadoPrueba(revision,8) eq 'Reprobada' ) ? '&#10006;'  : 
																	 (inicioBean.estadoPrueba(revision,8) eq 'Abortada' ) ? 'Ab' :
																	 'N/A'}">
								</p:outputLabel>
							</p:column>
							<p:column headerText="LUC">
								<p:outputLabel
									value="#{inicioBean.estadoPrueba(revision,2)  eq 'Pendiente' ? '&#10067;':
																	(inicioBean.estadoPrueba(revision,2) eq 'Aprobada' ) ? '&#10004;' :
																	 (inicioBean.estadoPrueba(revision,2) eq 'Reprobada' ) ? '&#10006;'  : 'N/A'}"></p:outputLabel>
							</p:column>
							<p:column headerText="FREN">
								<p:outputLabel
									value="#{inicioBean.estadoPrueba(revision,5) eq 'Pendiente' ? '&#10067;':
																	(inicioBean.estadoPrueba(revision,5) eq 'Aprobada' ) ? '&#10004;' : '&#10006;'}"></p:outputLabel>
							</p:column>
							<p:column headerText="SUSP">
								<p:outputLabel
									value="#{inicioBean.estadoPrueba(revision,6)  eq 'Pendiente' ? '&#10067;':
																	(inicioBean.estadoPrueba(revision,6) eq 'Aprobada' ) ? '&#10004;' :
																	 (inicioBean.estadoPrueba(revision,6) eq 'Reprobada' ) ? '&#10006;'  : 'N/A'}"></p:outputLabel>
							</p:column>
							<p:column headerText="ALIN">
								<p:outputLabel
									value="#{inicioBean.estadoPrueba(revision,4)  eq 'Pendiente' ? '&#10067;':
																	(inicioBean.estadoPrueba(revision,4) eq 'Aprobada' ) ? '&#10004;' :
																	 (inicioBean.estadoPrueba(revision,4) eq 'Reprobada' ) ? '&#10006;'  : 'N/A'}"></p:outputLabel>
							</p:column>
							<p:column headerText="FOTO">
								<p:outputLabel
									value="#{inicioBean.estadoPrueba(revision,3)  eq 'Pendiente' ? '&#10067;':
																	(inicioBean.estadoPrueba(revision,3) eq 'Aprobada' ) ? '&#10004;' : '&#10006;'}"></p:outputLabel>
							</p:column>
							<p:column headerText="TAX">
								<p:outputLabel
									value="#{inicioBean.estadoPrueba(revision,9)  eq 'Pendiente' ? '&#10067;':
																	(inicioBean.estadoPrueba(revision,9) eq 'Aprobada' ) ? '&#10004;' :
																	 (inicioBean.estadoPrueba(revision,9) eq 'Reprobada' ) ? '&#10006;'  : 'N/A'}"></p:outputLabel>
							</p:column>
							<p:column headerText="RUI">
								<p:outputLabel
									value="#{inicioBean.estadoPrueba(revision,7)  eq 'Pendiente' ? '&#10067;':
																	(inicioBean.estadoPrueba(revision,7) eq 'Aprobada' ) ? '&#10004;' :
																	 (inicioBean.estadoPrueba(revision,7) eq 'Reprobada' ) ? '&#10006;'  : 'N/A'}"></p:outputLabel>
							</p:column>
							<p:column>

								<p:commandLink
									action="#{inicioBean.imprimirReporte(revision.revisionId)}"
									immediate="true" ajax="false" target="_blank" value="FUR"
									update="@all" process="@this">
								</p:commandLink>
							</p:column>
							<p:column priority="4">
								<p:commandButton
									actionListener="#{inicioBean.verPruebas(revision.revisionId)}"
									value="Prue" ajax="false"></p:commandButton>
							</p:column>
							<p:column>
								<!-- si la salida del outcome no es valida, se muestra un span -->
								<h:link outcome="pages/revisiones" value="Dat">
									<f:param name="revisionId" value="#{revision.revisionId}" />
								</h:link>
							</p:column>
							<p:summaryRow listener="#{inicioBean.calcularTotal}">
								<p:column colspan="14" style="text-align:right" headerText="">
									<h:outputText value="Total:" />
								</p:column>
								<p:column>
									<h:outputText value="#{inicioBean.numeroRevisionesIntento}">
									</h:outputText>
								</p:column>
							</p:summaryRow>
						</p:dataTable>
					</p:panel>




					<!-- Tabla con las revisiones terminadas -->
					<p:panel>

						<p:panel header="Revisiones Terminadas">
							<p:dataTable value="#{inicioBean.revisionesPruebasTerminadas}"
								var="revision" id="tabla_revisiones_terminadas"
								widgetVar="tabla_revisiones_terminadas_wv"
								rowKey="#{revision.revisionId}"
								filteredValue="#{inicioBean.revisionesFiltradas}"
								sortBy="#{revision.numeroInspecciones}" resizableColumns="true">
								<p:column headerText="#" width="30">
									<p:outputLabel value="#{revision.revisionId}" style="font-size:small"></p:outputLabel>
								</p:column>
								<p:column headerText="Fecha" width="20">
									<p:outputLabel value="#{revision.fechaCreacionRevision}" style="font-size:small">
										<f:convertDateTime pattern="dd-MM" />
									</p:outputLabel>
								</p:column>
								<p:column headerText="Hora" width="20">
									<p:outputLabel value="#{revision.fechaCreacionRevision}"  style="font-size:small">
										<f:convertDateTime pattern="HH:mm" />
									</p:outputLabel>
								</p:column>
								<p:column headerText="PLACA" width="70"
									filterBy="#{revision.vehiculo.placa}">
									<p:outputLabel value="#{revision.vehiculo.placa}">
									</p:outputLabel>
								</p:column>
								<p:column headerText="Prev" width="10">
									<p:selectBooleanCheckbox value="#{revision.preventiva}"
										disabled="true">
									</p:selectBooleanCheckbox>
								</p:column>
								<p:column headerText="Insp" width="10">
									<p:outputLabel value="#{revision.numeroInspecciones}"></p:outputLabel>
								</p:column>
								<p:column headerText="Estado"
									filterBy="#{inicioBean.estadoRevision(revision.revisionId)}">
									<p:outputLabel  style="font-size:x-small"
										value="#{inicioBean.estadoRevision(revision.revisionId) eq 'aprobada' ? 'APROBADA' : 'reprobada'}" />
								</p:column>
								<p:column rendered="#{inicioBean.filtrarCertificado}"
									headerText="Certif"
									filterBy="#{inicioBean.numeroCertificado(revision.revisionId,revision.aprobada)}">
									<p:outputLabel  style="font-size:x-small"
										value="#{inicioBean.numeroCertificado(revision.revisionId,revision.aprobada)}"
										rendered="#{inicioBean.filtrarCertificado}"></p:outputLabel>
								</p:column>
								
								<p:column width="30">
									<p:commandButton
										actionListener="#{inicioBean.abrirDialogoJefeTecnico(revision.revisionId)}"
										value="JTec" process="@this" update="@all" target="_self"  style="font-size:small">

									</p:commandButton>
								</p:column>
								<p:column headerText="I Env" width="35">
									<p:commandButton
										action="#{inicioBean.validarSicov(revision.revisionId)}"
										value="1E" update="@form" process="@this"></p:commandButton>
								</p:column>

								<p:column headerText="2 Env" width="35">
									<p:commandButton
										action="#{inicioBean.validarSicov2Envio(revision.revisionId)}"
										value="2E" update="@form" process="@this"></p:commandButton>
								</p:column>
								<p:column headerText="RUNT"
									filterBy="#{revision.consecutivoRunt}">
									<p:outputLabel value="#{revision.consecutivoRunt}"  style="font-size:x-small"></p:outputLabel>
								</p:column>
								<p:column headerText="1e" width="10">
									<p:outputLabel
										value="#{revision.primerEnvioRealizado ? '&#10004;' : '&#10006;' }"
										style="#{revision.primerEnvioRealizado ?  'background-color:green':'background-color:red' }" />
								</p:column>
								<p:column headerText="2e" width="10">
									<p:outputLabel
										value="#{revision.segundoEnvioRealizado ? '&#10004;' : '&#10006;' }"
										style="#{revision.segundoEnvioRealizado ?  'background-color:green':'background-color:red' }" />
								</p:column>
								<p:column width="15">
									<p:commandLink
										action="#{inicioBean.imprimirReporte(revision.revisionId)}"
										immediate="true" ajax="false" target="_blank" value="FUR"
										update="@all" process="@this">
									</p:commandLink>
								</p:column>
								<p:column width="50">
									<p:commandButton
										actionListener="#{inicioBean.verPruebas(revision.revisionId)}"
										value="Prue"></p:commandButton>
								</p:column>
								<p:column width="15">
									<h:link outcome="pages/revisiones" value="Dat">
										<f:param name="revisionId" value="#{revision.revisionId}" />
									</h:link>
								</p:column>
								<p:column width="40">
									<p:commandButton
										actionListener="#{inicioBean.imprimirCertificado(revision.revisionId)}"
										value="Cert" process="@this" update=":forminicio:growl" target="_self">

									</p:commandButton>
									
									
								</p:column>
								<p:column width="30">
									<p:commandButton
										actionListener="#{inicioBean.abrirDialogoConsecutivos(revision.revisionId)}"
										value="#" process="@this" update="@all" target="_self">

									</p:commandButton>
								</p:column>

								<p:summaryRow listener="#{inicioBean.calcularTotalFinalizadas}">
									<p:column colspan="13" style="text-align:right" headerText="">
										<h:outputText value="Total:" />
									</p:column>
									<p:column>
										<h:outputText
											value="#{inicioBean.numeroInspeccionesRevFinalizadas}">
										</h:outputText>
									</p:column>
								</p:summaryRow>

							</p:dataTable>
						</p:panel>

					</p:panel>

					<p:sticky target="panelFechas" />

				</p:panel>

				<p:panel id="resultadoenvio" header="envio" visible="#{inicioBean.resultadoEnvioVisible}">
					<p:outputLabel value="#{inicioBean.alerta}"></p:outputLabel>
					<p:commandButton	styleClass="ui-button-warning"
										actionListener="#{inicioBean.ocultarResultadoEnvio()}"
										value="Cerrar" process="@this" update=":forminicio:resultadoenvio" >

									</p:commandButton>
				</p:panel> 

			</h:form>
		</div>

		<o:socket channel="notify" 
				onmessage="scriptNotify" />
			<h:form>
			<o:commandScript name="scriptNotify" action="#{inicioBean.pushed(message)}"
				render=":forminicio:resultadoenvio :forminicio:growl" />
			</h:form>	
	</ui:define>
</ui:composition>
