<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Prortm - Error</title>
    </h:head>

    <h:body styleClass="exception-body error">

        <div class="exception-content">
            <div class="moon">
                <p:graphicImage name="images/pages/asset-moon.svg" library="mirage-layout" />
            </div>
            <div class="exception-panel">
                <div class="exception-panel-content">
                    <span class="tag"><i class="pi pi-exclamation-triangle" style="vertical-align: bottom"/></span>
                    <h1>Error Occured</h1>
                    <div class="seperator"></div>
                    <p>Something went wrong. </p>
                    <p:button value="Ir al inicio" outcome="/inicio"/> 
                </div>
            </div>
            <div class="desert"></div>
        </div>

        <h:outputStylesheet name="css/layout-blue-light.css" library="mirage-layout" />

    </h:body>

</html>

