<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/template.xhtml"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="head">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
		<f:metadata>
			<f:viewAction action="#{logoutBean.isPasswordUsuarioCaducada}"></f:viewAction>
		</f:metadata>
	</ui:define>

	<ui:define name="content">
		
	</ui:define>
</ui:composition>
