<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<meta charset="utf-8"></meta>
  <title>Error Autenticacion</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <meta name="generator" content="Webflow"></meta>
  <h:outputStylesheet name="css/normalize.css"></h:outputStylesheet>
  <h:outputStylesheet name="css/webflow.css"></h:outputStylesheet>
  <h:outputStylesheet name="css/errorautenticacion.webflow.css"></h:outputStylesheet>
<!--   <link rel="stylesheet" type="text/css" href="css/normalize.css"> -->
<!--   <link rel="stylesheet" type="text/css" href="css/webflow.css"> -->
<!--   <link rel="stylesheet" type="text/css" href="css/errorautenticacion.webflow.css"> -->
   <link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/placeholder/favicon.ico"></link>
</h:head> 
<body> 
<div>
    <h1>Autenticacion Incorrecta</h1>
  </div>
  <div class="w-container stop">
  <h:graphicImage value="/resources/images/login.png" styleClass="hand" />    
  </div>
  <p>Usuario o password incorrecto intente de nuevo
    <br/>
    <br/> pulse boton atras en el navegador</p>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <h:outputScript name="js/webflow.js"></h:outputScript> 


</body> 
</html>
