<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>PRORTM</title>
        <h:outputScript name="js/layout.js" library="mirage-layout" />

        <script type="text/javascript">
            //<![CDATA[
            function changeMode() {
                var body = $('.login-body');

                if (body) {
                    if (body.hasClass('layout-dark')) {
                        body.removeClass('layout-dark').addClass('layout-light');
                    } else {
                        body.removeClass('layout-light').addClass('layout-dark');
                    }
                }
            }
            //]]>
        </script>
    </h:head>

    <h:body styleClass="login-body layout-dark">

        <div class="login-content">
            <div class="night-switch">
                <h:form>
                    <p:commandButton styleClass="dark-switch"  icon="pi pi-circle-on" oncomplete="changeMode()" />
                    <p:commandButton styleClass="light-switch"  icon="pi pi-circle-off" oncomplete="changeMode()" />
                </h:form>
            </div>
            <div class="login-panel">
                <div class="login-panel-content">
                    <div class="logo">
                        <p:graphicImage name="images/logo_web.png" library="mirage-layout" />
                    </div>
                    <h1>Ingreso </h1>
                    <p>Bienvenido, por favor ingrese al sistema</p>
                    <h:form styleClass="forms" id="login"
        					onsubmit="document.getElementById('login').action='j_security_check';"
        					prependId="false">
                        <div class="login-input-wrapper">
                            <p:outputLabel for="j_username" value="Nombre usuario" />
                            <p:inputText id="j_username"  name="j_username" placeholder="Nombre de usuario" />
                            <i class="pi pi-user"/>
                        </div>

                        <div class="login-input-wrapper">
                            <p:outputLabel for="j_password" value="Password" />
                            <p:password id="j_password" name="j_password" placeholder="Type your password" feedback="false" />
                            <i class="pi pi-lock"/>
                        </div>

                        <p:selectManyCheckbox layout="responsive" columns="1">
                            <f:selectItem itemLabel="Remember me" itemValue="SaveInfo" />
                        </p:selectManyCheckbox>

                        <div class="buttons">
                            <p:commandButton value="Login" ajax="false" id="submit" />
                           
                        </div>
                    </h:form>
                </div>
            </div>

            <div class="desert"></div>
        </div>

        <h:outputStylesheet name="css/layout-blue-light.css" library="mirage-layout" />

    </h:body>

</html>
					