<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
<meta charset="utf-8"></meta>
  <title>Acceso no autorizado</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="generator" content="Webflow"></meta>
  <h:outputStylesheet name="css/normalize.css"></h:outputStylesheet>
  <h:outputStylesheet name="css/webflow.css"></h:outputStylesheet>
  <h:outputStylesheet name="css/blank-site1408664265551.webflow.css"></h:outputStylesheet>
<!--   <link rel="stylesheet" type="text/css" href="resources/css/normalize.css"/> -->
<!--   <link rel="stylesheet" type="text/css" href="resources/css/webflow.css"/>  -->
<!--   <link rel="stylesheet" type="text/css" href="resources/css/blank-site1408664265551.webflow.css"/> -->
<h:outputScript name="js/modernizr.js"></h:outputScript>
  <script type="text/javascript" src="resources/js/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/placeholder/favicon.ico"/>
</h:head>
<h:body>

	<div>
    <h1>Acceso Denegado</h1>
  </div>
  <div class="w-container stop">
  <h:graphicImage value="/resources/images/stop-hand.png"  styleClass="hand" width="400"></h:graphicImage>
<!--     <img class="hand" src="images/stop-hand.png" width="400" alt="53f767a2e3f12bc244c60bd1_stop-hand.png"></img> -->
  </div>
  <p>El acceso al recurso esta prohibido para el usuario.
    <br/>
    <br/>Intente acceder con usuario con mayor nivel de privilegio</p>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <h:outputScript name="js/webflow.js"></h:outputScript>
<!--   <script type="text/javascript" src="resources/js/webflow.js"></script> -->
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  	<h:form>	
	<h:commandLink action="inicio" value="&lt;&lt;&lt; Volver al Inicio" styleClass="button"/>
	</h:form>
</h:body>
</html>
